[2021-11-22 20:39] andrewtavis opened #1 "Refactor Scribe-iOS so it's more modular"
Time deadlines for finishing the MVP of Scribe has the code far less modular than it should be. Specifically, [KeyboardViewController.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/KeyboardViewController.swift) has far too much of the logic of the keyboards and needs to be split into separate files. Suggestions on how best to break up larger files would be apprec

[2021-11-22 20:49] andrewtavis opened #2 "Add autocorrect"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

A major system keyboard feature that Scribe still lacks is autocorrect. This feature would ideally func

[2021-11-22 20:51] andrewtavis opened #3 "[deleted] Add autocomplete / predictive text"
A major system keyboard feature that Scribe still lacks is autocomplete. This feature would ideally function in both the normal text proxy and the Scribe command bar so that a user could quickly type in a word to translate, conjugate or get the plural for. The data for each Scribe keyboard could likely be used as a reference for this feature.

Discussions of how best to implement this feature and

[2021-11-22 21:04] andrewtavis opened #4 "Fix issue with selectKeyboard long-press"
## Priority ⚠️

There is a bug with the `selectKeyboard` button where it cannot be long pressed to select another keyboard after another key has been pressed.

How to reproduce:
Select a Scribe keyboard, and then press and hold the `🌐` key to select a keyboard. It functions normally. Then press any key and try to long press the `🌐` key. At this point you won't be able to select a keyboard and will

[2021-11-22 21:23] andrewtavis opened #5 "Combine hold-to-select character implementation"
Hold-to-select characters have been the hardest part of the Scribe UI to implement. One of the issues that would be good for a first time contributor would be to combine all the functions related to in into one. Currently at the bottom of [KeyboardViewController.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/KeyboardViewController.swift) there's the function `set

[2021-11-22 21:44] andrewtavis opened #6 "Add Russian keyboard"
Adding a Russian keyboard to Scribe is a major priority. Russian has all the characteristics of a language that Scribe could really help with. Beyond this, there is as of now a good amount of data on [Wikidata](https://www.wikidata.org/), as can be seen in the [queries](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/Russian/).

A baseline keyboard could be made for nouns at time of writin

[2021-11-22 21:49] andrewtavis opened #7 "Add English keyboard"
### Terms

- [X] I have searched [open new keyboard issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3A%22new+keyboard%22)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)
- [X] This issue is about one language, and I've changed the title to reflect this

### What's needed

Addin

[2021-11-22 22:34] andrewtavis opened #8 "Create functional testing files and ci process"
### Terms

- [x] I have searched [open and closed issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue)
- [x] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Issue

Testing for Scribe and a continuous integration process would be very helpful to assure that pull requests can merged without issue. Di

[2021-11-22 22:43] andrewtavis opened #9 "Localize Scribe-iOS across baseline regions"
### Terms

- [x] I have searched [open localization issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+is%3Aopen+label%3Alocalization)
- [x] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

At the time of writing Scribe is not localized at all. The language for the app across all regio

[2021-11-22 23:03] andrewtavis opened #10 "Move data files to new repository in scribe-org"
This issue is of great importance for the eventual port of Scribe over to Android in [Scribe-Android](https://github.com/scribe-org/Scribe-Android) and also to desktop in [Scribe-Desktop](https://github.com/scribe-org/Scribe-Desktop). Once either of these projects is under way, there would be no point in maintaining two different versions of all of the data JSON files that the keyboards reference.

[2021-11-22 23:07] andrewtavis opened #11 "Documentation for Scribe"
### Terms

- [x] I have searched [open and closed issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue)
- [x] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Issue

Functions and variables are generally documented in Scribe, but this should be expanded on so that there can be a reference to help new

[2021-11-22 23:24] andrewtavis opened #12 "Ideas for future preview bar information"
This issue is for discussing further grammatical information that can be displayed to the user in the preview bar that could help with language learning. One of the great features of Scribe is reinforcing grammatical concepts through just using the keyboards. At time of writing Scribe can display noun genders, whether nouns are singular or plural, and preposition cases. It would be great to think

[2021-11-22 23:32] andrewtavis opened #13 "[deleted] Long press annotations and command bar for information"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This feature would be implemented once more data on lexemes is added to [Wikidata](https://www.wikidata

[2021-11-22 23:38] andrewtavis opened #14 "Undo functionality"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is for discussing and implementing an undo button for both iPads and iPhones. Code snippets

[2021-11-22 23:45] andrewtavis opened #15 "[Deleted] Long press functionality for Conjugation"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description
This issue is for discussing the potential for long press functionality for buttons in the `Conjugate` f

[2021-11-22 23:53] andrewtavis opened #16 "Add menu to Scribe app"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is for discussing and implementing a menu with settings to choose which Scribe functionality

[2021-11-23 00:03] andrewtavis opened #17 "Change select noun and preposition annotation features"
This issue could be closed if there is enough feedback that the current way the select noun and preposition annotation features work is ok.

The question is: should it annotate when the words are selected rather than needing to press the `Scribe key`? If so, then implementation could be discussed and tracked here. Initial feedback indicates that maybe these features do not need to be changed as th

[2021-11-23 00:08] andrewtavis opened #18 "[Deleted] Chaining Scribe commands"
This issue is for devising and implementing a way to effectively chain Scribe commands together. Other examples could exist, but the initial idea would be that a user could translate a verb and then conjugate it within a single chain of interactions. `Conjugate` could thus be offered as button on translation options.

Feedback on this and suggestions for other ways to link Scribe commands is welco

[2021-11-23 00:11] andrewtavis opened #19 "Space bar cursor movement and text selection"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is for the implementation of long press functionality for keyboard space bars. The space bar

[2021-11-23 00:17] andrewtavis opened #20 "Add Synonym command"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is for planning and implementing a `Synonym` feature. This would add dramatic value to nativ

[2021-11-23 00:26] andrewtavis opened #21 "[deleted] Order Translate and Synonym suggestions"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is very long term. The idea is that once `Translate` offers the user options, these options

[2021-11-23 00:33] andrewtavis opened #22 "iPad key pull down"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is for planning and implementing key flick functionality for iPads where a key that is on th

[2021-11-23 00:37] andrewtavis opened #23 "Drag to key functionality"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This feature is for planning and implementing `shift`, `123`, `#+=` and `ABC` drag-to-key functionality

[2021-11-23 00:44] andrewtavis opened #24 "Scribe key design"
At time of writing the Scribe key is simply a png file that is referenced by the keyboards. This is not the optimal solution, but rather a working one. This issue is to create a version of the Scribe key that is appropriately rendered across devices. Specifically the png does not change size on iPads, and the click animation is also problematic in that alpha of the full button is not animated.

Th

[2021-11-23 00:51] andrewtavis opened #25 "Fix transition from landscape to portrait"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

This issue is to fix the transition from portrait to landscape so that height is re-rendered. As of now when a u

[2021-11-23 00:59] andrewtavis opened #26 "Hold-to-select design"
This issue is extremely important. Scribe needs to create and implement a proper [Bezier path](https://developer.apple.com/documentation/uikit/uibezierpath) or other design for hold-to-select characters, with this issue including keys popping up when being pressed and removing key pressed coloration where no longer needed.

At time of writing hold-to-select characters are the most glaring design f

[2021-11-23 01:36] andrewtavis opened #27 "Scribe app simplify keyboard activation"
This issue is for improving the appearance of the Scribe app in [ViewController.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Scribe/ViewController.swift) and [AppScreen.storyboard](https://github.com/scribe-org/Scribe-iOS/blob/main/Scribe/Base.lproj/AppScreen.storyboard) including UI to make activating keyboards easier. It would be beneficial to add buttons that link to settings (idea

[2021-11-23 01:40] andrewtavis opened #28 "App and launch screen dynamic design improvements"
This issue is for improving the adaptability of [AppScreen.storyboard](https://github.com/scribe-org/Scribe-iOS/blob/main/Scribe/Base.lproj/AppScreen.storyboard) and [LaunchScreen.storyboard](https://github.com/scribe-org/Scribe-iOS/blob/main/Scribe/Base.lproj/LaunchScreen.storyboard) to make them work better across devices.

Specifically, the text for `Scribe` at the top of [AppScreen.storyboard]

[2021-11-23 01:48] andrewtavis opened #29 "Dynamically size Scribe command UI"
This issue is a major priority for Scribe's UI. What's needed is edits to [KeyboardViewController.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/KeyboardViewController.swift) and [Keyboard.xib](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/Keyboard.xib) files to make Scribe keyboard elements dynamically sized. As of now the height of

[2021-11-23 01:53] andrewtavis opened #30 "Language specific UI elements"
This issue is to discuss and implement edits to [Keyboard.xib](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/Keyboard.xib) to provide language specific UI elements based on grammatical needs. Scribe will eventually need UI so that other grammatical forms can be presented to users, and some will be independent to the given language. For example, Spanish and other langua

[2021-11-23 01:59] andrewtavis opened #31 "Color refinement for light and dark modes"
This issue is to refine colors in both light and dark mode implementations. [ColorVariables.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/ColorVariables.swift) has all the coloration variables for Scribe keyboards, with these values being selected to work for an MVP release. There are surely better versions of many of these colors. The key and background colors

[2021-11-23 02:04] andrewtavis opened #32 "UI layout and key shading for keyboards"
This issue is not a priority at the time of writing, but could be later. A major issue with the design of Scribe keyboards is that key spacing is done via adding borders to the keys that are the same color as the background. This firstly bad practice as the keys should be set out using actual spacing, but also prevents keys from having shading. Shading is an expected UI attribute of keyboards. In

[2021-11-23 02:09] andrewtavis opened #33 "iPad layouts more reflective of system keyboards"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue at time of writing is not a priority, but could be later. The focus is making the iPad version o

[2021-11-23 02:14] andrewtavis opened #34 "Space bar read keyboard name when switched to"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue focuses on a minor UI element missing from Scribe keyboards - that the space bar doesn't cha

[2021-11-23 02:21] andrewtavis opened #35 "Make command bar cursor more apparent"
This issue is to add a minor UI element to Scribe keyboards where the command bar would be shown to be actionable when `commandState == true` in [KeyboardViewController.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/KeyboardViewController.swift) and [CommandVariables.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/CommandVariable

[2021-11-23 02:29] andrewtavis opened #36 "[Deleted] Hide Scribe UI feature"
This issue is for discussing and implementing a feature where the Scribe UI can be hidden. As the UI does take up a lot of the screen, a way to hide the Scribe command elements would be helpful as it would allow some users to get a simpler interface when the commands are not needed. This would be dramatically better than the user switching to an equivalent system keyboard.

As of now a working ide

[2021-11-23 02:34] andrewtavis opened #37 "[Deleted] How best to show more Scribe commands"
This issue is for devising and implementing how best to show more Scribe command options in the UI. There will eventually be more than three Scribe commands, and as of now that would be too much for the keyboard UI. One way of adapting to more than three commands would be to include a meatball menu where extra commands could be selected from. The placement of this menu and how it should orient wou

[2021-11-23 02:40] andrewtavis opened #38 "Add pronouns to the conjugation views"
This issue is for adding the pronouns to the `Conjugate` UI as an indicator of which conjugation corresponds to which cell. As of now Scribe presents 3x2 cells that are recognizable for most language learners, but pronouns are absent. The reason for this is that in the German keyboard the length "sie/er/es" was causing the conjugation for third person singular to go to the next line, thus making t

[2021-11-23 02:44] andrewtavis opened #39 "Custom themes in Scribe"
This issue has very low priority. A discussion of how much value custom themes could add to Scribe should eventually be had, with an implementation adding a feature to the eventual settings of the app where users could customize the look of their Scribe keyboards. What would be allowed to be customized and to what degree would be discussed, as well as the way that options would be presented to the

[2021-11-23 11:23] andrewtavis opened #41 "Convert Translate command"
This issue is of great importance to Scribe, but is currently blocked, and as of now isn't a priority while initial improvements are taking place.

This issue would focus on the eventual translation feature where newly added translation lexeme data would be linked to the translation selection UI. Closing this issue would thus close the project, end the **`beta`** status of `Translate`, lead to an

[2021-11-23 13:13] andrewtavis opened #49 "New Translate UI"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

The current version of the `Translate` command is not at all what it has the potential to be. As in `Co

[2021-11-23 14:38] andrewtavis opened #50 "Check of privacy policy"
### Terms

- [x] I have searched [open and closed issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue)
- [x] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Issue

Scribe's [privacy policy](https://github.com/scribe-org/Scribe-iOS/blob/main/PRIVACY.txt) is a general sketch of what's needed for a pr

[2021-11-24 15:29] andrewtavis opened #51 "Add emojis to autosuggestions"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is to discuss and eventually implement the addition of emojis to autosuggestions. This would

[2021-11-27 03:57] andrewtavis opened #52 "Update device mockups for future releases"
This issue is for updating mockup based images in [Resources/AppStore/preview_images.sketch](https://github.com/scribe-org/Scribe-iOS/blob/main/Resources/AppStore/preview_images.sketch). The mockups themselves are sourced from [andrewtavis/CC0-Mockups](https://github.com/andrewtavis/CC0-Mockups).

The Scribe images have various problems that should eventually be fixed. Two specific issues are that

[2021-11-30 10:58] #4 closed

[2021-11-30 13:15] #5 closed

[2021-11-30 15:37] andrewtavis opened #55 "Double space period shortcut unintended trigger"
The behavior of the double space period shortcut is buggy in the MVP release. It seems to be being triggered after one space at times, and in that case the prior character in the document proxy is deleted.

A simple way to reproduce this is to type `ing` followed by `space`. It seems to happen every time after this key combination. Similarly for `lvg` and `lbg`, but not for all combinations. Poten

[2021-11-30 15:44] andrewtavis opened #56 "Add comma space return to letters trigger"
Scribe keyboards should return to the letter keys after a user types `,` followed by `space`. This will be added to the next release.

[2021-11-30 16:20] andrewtavis opened #57 "Fix system header visibility in app"
In dark mode the system header with the battery level and other information is in white, which makes it very hard to read given that the background in that part of the screen is light blue. Either this text should be made to always be black, or a banner should be placed below the header text.

[2021-11-30 17:05] andrewtavis opened #58 "Canceling a command makes Plural and Translate return invalid"
There's currently a bug where the `Plural` and `Translate` commands return invalid - the user is shown `Not in directory` - if another command has been selected before and then canceled.

Reproduce: hit `Translate` -> hit the escape `X` -> hit `Plural` -> type "Buch" and hit return
Expected: "Bücher" and the noun being shown as plural
Actual: "Bücher" is returned, but then the user is shown `Not i

[2021-11-30 17:34] andrewtavis opened #59 "Adding auto capitalization and a return to the letter keys after ? and ! followed by space"
Scribe keyboards need to return to the letter keys and capitalize them when a user ends a sentence with a `?` or a `!` as they already do with a period.

[2021-12-01 13:53] #57 closed

[2021-12-01 14:36] #59 closed

[2021-12-01 14:56] andrewtavis opened #63 "Make Scribe keyboards larger vertically and add key spacing"
The keys on Scribe keyboards are not as accurate as those of a system keyboard. One of the reasons for this is that system keyboard keys are taller and have a larger border around them. This issue is to increase the size of the keyboard and add spacing in the hopes that keyboard accuracy will improve.

[2021-12-02 16:20] #58 closed

[2021-12-02 18:05] #55 closed

[2021-12-02 21:18] #63 closed

[2021-12-02 21:19] andrewtavis commented on #63
Issue was solved via commit. A new issue will be made if accuracy is not increased in v1.0.1.

[2021-12-03 13:41] andrewtavis opened #67 "Keyboards: Add Portuguese"
Adding a Portuguese keyboard to Scribe is a major priority. There is as of now a good amount of data on [Wikidata](https://www.wikidata.org/), as can be seen in the [queries](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/Portuguese/).

A baseline keyboard could be made for nouns at time of writing. What's needed:
- [ ] Portuguese language keyboards values added to [InterfaceVariables.swi

[2021-12-03 13:43] andrewtavis opened #68 "Add French keyboard"
Adding a French keyboard to Scribe is a major priority. There is as of now a good amount of noun data on [Wikidata](https://www.wikidata.org/), as can be seen in the [queries](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/French/).

A baseline keyboard could be made for nouns at time of writing, with verbs coming later potentially. What's needed:
- [x] French language keyboard values add

[2021-12-03 15:52] andrewtavis opened #69 "Hold-to-select for symbol keys"
Scribe keyboards do not currently support hold-to-select keys for symbol keys such as `?`, `!`, etc. This is a problem for Spanish in particular where these keys are necessary. These keys being able to be long held is generally a feature of all keyboards though. This issue is for adding this functionality, which should be added to the next release of Scribe.

[2021-12-03 17:26] #69 closed

[2021-12-03 18:48] andrewtavis opened #71 "Double space period shortcut not working for numbers"
The double space period needs to work for numbers, specifically for languages like German where a user could be talking about ordinal numbers using `#.`. This issue is to make the double space period shortcut work for numbers, but not for other special characters.

[2021-12-03 18:53] #71 closed

[2021-12-04 15:26] andrewtavis opened #74 "Hold-to-select keys not returning to normal color"
There's currently a bug where hold-to-select keys don't always return to their normal key color after the alternate has been selected. The coloration persists until the key is repressed or an event happens that triggers the `loadKeyboard()`. This should be a simple fix, and should be included in the next release.

[2021-12-04 17:54] #74 closed

[2021-12-06 07:53] andrewtavis opened #75 "Color noun genders when multiple are applicable"
Noun coloration has proven to be a helpful element for Scribe in that it activates the users memory to remember the proper form even when not using Scribe. The situation where nouns are not colored is when the word in question could be multiple forms - i.e. "(M/PL) Löffel".

One way to add coloration would be to just color the letter associated with the forms while leaving the rest of the preview

[2021-12-06 13:24] andrewtavis opened #76 "German noun-gender fix when words have multiple genders"
This issue details a bug in [Data/German/nouns/format_nouns.py](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/German/nouns/format_nouns.py) where certain words are not being assigned the appropriate genders. Specifically the formatting process works to assign a singular gender and plural as potential cases, but not when there is more than one potential singular gender (see that in [Keybo

[2021-12-06 13:51] andrewtavis opened #77 "Provide options where a noun has more than one plural"
This issue is to discuss and implement the best way to provide options to a user when a word has more than one possible plural. A case is the German word [Schild](https://en.wiktionary.org/wiki/Schild#German), which has the plural "Schilde" when it's masculine or neutral and means shield, and "Schilder" when it's neutral and means sign. One possible way to do this is to use the planned UI for #49

[2021-12-08 12:34] andrewtavis opened #78 "Add Swedish Keyboard"
Adding a Swedish keyboard to Scribe is a major priority as Swedish is one of the best supported languages on [Wikidata](https://www.wikidata.org/) - see [queries](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/Swedish/).

A baseline keyboard could be made for nouns and verbs at time of writing. What's needed:
- [x] Swedish language keyboard values added to [InterfaceVariables.swift](https

[2021-12-13 17:27] #76 closed

[2021-12-15 18:49] andrewtavis opened #79 "Fix to double space shortcut symbol characters"
The symbols that can proceed the double space period shortcut need to be edited to allow for parentheses and others. Semicolons, colons and dashes should not allow for the shortcut, but other symbols should. Periods and commas should also disable it.

[2021-12-15 18:52] andrewtavis opened #80 "Always make keyboard letter keys when switched to"
Scribe keyboards currently maintain their state when they’re switched away from and then back to. This is unexpected behavior and should be fixed. The keyboard state should always be letters when the keyboard is switched to.

[2021-12-17 15:11] #80 closed

[2021-12-17 15:36] #79 closed

[2021-12-21 22:27] #52 closed

[2021-12-22 14:44] andrewtavis opened #81 "Show case after verb is typed"
It would be helpful if Scribe would show users what case follows a verb in the same way that it shows which case follows a preposition. So for German a user would type a conjugation of a verb, and then after pressing space the case would be shown.

- This issue is related to #48 as this data would be what would be implemented for this command
- This issue might require another JSON file for langua

[2021-12-26 16:38] andrewtavis opened #82 "Allow all App Store images to be exported at once"
The [App Store preview images Sketch file](https://github.com/scribe-org/Scribe-iOS/blob/main/Resources/AppStore/preview_images.sketch) currently requires all images to be exported independently. It would be best if individual exports were made per image so that image updates can be made all at the same time.

[2021-12-27 17:36] #82 closed

[2021-12-28 13:45] andrewtavis opened #83 "Update German and Spanish for v1.1.0"
This issue is to rerun the queries and formatting scripts found in [Data/German](https://github.com/scribe-org/Scribe-iOS/tree/main/Data/German) and [Data/Spanish](https://github.com/scribe-org/Scribe-iOS/tree/main/Data/Spanish) before the v1.1.0 release. The [readme](https://github.com/scribe-org/Scribe-iOS/blob/main/README.md) should be updated with the new totals, and the [changelog](https://gi

[2021-12-28 20:54] andrewtavis opened #84 "Update App Store Media for v1.1.0"
The issue is to update the App Store images and videos before the v1.1.0 release of Scribe.

The images will need to be changed to reflect new updates. Specifically the languages image for each needs to show all six of the languages that will be included in v1.1.0. The data standards image should also be removed as this doesn't seem to be important in hindsight (this has already been finished in b

[2021-12-28 22:35] #84 closed

[2021-12-30 14:28] andrewtavis opened #85 "Language exercises based on Scribe usage"
A potential long term goal for Scribe could be the inclusion of language exercises to practice words that a user has used Scribe for help with. This would need to be done in a way that assures that the user’s typing data is not collected, but could be done via the `previewBar`. The user should definitely be given the option to have words added automatically, with the default being that they’re not

[2021-12-31 17:03] andrewtavis opened #86 "Add adjective-preposition annotation support"
Another feature that Scribe should add is annotating adjectives with what prepositions follow them. This would be helpful for German and other languages. Currently [Wikidata](https://m.wikidata.org/) doesn’t have prepositions linked to adjectives, but this data can be added, and this feature could then be added in a similar way to noun-gender annotation.

This issue is for tracking the support of

[2022-01-03 18:38] andrewtavis commented on #38
This issue will now be completed for v1.1.0 as it's needed to tell the difference between the various conjugation views.

[2022-01-03 20:17] andrewtavis opened #87 "Fix ambiguous features on Swedish verbs"
Many Swedish verbs have ambiguous features that don't allow their conjugations to be properly classified. Specifically, there are doubles of many feature sets, as can be seen on the [Wikidata page for the verb överge](https://www.wikidata.org/wiki/Lexeme:L38389). These duplicates should be distinguished, and the [formatting script for Swedish verbs]() should be updated, as it is now written to rem

[2022-01-03 20:35] andrewtavis opened #88 "Fixes to Russian and German preposition case statements"
Many Russian prepositions on Wikidata have the cases that follow them saved in senses and not in statements - thus making these features harder to access - and further the statements used are not consistent. Similar issues are present for German prepositions. This issue is to assign proper cases to each current Russian and German preposition using [P5713 - requires grammatical feature](https://www

[2022-01-03 21:35] #88 closed

[2022-01-03 21:44] andrewtavis commented on #30
This issue will be worked on for the v1.1.0 release as a 2x2 or 4x1 conjugation view is needed for Swedish and Russian (for past tense).

[2022-01-04 19:41] andrewtavis opened #89 "Allow for in-app download of data"
This issue is for the discussion and implementation of data downloads within the Scribe app. As more keyboards are added to Scribe, the size of the app will slowly grow and become cumbersome. To counteract this, it would be best if keyboard data was downloaded by the user in app. Downloading a keyboard would allow a user to then add the given keyboard in the settings.

- This issue blocks #10 as i

[2022-01-04 22:09] andrewtavis opened #90 "Remove gender from given names"
For given names as proper nouns it would be best if Scribe did not annotate a gender. Doing so adds a risk that Scribe would inadvertently misgender someone. This can be done by assuring that [Q202444](https://www.wikidata.org/wiki/Q202444) is not attached to proper noun lexemes via [P31](https://www.wikidata.org/wiki/Property:P31).

- This issue is linked to #83 as this would be good to add to th

[2022-01-05 08:59] andrewtavis commented on #90
A [query request](https://www.wikidata.org/wiki/Wikidata:Request_a_query#Scribe_help%3A_query_noun_genders_%28P5185%29%2C_but_not_for_given_names_%28Q202444%29) related to this issue was written on Wikidata.

[2022-01-05 10:57] #30 closed

[2022-01-05 11:26] andrewtavis commented on #90
Credit to [Wikidata user Dipsacus_fullonum](https://www.wikidata.org/wiki/User:Dipsacus_fullonum) for helping to show me how to filter by not existing features. Thanks!

[2022-01-05 11:31] #90 closed

[2022-01-05 13:33] andrewtavis commented on #38
Closing this issue as the rest involves applying keyboard specific labels to each of the fields.

- Work will be continued in #6, #67, #68 and #78

[2022-01-05 13:33] #38 closed

[2022-01-05 13:35] andrewtavis commented on #83
This issue will now also include finishing #38 for German and Spanish, as the labels have been added, and edits just need to be made to [CommandVariables.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/CommandVariables.swift) and [KeyboardViewController.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/KeyboardViewController.swift).

[2022-01-05 15:39] andrewtavis opened #91 "Convert Scribe command titles into the keyboard language"
Currently the Scribe commands are in English, but it would be best if they were in the keyboard language so that Scribe is an immersive language experience. Steps required are:

- [x] Adding native versions of the commands to [CommandVariables.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/CommandVariables.swift)
- [x] Adjusting button texts across devices given

[2022-01-05 16:25] andrewtavis opened #92 "How to best deal with words that have multiple grammatical forms"
This issue is a discussion and implementation of a solution for what to do with words that have multiple forms in a given language. An example is the German word `Zeit`, which has the english meaning of `since` and `time`. This means that this word is both a preposition and a noun. Obviously a distinction comes with nouns being capitalized in German, but then it's again ambiguous at the start of a

[2022-01-05 18:24] andrewtavis commented on #67
The original verb queries need to be updated as non-standard statement identifiers are being used. It does appear that Preterite and imperfect past will be able to be derived, and maybe one other verb tense depending on the character limit.

[2022-01-05 19:33] andrewtavis commented on #67
Note that for now only [Q23663136](https://www.wikidata.org/wiki/Q23663136) is being used for past perfect as the character limit prevents optional queries of both. There may be a way to check for both instances, but it would be best for the fix to happen in #47.

[2022-01-05 23:38] andrewtavis commented on #91
This issue will also convert the `Not in directory` message for each keyboard.

[2022-01-06 15:54] andrewtavis commented on #6
A creation of an English keyboard is necessary for English-Russian translation as Cyrillic letters won't be able to be used to Type English words.

- This issue is thus now linked to the first few points of #7

[2022-01-06 20:09] andrewtavis opened #93 "Allow for translate and conjugate to take upper case inputs"
Currently `Translate` and `Conjugate` are restricted to lower case words to assure that the input will match the keys in the given dictionaries. This is however unexpected behavior as the user has their keyboard switched to lower case and also will be given an invalid response if they input a lower case conjugation , or will receive a lower case translation even if the input is upper case.

This b

[2022-01-07 00:23] andrewtavis opened #94 "Check if word is in JSONs with advanced search"
As of right now Scribe commands are generally very fast. One way that the speed could be increased would potentially be to improve the way in which words are checked for in the grammar dictionaries. The question arrises of whether it's possible to be faster than dictionary indexing in Swift, but if it is possible then the ordered nature of Scribe's JSONs could be leveraged in binary searches or si

[2022-01-07 12:57] andrewtavis opened #95 "Write script to update all data for Scribe updates"
Currently updating Scribe's data for a release is time consuming, with this process being one that could easily be converted to a single Python script. The goal of this issue is to make a script that uses a [Wikidata tool](https://www.wikidata.org/wiki/Wikidata:Tools/For_programmers) to run all of the `query*.sparql` scripts in the [Scribe-iOS/Data](https://github.com/scribe-org/Scribe-iOS/tree/ma

[2022-01-07 13:46] #83 closed

[2022-01-07 14:18] #93 closed

[2022-01-07 14:18] #91 closed

[2022-01-07 14:18] #78 closed

[2022-01-07 14:18] #68 closed

[2022-01-07 14:19] #6 closed

[2022-01-07 19:50] andrewtavis commented on #89
It should be noted that for translations this data would need to be on a per language pair basis, as a user would likely only need the data for their spoken or system language to the target keyboard.

- This issue would thus be linked to #16

[2022-01-08 15:55] andrewtavis opened #96 "Convert JSON data to SQLite"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

There’s currently a bug with v1.1.0 where the Russian keyboard will not translate words. The keyboard switches t

[2022-01-08 16:17] andrewtavis commented on #96
Is not reproducible on an iPhone 7 in Simulator, but then the version is 15.2.

[2022-01-08 16:45] andrewtavis commented on #8
The issues with Scribe not functioning as on Simulator means that testing should be a priority for the next release. Specifically #96 seems difficult to test for on Simulator. One option going forward would be to integrate a device testing service like [Browserstack](https://www.browserstack.com/), which is available [for free](https://www.browserstack.com/open-source) for open source. There's als

[2022-01-08 16:48] andrewtavis commented on #1
An example to look at is [KeyboardKit](https://github.com/KeyboardKit/KeyboardKit), which has keyboards that appear to be more responsive than Scribe's as well. A general refactor of Scribe along the principles of this MIT licensed project might be advisable.

[2022-01-08 17:22] andrewtavis commented on #31
The pronouns and verb forms shown during `Conjugate` in dark mode are currently a bit hard to see. The ratio between the key color and these annotations, the same color as the preview bar, specifically needs work.

[2022-01-10 12:37] andrewtavis commented on #95
The script written to complete this issue should also produce a .txt file that has the differences in data for the most recent run. The structure of this file should allow it to be directly pasted into [CHANGELOG.md](https://github.com/scribe-org/Scribe-iOS/blob/main/CHANGELOG.md), thus turning the data update process into two steps (run script and paste results).

[2022-01-10 12:44] andrewtavis commented on #95
It looks like [WikidataIntegrator](https://github.com/SuLab/WikidataIntegrator) would be an appropriate tool to complete the SPARQL query portion of this task, as shown in [this Jupyter notebook](https://github.com/SuLab/WikidataIntegrator/blob/main/notebooks/RunSparqlQueryWDQS.ipynb).

[2022-01-10 20:22] andrewtavis opened #97 "Ellipses don’t trigger auto-capitalization"
Typing an ellipsis (…) followed by a space does not trigger auto-capitalization and the keyboard changing to the shift state.

This is a simple issue that requires conditionals being added into [KeyboardViewController](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/KeyboardViewController.swift).

[2022-01-11 06:15] #97 closed

[2022-01-11 13:11] andrewtavis commented on #95
Current progress is a script that can find the necessary queries, picks the first to run, formats it for use with [WikidataIntegrator](https://github.com/SuLab/WikidataIntegrator), runs the query and prints the results of the query.

Next steps:
- [ ] Handle errors from [WikidataIntegrator](https://github.com/SuLab/WikidataIntegrator) when the query doesn't work
- [ ] Allow script to take argument

[2022-01-12 11:35] andrewtavis commented on #95
Labels for properties do not appear to be being queried with [WikidataIntegrator](https://github.com/SuLab/WikidataIntegrator), but this can be checked for in formatting scripts where the string will start with `Q` and be followed by an `int`. In this case these values can be translated to their labels prior to being assigned.

Example: `map_genders` of `format_nouns.py` scripts can also check for

[2022-01-14 13:06] andrewtavis opened #98 "Combine App Store images"
Scribe's App Store images could be simplified a bit more. Specifically there does not need to be a specific image for dark mode, but rather the iPhone and iPad image could have the devices in dark mode to then convey this information to the user in one image instead of two. These changes will be made in [Resources/AppStore/preview_images.sketch](https://github.com/scribe-org/Scribe-iOS/blob/main/R

[2022-01-15 11:15] andrewtavis commented on #95
The final step is to allow the individual formatting files to detect when they're being ran by [Data/update_data.py](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/update_data.py) by checking the Python paths via `sys.argv[0]`.

[2022-01-15 12:08] #95 closed

[2022-01-17 09:15] andrewtavis commented on #10
The general idea now would be to have a repository scribe-iOS/Data.

[2022-01-17 10:50] #98 closed

[2022-01-17 16:45] andrewtavis opened #99 "Colors not being reset when switching light/dark modes"
Scribe has a general bug where the colors are not shifting from light to dark mode when the user shifts between the modes. It appears that the colors are being set properly for the baseline color scheme of the phone, but are not reset when the user changes to another one.

This isn't reproducible by changing the color scheme in the Settings app of Xcode Simulator, but is when the "Toggling Appeara

[2022-01-17 20:14] andrewtavis opened #100 "Update data for v1.1.1 release"
Scribe's data needs to be updated for the forthcoming v1.1.1 release that will fix a few standing bugs. This is done by running [Data/update_data.py](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/update_data.py).

This issue will also test how well [Data/update_data.py](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/update_data.py) functions, and will make edits until it can be

[2022-01-17 20:20] #99 closed

[2022-01-19 11:04] andrewtavis commented on #100
It seems to currently be impossible to run romance language verb queries using [Data/update_data.py](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/update_data.py). Either the query text is too long, or if filters are used to reduce the amount of text as in 751c0e3, then the queries break.

[2022-01-19 13:11] #100 closed

[2022-01-19 14:37] andrewtavis opened #101 "Add issue templates to Scribe-iOS"
It would be good if Scribe-iOS had some base issue templates for future contributors.

The following [YouTube video](https://www.youtube.com/watch?v=qQE1BUkf2-s) has a good description of how to set them up using `.yml` files for custom structures, and [Signal's iOS templates section](https://github.com/signalapp/Signal-iOS/tree/master/.github/ISSUE_TEMPLATE) is another place to look for how to se

[2022-01-19 15:26] andrewtavis commented on #2
[guessesForWordRange](https://developer.apple.com/documentation/uikit/uitextchecker/1621037-guessesforwordrange) is potentially helpful for this.

[2022-01-19 15:31] andrewtavis commented on #3
[UILexicon](https://developer.apple.com/documentation/uikit/uilexicon) will be used for this, as it contains unpaired lists of names in the user's address book. Added to this can be the words found as keys in the Data directory of each keyboard.

[2022-01-19 15:41] andrewtavis commented on #2
[This swift implementation](https://airspeedvelocity.net/2015/05/02/spelling/) of the popular [spelling correction blog post](http://norvig.com/spell-correct.html) by Peter Norvig might also be of help.

[2022-01-19 16:25] andrewtavis commented on #3
It would be best if this feature was fully contained within the preview bar. The buttons used for translate, conjugate, and plural could have suggestions mapped to them, with the buttons themselves being hidden, and a simple barrier between them (this could be added to the `.xib` in the space between the buttons).

The issue is that the prompt for the commands in the preview bar would take up some

[2022-01-19 17:01] andrewtavis commented on #2
Having autocorrect function in the preview bar would be of less importance as [autocomplete](#3) should help a user select a good option.

The functionality of this feature would be similar to that of annotating nouns and prepositions when they're selected (which as of now requires the Scribe key to be pressed - see [this SO question](https://stackoverflow.com/questions/56120059/how-to-trigger-an-

[2022-01-19 17:24] RishiKumarRay commented on #101
I would like to work on this also can i generate more than 1 PR to complete these tasks?

[2022-01-19 17:37] andrewtavis commented on #101
Hi @RishiKumarRay :)

You'd be more than welcome to work on this. And yes, you could do more than one PR.

Generally how I'm thinking about this: I think that the `.github/ISSUE_TEMPLATE/config.yml` likely will just have `blank_issues_enabled: false`, as I'm hoping that the five templates in the issue will be enough to cover all potential issues. From there we'll need to have separate `.yml` files

[2022-01-19 17:46] andrewtavis commented on #101
There's no work being done on [Scribe-Android](https://github.com/scribe-org/Scribe-Android) or [Scribe-Desktop](https://github.com/scribe-org/Scribe-Desktop) (yet 😊), but you'd also be welcome to port your solutions to this issue over to those repositories. Would be good to get an early contribution into those code bases :)

[2022-01-19 20:25] RishiKumarRay commented on #101
@andrewtavis Hi, Thankyou for assigning
I will be adding files in Upcoming PR
Currently I have added PR for Feature template
The config.yml , i will be adding that at the end
please review this PR #102

[2022-01-19 20:35] RishiKumarRay commented on #101
@andrewtavis Please do review this PR so that I can work on other files , Thanks

[2022-01-19 20:45] andrewtavis commented on #101
@RishiKumarRay, so far looks good to me :)

Your naming criteria is close to what I was thinking. Let's agree on those so I don't need to edit the files and potentially lose your contribution credit. Let's do `feature_request.yml`, `bug_report.yml`, `data.yml`, `new_keyboard.yml`, and `question.yml`. Each of those should be automatically labeled with the corresponding issue using the `labels:` sec

[2022-01-19 20:52] RishiKumarRay commented on #101
@andrewtavis True , I have updated the file name you can now check the latest commit . For today this was only PR , I will work on others file tomorrow. If there are more suggestions please do let me know or else you can merge this :) Thanks

[2022-01-19 21:04] andrewtavis commented on #101
Other suggestions are in the PR :) Thanks again for your work! You're more than welcome to create similar PRs for the other files based on what I talked about. Really am happy for the help 😊

[2022-01-19 21:07] RishiKumarRay commented on #101
Sure I will look into all this and come up with changes

[2022-01-19 21:09] andrewtavis commented on #101
Looking forward :)

[2022-01-19 21:26] andrewtavis commented on #25
The issue now just deals with a poor transition from landscape to portrait where the keys are smaller than they should be.

[2022-01-19 21:27] andrewtavis commented on #12
Linked to #86 as an example of something that could be added. New issues can be made as other ideas are thought of.

[2022-01-19 21:29] andrewtavis commented on #9
Localization for the App Store would be done within [Resources/AppStore](https://github.com/scribe-org/Scribe-iOS/tree/main/Resources/AppStore), where the texts and images could be separated on a per-region basis.

[2022-01-20 09:57] andrewtavis commented on #29
A potential solution to this is linking the height of the command elements - the Scribe button, preview bar, and other command buttons - to the stack views on which the keyboard buttons are laid out within [Keyboard.xib](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/Keyboard.xib).

[2022-01-20 10:29] andrewtavis commented on #101
@RishiKumarRay, another random thing for this that I wanted to check, what do you think of emojis in the names of the issues? I think it might make them a bit more clear from the outset, and there are standard emojis for GitHub that can [be found here](https://gitmoji.dev/). Basically the idea on this would be that the `name:` for each of the templates we've talked about would be:

`✨ Feature requ

[2022-01-20 11:59] andrewtavis opened #103 "Make return button read search in browsers"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Currently Scribe keyboards don't change the return button to something like `go` or `search` when in a

[2022-01-20 17:27] andrewtavis commented on #101
@RishiKumarRay, done with the edits based on how it was looking when I was trying it :) I gotta say, that there issue template really is a thing of beauty 😊😊

Lemme know if you don't agree with some of the changes, but aside from that you're more than welcome to work on the others with this one as a basic guide.

Again and again, thanks for your work on this!

[2022-01-20 17:30] RishiKumarRay commented on #101
@andrewtavis Thanks, I agree with the touch you gave to the templates , its awesome , Now I am working on bug template , let's discuss that too when i finish and raise a PR for that

[2022-01-20 17:34] andrewtavis commented on #101
Wonderful! Thanks for your efforts!

[2022-01-20 18:27] andrewtavis opened #104 "Add pull_request_template.md to .github"
### Terms

- [X] I have searched open and closed issues for duplicates
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

As in #101, it would be beneficial if Scribe-iOS also had a PR template. This would be a file `.github/pull_request_template.md` that would then be used as a template for future

[2022-01-20 18:37] andrewtavis commented on #104
@RishiKumarRay, this is an example of what the output is of `feature_request.yml` with the most recent edits. I chose to combine the description and screenshots section there was going to be a lot of

### Screenshots

_No response_

for that section. The screenshots are instead prompted for in the `placeholder:` key of each section, which has replaced the `description:` key. I think that overall i

[2022-01-20 18:51] RishiKumarRay commented on #104
@andrewtavis got it , I will implement this placeholder in place of description

[2022-01-20 20:07] andrewtavis commented on #3
The translate prompt will be shortened in the v1.2.0 design release using right chevrons as a delimiter `en › de:`.

[2022-01-21 08:24] RishiKumarRay commented on #101
@andrewtavis please review the bug template #105

[2022-01-21 10:22] andrewtavis opened #106 "Light and dark mode still not switching properly"
### Is there an existing issue for this?

- [X] I have searched all [open issues](https://github.com/scribe-org/Scribe-iOS/issues)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

This continues #99, which was thought to be solved in the v1.1.1 release. Scribe’s colors are still not switching properl

[2022-01-21 10:30] andrewtavis commented on #101
@RishiKumarRay, I did some more edits than I expected when I merged, so please take no offense :) #106 is an example of an issue written with the new version. I thought that keeping the number of text areas down would be good, and really simplifying the device and version areas of the form might streamline it for people.

[2022-01-21 10:37] andrewtavis commented on #101
Also another thing that just went through in b6fb208, I think it'd be great if we're hyperlinking the issues that the person should be searching for before posting the issue (makes it easy for them to open them in a new window and do a quick search). The URLs for that would be:

Open issues: https://github.com/scribe-org/Scribe-iOS/issues
Open and closed issues: https://github.com/scribe-org/Scrib

[2022-01-21 13:36] andrewtavis commented on #36
Changing the return key to Scribe blue when the command interface is hidden would be a way to indicate to the user that long-holding it would show the commands again.

[2022-01-21 15:44] RishiKumarRay commented on #101
Hi, @andrewtavis I have gone through the changes and let me tell the enhancement you did completely fits the project , It looks great and The issues link is perfect too and yeah it will help them search the issues easily. you did some preety cool things.
Next I would like to pickup 🗃️ Data and Wikidata , Can you give me a format idea for this, How you want this , if there is any example for it the

[2022-01-21 19:29] andrewtavis commented on #101
@RishiKumarRay, thanks for the feedback on it! Glad that you like the changes. I had a very solid baseline to go from :) :)

`Data and Wikidata` is gonna be really hard. As I'm writing this I'm going through all the issues marked `data`. The big thing is that we want experienced Wikidata users to be able to quickly see what's up with the issue and address it given the word or property in question.

[2022-01-21 19:30] andrewtavis commented on #101
Also I wanted to let you know that the next updates for the project are going to be design based. Over the next week a friend here in Berlin and I are going to be revamping the whole look of the app and keyboards, as he has the design experience needed to direct me on the development side. The keyboards are going to look a lot more modern, and the app icon/logo will also get a new look.

Just don’

[2022-01-22 08:40] RishiKumarRay commented on #101
@andrewtavis Wow! happy to hear that, I will be looking forward to the changes.

[2022-01-22 09:42] RishiKumarRay commented on #101
@andrewtavis I have gone through all the format you suggested, and made this PR , Please do review and let me know the changes.

[2022-01-22 12:04] andrewtavis commented on #101
@RishiKumarRay, thanks again so much for putting this together! The baseline was really helpful to work from. The above commits are the edits I did for this. I ended up taking out the word types section as I thought it was out of place when I finally looked at it (sorry for suggesting it in the first place). Other things were basic edits of the prompts, and I had the idea of using markdown to put

[2022-01-22 12:24] andrewtavis commented on #10
Completion of this issue would also lead to the `Data and Wikidata` issue template being moved to this new repository. Other repo issue forms would then be updated with a link to reporting an issue in the new repository.

[2022-01-22 12:39] andrewtavis commented on #101
@RishiKumarRay, we'll see how these work once we have some more contributors, but I gotta say the templates are looking so professional :) Really glad to have them!

[2022-01-22 13:10] RishiKumarRay commented on #101
That looks great @andrewtavis I saw the changes , they are good and important too , Thanks
I would like to work next on 🌐 New keyboard , This looks preety Interesting too, Can you give me idea about this too , like you gave for the last one, Thanks for that. Yeah I am excited too when contributors will start using this templates . Lets finish this all.

[2022-01-22 15:09] andrewtavis commented on #101
@RishiKumarRay, thanks for the feedback on the changes :) Glad you like them.

The big thing for new keyboards would be how much data is available on Wikidata, and what kind of support is necessary. The following are things that could be included:
- labels: "-new keyboard-"
- The terms that we've had at the top of each of the templates, but just open issues
- We can do a `checkboxes` next asking w

[2022-01-23 08:23] RishiKumarRay commented on #101
Hi, @andrewtavis i have tried to put up everything as you said , let me know if there are any changes, thanks

[2022-01-23 11:04] andrewtavis commented on #101
@RishiKumarRay, I screwed up in the review and didn't pick something up. The file that you submitted was named `new_keyword`, not `new_keyboard`. I was hoping that in changing the file name it would retain credit to you as an author, but it didn't....

Can you submit a PR with some changes to the document so you can get credit? Things that still need to be done include:
- Change the description fr

[2022-01-23 11:27] andrewtavis commented on #101
From here we just have `❓ Question` left, which should be asking people if they have a question or want to start a discussion. It should have the terms at the top and be labeled as "question", but aside from that I'm not really sure that it'll have much more than a `textarea` with a prompt :)

From there we add the `.github/ISSUE_TEMPLATE/config.yml` file and we're done! 🎉

[2022-01-23 11:49] RishiKumarRay commented on #101
@andrewtavis No problem , I understand,  the last point "The last point is that it'd be better to have different issues for different languages, not "Add Danish, Finish and Norwegian keyboards". where i have to put this ?

[2022-01-23 12:07] andrewtavis commented on #101
@RishiKumarRay, that's just a comment about why I included the `This issue is about one language, and I've changed the title to reflect this` term :) You don't need to add it to the form :)

Thanks for checking!

[2022-01-23 12:11] andrewtavis commented on #101
Feel free to send along the edits PR and the question one too if you want. I'm volunteering today, so if I don't get to them quickly I'll merge them when I get home :)

[2022-01-23 12:12] RishiKumarRay commented on #101
@andrewtavis I am going to complete everything today itself , then maybe will work on some more thank , let me finish this then we will discuss that too

[2022-01-23 12:14] RishiKumarRay commented on #101
sure no problem , you can merge them whenever you are free , Its just that i feel i should complete everything today

[2022-01-23 12:15] andrewtavis commented on #101
Finish it when you need/want to. This all has been a great help, and has been going very quickly :)

[2022-01-23 12:34] RishiKumarRay commented on #101
@andrewtavis I have generated PR with question template along with added changes to keyboard that you suggested. Please review whenever you are free , I am going out for few hours , I will be working on config after returning. Thanks also please let me know if you anything else added to question template. Thanks

[2022-01-23 22:13] andrewtavis commented on #101
@RishiKumarRay alright! Looks like these are done :) This is really great 😊

Could I ask you to check the [New keyboard](https://github.com/scribe-org/Scribe-iOS/issues/new?assignees=&labels=new+keyboard&template=new_keyboard.yml&title=Add+%3Clanguage%3E+keyboard) issue template and see if the `Available data` section makes sense? I wrote the query I talked to you about that would give people the

[2022-01-23 22:15] andrewtavis commented on #101
You're free to send along a `config.yml` whenever. To my knowledge that should just have `blank_issues_enabled: false`, but let me know if you have other ideas :)

Thanks again!

[2022-01-24 08:45] RishiKumarRay commented on #101
@andrewtavis I was thinking we should put some contacts in config.yml , where anyone can contact you , i see there is an option of contacts too

[2022-01-24 08:46] RishiKumarRay commented on #101
@andrewtavis for available data , I don't think , maybe we can include this in future when people start opening up issues so that we have more clear idea , how it is going

[2022-01-24 11:14] andrewtavis commented on #101
@RishiKumarRay, I was seeing that you can put contacts in the links as well. The email that's for Scribe  - scribe.language@gmail.com - is on the organization's page. I think that it's ok in that case to not put contact information so that people are pushed to open an issue rather than emailing. The `Question` template also allows them to just send a message to the team, so everyone should be able

[2022-01-24 11:20] andrewtavis commented on #101
c8d3bf3 added in a `Contribution` section to `New keyboard` like we have for `Feature request`. I think that's a good solution, but please let me know what your thoughts are :) That way we can get an idea of what the person wants to contribute, and I'll run the query for the data totals whenever someone posts a new keyboard issue 😊

[2022-01-24 13:40] RishiKumarRay commented on #101
@andrewtavis I have raised a PR for config file please do review

[2022-01-24 13:41] RishiKumarRay commented on #101
yeah this looks good

[2022-01-24 13:43] RishiKumarRay commented on #101
@andrewtavis i was thinking of adding something like a greeting bot with messages for people when they open an issue or Raise a PR Like for issue they will get a message to please wait unless they are assigned and for PR they will get a message that thankyou for raising a PR , wait until your PR gets reviewed

[2022-01-24 14:17] andrewtavis commented on #101
@RishiKumarRay, looks like we're all done with the original issue :) :) It really does look great! Thanks again and again 🙏

I'm really not sure on bots, but you'd be welcome to add something like this 😊 I think that having some kind of a greeting bot would be really great so that there's an initial interaction to thank them and let them know we'll be with them when we can. Would the bot be able t

[2022-01-24 14:19] andrewtavis commented on #101
Also, not sure if you have interest in this, but you are more than welcome to do PRs in [Scribe-Android](https://github.com/scribe-org/Scribe-Android) and [Scribe-Desktop](https://github.com/scribe-org/Scribe-Desktop) to add the `ISSUE_TEMPLATE` files from here. You can just drop them in and I'll fix the links :)

[2022-01-24 14:25] RishiKumarRay commented on #101
Sure i would love to drop the templates there. thanks for letting me know

[2022-01-24 14:41] andrewtavis commented on #101
@RishiKumarRay, I'm actually not on Discord, but may eventually get on there if people want to do one for Scribe. As of now I'm more inclined to do a [Gitter](https://gitter.im/) for it. You're welcome to connect on here or drop me an email to the one on my profile though :)

Awesome! Thanks so much for this 🙏

[2022-01-24 14:41] andrewtavis commented on #101
And ya let's open a new issue as this one is super long at this point. I'll do a feature one and assign you :)

[2022-01-24 14:42] #101 closed

[2022-01-24 14:44] andrewtavis opened #111 "Add greeting bot to Scribe-iOS"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is to create a greeting bot that will communicate with people who open an issue in or send a

[2022-01-25 00:53] andrewtavis opened #112 "v1.2.0 design sprint"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is to track the work being done on the current design sprint for the v1.1.0 release.

## 🎨 D

[2022-01-25 01:01] andrewtavis commented on #112
### Current progress

<div align="left">
  <img src="https://user-images.githubusercontent.com/24387426/150890520-399715d7-3071-4404-9085-9554cb646e53.png" width=300>
</div>

[2022-01-25 01:12] andrewtavis commented on #75
This issue was closed by d6c4ed9 for the design sprint in #112. Noun annotation is now done with symbols such that multiple colors can be presented to the user.

[2022-01-25 01:12] #75 closed

[2022-01-25 01:15] andrewtavis commented on #92
This issue was closed by d6c4ed9 for the design spring in #112. Noun and preposition annotation is now done via symbols that can be put next to each other. Furthermore, preposition cases are rectangles and noun genders are squares to make the difference for the user apparent.

[2022-01-25 01:15] #92 closed

[2022-01-25 01:18] andrewtavis commented on #32
This issue was closed via d6c4ed9 for the design sprint in #112. Keys are now shaded, and the layouts of keyboards are more reflective of system keyboards. The last thing that needs to be done is to increase the tap area of the new buttons so that the whole keyboard area is mapped to the nearest button (within reason).

[2022-01-25 01:18] #32 closed

[2022-01-25 01:19] andrewtavis commented on #29
The above comment was implemented in d6c4ed9 for the design sprint in #112 to close this issue. The elements of the Scribe command interface are sized dynamically to a background element that's sized relative to the stack views.

[2022-01-25 01:19] #29 closed

[2022-01-25 01:23] andrewtavis commented on #17
Closing this issue as the general feedback has been that the user should need to trigger Scribe commands.

[2022-01-25 01:23] #17 closed

[2022-01-25 01:26] andrewtavis commented on #106
The most recent attempt to solve this issue was added in d6c4ed9 for the design sprint in #112. Coloration will not be shifted when the keyboard loads after button presses, and the colors are set only during the initial load or when a user changes their display mode.

[2022-01-25 01:26] #106 closed

[2022-01-25 01:29] andrewtavis commented on #12
Closing this issue as singular issues would be better given the templates made in #101.

[2022-01-25 01:29] #12 closed

[2022-01-25 01:32] andrewtavis commented on #112
#32 is closed, but the new keys still need their tap areas increased to cover the screen. This will be done using the methods in [this SO question](https://stackoverflow.com/questions/31056703/how-can-i-increase-the-tap-area-for-uibutton).

[2022-01-25 14:12] andrewtavis commented on #31
Closed via 6449021 for the design sprint in #112. Color palettes have now been updated, with readability now being dramatically better.

[2022-01-25 14:12] #31 closed

[2022-01-25 17:49] andrewtavis commented on #51
A way that Scribe could improve on the performance of the system keyboard would be to offer suggestions even after the text has been broken by punctuation. So for example you could still suggest emojis after `"Thank you!!!!"` with `🙏 ` being the logical suggestion.

[2022-01-25 17:56] andrewtavis commented on #111
@RishiKumarRay, an update for you :) There's been plans for a bit for Scribe to be featured on [Wikimedia Deutschland's Tech News page](https://tech-news.wikimedia.de/en/homepage/). By the sounds of it the interview I'll be doing about Scribe that they'll feature will be happening next week. It'd be great if we could get the issue templates into [Scribe-Android](https://github.com/scribe-org/Scrib

[2022-01-25 17:57] andrewtavis commented on #111
With the above being said, we have plenty of time, so no stress about all this 😎

[2022-01-26 07:45] RishiKumarRay commented on #111
@andrewtavis Its a great news , glad to hear that , I will be happy to read the interview , Yeah then let's finish that adding issues in both the repo first , maybe after that i will work on this greeting bot. So how do we proceed shall i add all files in a single PR ? Let me know after that i will raise the PR and you can merge and it will be ready

[2022-01-26 07:58] andrewtavis commented on #111
I think all files in a single PR to both repositories would be fine :) I'll go through the links and test them, so don't worry about those on your end.

[2022-01-26 10:12] RishiKumarRay commented on #111
@andrewtavis If you don't mind can i use 2 PR for adding to both , like I will raise 2 PR simultaneously for each repo and you can edit them. Let me know if you don't want then i will go with one for each :)

[2022-01-26 12:19] andrewtavis commented on #111
@RishiKumarRay, feel free to use as many PRs as you need :)

[2022-01-26 16:16] RishiKumarRay commented on #111
@andrewtavis Hi , Thanks i have created PR for Scribe Android , adding all the templates, please review , I will be doing so for scribe IOS too today itself

[2022-01-27 10:17] andrewtavis commented on #111
@RishiKumarRay, thanks for these! I'll get to them shortly :) I've been hammering away at the new designs, with the design sprint looking to be finished by tomorrow or Saturday :) The new version of Scribe with the updated look should be available by Monday!

[2022-01-27 13:45] andrewtavis commented on #111
@RishiKumarRay, all of them are merged, and I changed the URLs in my commits afterwards. My thanks for your efforts on these issues, and let me know what your plan is for this issue :)

Many many thanks! 🙏

[2022-01-27 22:16] andrewtavis commented on #27
This issue was closed by 4da0ecc in the design spring for #112. The user can now click a field in the app screen that will open and take them to `Settings`. Going further into `Settings` to get to keyboard installation is currently not possible in iOS at this time.

[2022-01-27 22:16] #27 closed

[2022-01-28 14:02] RishiKumarRay commented on #111
@andrewtavis Thankyou for merging all , it feels great to contribute to this project , i have added PR to solve this issue too.
you can review that PR #113
The bot will send a custom message , I have written it , if you want to add anything please let me know .
through the bot the message will be displayed  as well as it will also go to any users email id too , I found out while testing that.
Do l

[2022-01-28 23:21] andrewtavis commented on #111
@RishiKumarRay, thanks for this! I requested another file name change from you in the review of #113 😜 As I said in the rest of the review, I'll send some edits and we can discuss them in here before we close this :)

[2022-01-28 23:46] andrewtavis commented on #111
Once this is done, as with #101 you'll be welcome to send the bot along to Scribe-Android and Scribe-Desktop. I'm hammering #112 tomorrow to get it done, but should be able to get to things as you send them :)

[2022-01-29 10:31] RishiKumarRay commented on #111
@andrewtavis I have updated the changes , please have a look , thanks

[2022-01-29 10:49] andrewtavis commented on #111
@RishiKumarRay, edits have been sent through :) What I was trying to add was the following:

- A bit of formatting so there's a title and spacing
- Telling users it's a bot (obviously the icon is a bot, but I think it's even more "human" from our end to have it say so itself)
- Make it a bit more personable with a sign off from the team like it's a letter, which I think is a nice opening for new c

[2022-01-29 15:37] RishiKumarRay commented on #111
@andrewtavis Thank you , the edits are good , i liked the message you defined there

[2022-01-29 15:49] andrewtavis commented on #111
@RishiKumarRay, great :) This issues looks done to me then! Awesome 😊 If you want to commit the welcome bot to Android and Desktop as before with the issue templates then you're welcome to. Let me know if you don't and I'll get it in them myself. Up to you :)

Hope you're having a nice weekend!

[2022-01-29 15:49] #111 closed

[2022-01-29 15:54] RishiKumarRay commented on #111
Thanks @andrewtavis I have already raised PR for the both , have a look whenever you're free

[2022-01-29 15:56] RishiKumarRay commented on #111
@andrewtavis Also I am looking forward to your release , and the interview you will be having , Best wishes for that, It was a great time working with you , I got to learn a lot , I wish whenever in future if you are working on any automation using devOps tools , do let me know , I would love to contribute in them. Happy Weekend to you too :)

[2022-01-29 17:51] andrewtavis commented on #28
This issue was closed by 616d094 for the design spring in #112. The app screen has been totally redone to be dramatically more visually appealing with icons, properly formatted texts and sections, as well as coloration to make it easier on the eyes.

[2022-01-29 17:51] #28 closed

[2022-01-29 18:02] andrewtavis opened #114 "Update App Store media for v1.2.0 release"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is to document the creation of new App Store media for the v1.2.0 release. After the design

[2022-01-29 18:20] andrewtavis commented on #111
@RishiKumarRay, thanks again for all of this and the minor change as well :)

I'll send along the interview when it's posted, and I'll also link to it in the readme of this repository 😊 I've had a nice time working with you as well, and will let you know if any more automation is in the works. Feel free to suggest something later if you have an idea! You're also welcome to help with future coding

[2022-01-29 18:25] RishiKumarRay commented on #111
@andrewtavis thanks , maybe in future i will learn typescript or kotlin , i was learning this but left and focused on other tools.  yes ofcourse i will suggest you if i come across anything new.
Take care  :)

[2022-01-29 19:19] andrewtavis commented on #17
This could be opened later on as the functionality after #112 doesn't allow a user to use the Scribe key when text is selected, which is unexpected behavior. What might be best is that during an annotation the preview mode would also be triggered such that the Scribe key would change to escape. Pressing escape could then also trigger the text being deselected such that the keyboard would switch ba

[2022-01-30 18:12] andrewtavis opened #115 "Extend key press area for new layout technique"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Scribe has switched away from the previous way of spacing keys where borders were used and keys were th

[2022-01-30 18:13] andrewtavis commented on #115
This issue is within #112.

[2022-01-30 18:15] #115 closed

[2022-01-31 02:23] andrewtavis commented on #24
Closed by 7a5b87a :)

[2022-01-31 02:23] #24 closed

[2022-01-31 12:42] andrewtavis commented on #11
Once this issue gets some work on it it would be good to create a `Documentation` issue template so that issues can be automatically tagged.

[2022-01-31 22:08] andrewtavis commented on #112
With 1fa2bd3 done the last thing that's needed is the App Store videos :)

[2022-02-01 02:40] andrewtavis commented on #114
Closed by the previous commits. The app store images and videos are now updated for v1.2.0.

[2022-02-01 02:40] #114 closed

[2022-02-01 02:41] andrewtavis commented on #112
Final tests will happen tomorrow before sending v1.2.0 in for review.

[2022-02-01 02:41] #112 closed

[2022-02-01 18:35] andrewtavis commented on #3
Autocomplete needs to have two different functions - one for the word that is currently being typed where all scribe command button fields would have suggestions, and one for when space is pressed where annotation would be one of the spaces and the others are populated with suggestions for the next word.

[2022-02-01 18:37] andrewtavis commented on #21
This would also be useful for #3 in that the suggestions could also be calculated based comparisons over vector representations of words.

[2022-02-01 21:13] andrewtavis commented on #13
For nouns that have more than one gender - for instance `See` in German that is both feminine for ocean (old German) and masculine for lake - it would be good if the long press information was highlighted in the matching color somehow so that the user would remember it better outside of Scribe.

[2022-02-02 14:45] andrewtavis opened #116 "Scribe key icon sometimes not changing with the color mode"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

#106 seems to be fixed except that the Scribe key icon is sometimes the wrong one. Readability wise this does no

[2022-02-02 14:49] andrewtavis commented on #116
To fix this we just need to assign the Scribe key based within `checkDarkModeSetColors` in [ColorVariables.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/ColorVariables.swift), not within a function that will be called during `loadKeys`.

[2022-02-02 14:57] andrewtavis opened #117 "Switch keyboard to letters after a symbol key and space are pressed"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

A current issue with Scribe is that the keyboard is only switching back to letter keys after certain sy

[2022-02-02 15:01] andrewtavis opened #118 "Allow Scribe commands when there is a space after the word"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Scribe currently needs the user to enter the exact word for a command to be triggered by the return key

[2022-02-02 15:03] andrewtavis commented on #103
Whether the button should change color in these cases should also be discussed. If it is, changing it to the blue that the system keyboard uses for light and dark mode would be best.

[2022-02-02 16:11] andrewtavis commented on #116
Closed in e846dca. The Scribe key is now updated within `checkDarkModeSetColors` in [ColorVariables.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/ColorVariables.swift).

[2022-02-02 16:11] #116 closed

[2022-02-03 12:17] andrewtavis commented on #9
Localization for the App itself would be done within a directory in [Scribe-iOS/Scribe](https://github.com/scribe-org/Scribe-iOS/tree/main/Scribe).

[2022-02-03 13:04] andrewtavis opened #119 "Add Localization issue template"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Scribe being a multilingual app, it would be good if the app and App Store texts were also localized ac

[2022-02-03 13:06] andrewtavis commented on #119
@RishiKumarRay, let me know if this is something you'd have interest in working on :)

[2022-02-03 13:18] andrewtavis opened #120 "Planning and implementing a feature to change the app's language"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is to make the Scribe app react to the system language that's present on a user's device, th

[2022-02-03 14:04] RishiKumarRay commented on #119
@andrewtavis yes, i would love to contribute again, please assign me this issue, i will work on this , thanks for mentioning

[2022-02-03 14:11] andrewtavis commented on #119
@RishiKumarRay, happy to mention you, and as always thanks for your help! :)

[2022-02-03 14:12] andrewtavis commented on #119
The interview on Tuesday went well, btw :) They're making a transcript of it that I'll check sometime next week, and then that'll go live 😊

[2022-02-03 15:12] andrewtavis commented on #117
Checking the system keyboard shows that there should be a switch back to letter keys after every key from the number and symbol keys is pressed followed by a space.

[2022-02-04 06:57] andrewtavis commented on #118
Closed in b8343ae :)

[2022-02-04 06:57] #118 closed

[2022-02-04 07:10] andrewtavis commented on #117
Closed in 4c8c6e0 :)

[2022-02-04 07:10] #117 closed

[2022-02-04 11:25] andrewtavis commented on #9
This directory was made in 2216734 - [Scribe-iOS/Scribe/AppTexts](https://github.com/scribe-org/Scribe-iOS/tree/main/Scribe/AppTexts).

[2022-02-05 07:03] RishiKumarRay commented on #119
@andrewtavis happy to hear that, i will wait for it. thanks for letting me know
also i have raise PR for this issue please review @andrewtavis and let me know the changes

[2022-02-05 11:28] andrewtavis commented on #119
@RishiKumarRay, changes were pretty simple for this one :) I just cleaned up the description, and I decided my suggestions for two text fields wasn't a good one upon looking at it. I think localization is an easy enough issue that we can just have a single field like in the `Question` template 😊

Let me know what you think! If it looks good for you, as before you're welcome to push it to Android a

[2022-02-05 13:33] andrewtavis opened #122 "All lines being reduced to a reasonable length (120 characters) where able"

[2022-02-05 15:37] andrewtavis opened #123 "Annotations triggered by space during commands"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

If a user presses space while in a command and there is a word before the text proxy cursor that will trigger an

[2022-02-05 15:40] andrewtavis commented on #123
Closed in 132547d :)

[2022-02-05 15:40] #123 closed

[2022-02-05 17:10] RishiKumarRay commented on #119
@andrewtavis  Yeah i totally agree, this looks great , thanks , sure i will raise PR to both the repos and let you know

[2022-02-05 17:36] andrewtavis commented on #119
Thank you, @RishiKumarRay! Look forward to them :)

[2022-02-05 18:37] RishiKumarRay commented on #119
@andrewtavis please review i have raise both the PR

[2022-02-06 07:53] andrewtavis commented on #119
@RishiKumarRay, merged both and just changed the links and the corresponding text :) Thanks again for your great work! 🙏

Will close this now :) Hope you're having a nice weekend!

[2022-02-06 07:53] #119 closed

[2022-02-07 14:02] RishiKumarRay commented on #119
Thankyou for mentioning , i will happy to work in future too for more such issues.

[2022-02-07 19:12] andrewtavis opened #124 "Update data for v1.2.1 release"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

All languages

### Data procedure

ETL (Wikidata to Scribe)

### Issue

This issue is to update the data on Scri

[2022-02-08 15:07] #1 closed, assigned to andrewtavis

[2022-02-09 17:17] andrewtavis opened #125 "Spelling errors only shown right after keyboard is switched to"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

One of the unexpected features of Scribe is that there is the potential to have the normal system spellcheck fun

[2022-02-09 17:26] andrewtavis opened #126 "Keyboard crashes when switching languages during conjugate mode"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

A current issue with phones that have a language switch key below the safe area (iPhone X and above) is that the

[2022-02-09 17:30] andrewtavis opened #127 "Allow for alternate keys to be added to keyboard keys"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

A great feature that could eventually be added to Scribe would be to allow users to add alternate keys

[2022-02-09 22:12] jdgiddens opened #128 "No pronouns in translations"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

deutsch

### Issue

pronouns are not saved to be translated, not sure if data is missing from Wikidata or what

[2022-02-09 22:14] andrewtavis commented on #128
Issue is that I didn't add pronouns to the translation files, but I can potentially add those in for another version as those in to another version :)

Thanks for letting me know!

[2022-02-09 23:12] andrewtavis commented on #126
Thanks @jdgiddens for the change :) Works great!

Closing this now :)

[2022-02-09 23:12] #126 closed

[2022-02-10 11:25] andrewtavis commented on #111
@RishiKumarRay, FYI I removed the bot for PRs. The [check](https://github.com/scribe-org/Scribe-iOS/pull/129/checks) for #129 failed and the bot didn't run. I'm unsure if there's just a mini issue with it, but I decided to disable it for now. It looks like [this issue](https://github.com/actions/first-interaction/issues/10) has some potential fixes.

For now I just commented it out :)

[2022-02-11 11:11] andrewtavis commented on #128
Checking the personal pronouns, pronouns and articles for words that were missing, the following words will be added to the translation options for each language: you, we, he, she, they, xe, it, sie, ze, fae, hir, ae, I, ne, heer, zhe, ey, thon, zie, ve, a, the, whomst, who, anyone, something, whomsoever, everyone, everything, anything, whoever, idem, what, yous, which, anybody, whosoever, whether

[2022-02-11 13:12] andrewtavis commented on #128
@jdgiddens, 339a005 closes this :) All pronoun translations will be included in the v1.2.1 release, which should go out in the next few days. Thanks again! 😊

[2022-02-11 13:12] #128 closed

[2022-02-11 21:21] andrewtavis commented on #124
Closed in 50838d2 :)

[2022-02-11 21:21] #124 closed

[2022-02-11 23:22] andrewtavis commented on #16
This would be best achieved by a hamburger menu at the top right of the app screen.

[2022-02-11 23:27] andrewtavis commented on #39
Closing this issue as the consensus is that for now it's good that Scribe look as much like the system keyboard as possible. Other elements are brand specific and should also not be changed.

[2022-02-11 23:27] #39 closed

[2022-02-11 23:30] andrewtavis commented on #33
These changes would be done in the `InterfaceVariables` files for each keyboard, with the conditions within [KeyboardsBase/KeyboardKeys.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/KeyboardKeys.swift) then being used to adapt the key widths.

[2022-02-12 04:29] RishiKumarRay commented on #111
@andrewtavis let me look into this, thanks for letting me know

[2022-02-12 08:35] andrewtavis commented on #111
@RishiKumarRay, it looks like it’s been problematic for a lot of people. The issues bot worked great though 😊

[2022-02-12 11:00] andrewtavis opened #130 "Create user onboarding tutorial"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Initial user tests have indicated that a user tutorial would be a useful addition to the app screen. Th

[2022-02-12 11:16] andrewtavis opened #131 "App and key texts should be made larger"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This is a simple issue that goes with #16. The app screen is going to be redone so that the `View Privacy P

[2022-02-12 11:26] RishiKumarRay commented on #111
@andrewtavis yeah it looks like a major problem from the github itself let me find a alternative , Thanks and sorry it failed now

[2022-02-12 11:26] andrewtavis commented on #16
A back button should be added to each page that's not the home screen, with a swipe right also potentially being used as a way to get back to the original screen.

[2022-02-12 11:58] andrewtavis commented on #111
@RishiKumarRay, don't worry about it at all. Take your time and I'm sure you'll figure it out. I'm working on other things the next few days, but I'd also be happy to discuss potential solutions :)

[2022-02-12 12:10] andrewtavis opened #132 "Add Italian keyboard"
### Terms

- [X] I have searched [open new keyboard issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3A%22new+keyboard%22)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)
- [X] This issue is about one language, and I've changed the title to reflect this

### Language support

It

[2022-02-12 12:14] andrewtavis commented on #132
Word counts via [Data/check_language_data.sparql](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/check_language_data.sparql):

type | total
:-- | --:
adjective | 60
adverb | 15
noun | 562
personal pronoun | 2
preposition | 20
pronoun | 6
proper noun | 6
verb | 70

[2022-02-12 12:15] andrewtavis commented on #132
Verb support is more robust than French as the verbs do have their conjugations. Noun support is fairly limited, but the overall effort of adding this in is reasonable given that more data can and will be added.

[2022-02-12 12:31] andrewtavis opened #133 "Add Danish keyboard"
### Terms

- [X] I have searched [open new keyboard issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3A%22new+keyboard%22)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)
- [X] This issue is about one language, and I've changed the title to reflect this

### Language support

Da

[2022-02-12 12:34] andrewtavis commented on #133
Word counts via [Data/check_language_data.sparql](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/check_language_data.sparql):

type | total
:-- | --:
adjective | 1193
adverb | 277
article | 3
noun | 7511
preposition | 53
pronoun | 46
proper noun | 435
verb | 3145

[2022-02-12 12:44] andrewtavis opened #134 "Add Hebrew keyboard"
### Terms

- [X] I have searched [open new keyboard issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3A%22new+keyboard%22)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)
- [X] This issue is about one language, and I've changed the title to reflect this

### Language support

He

[2022-02-12 12:45] andrewtavis commented on #134
Word counts via [Data/check_language_data.sparql](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/check_language_data.sparql):

type | total
:-- | --:
adjective | 4269
adverb | 107
article | 1
noun | 19748
preposition | 59
pronoun | 21
proper noun | 872
verb | 4705

[2022-02-12 12:53] andrewtavis opened #135 "Add Bokmål (Norwegian) keyboard"
### Terms

- [X] I have searched [open new keyboard issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3A%22new+keyboard%22)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)
- [X] This issue is about one language, and I've changed the title to reflect this

### Language support

No

[2022-02-12 12:55] andrewtavis commented on #135
The ISO 639-1 for Bokmål is `nb`, so that's what we'd be using for abbreviations.

[2022-02-13 09:47] andrewtavis opened #136 "Add dynamic keystrokes"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Something that would dramatically improve the usability of Scribe is the addition of dynamic keystrokes

[2022-02-13 14:50] andrewtavis commented on #136
Whether this feature would mimic auto suggest should be discussed: so whether the next letter that follows a given group of letters would be the next letter in the most likely word being typed, or whether a simple average of the next letter in all possible remaining words would be made more likely. As the most likely word would already eventually be suggested in #3, maybe simply saving average exp

[2022-02-13 15:01] andrewtavis commented on #2
Allowing a user to add words to not be corrected would also be helpful when #16 is finished and settings are possible.

[2022-02-18 11:46] andrewtavis opened #138 "Already plural message needs to be localized"
### Terms

- [X] I have searched [open localization issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+is%3Aopen+label%3Alocalization)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

The message that is displayed to the user when a noun is already plural is in English for all ke

[2022-02-18 11:58] #132 closed

[2022-02-18 11:59] #138 closed

[2022-02-19 10:17] andrewtavis opened #139 "Update App Store media for v1.3.0 release"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

The App Store media needs to be updated for the v1.3.0 release. Specifically the second image on available

[2022-02-19 10:20] andrewtavis commented on #26
Now that the key designs have been updated, it should be much easier to derive exact key locations and create elements to show a proper key pop up. This will not be implemented for Scribe command buttons as feedback indicates that it's unnecessary, and further their location at the top of the keyboard prevents this feature as Scribe elements cannot exceed the keyboard height.

[2022-02-20 14:09] andrewtavis commented on #131
Generally it looks like the problem is with lower case key texts, as these are in a larger font on the system keyboard. The lower case characters are further shifted up a little bit so that most characters are centered.

[2022-02-20 22:56] andrewtavis commented on #131
Closed in dbacc35. The conjugation view characters could be made larger later on, but for now it's fine given the space taken up by German verbs that have both sein and haben as auxiliaries for their perfect tenses (the auxiliaries could be put on another line later potentially - thus allowing the size to increase).

[2022-02-20 22:56] #131 closed

[2022-02-20 23:03] andrewtavis commented on #139
The capital letters that are displayed for the keyboard views were not resized and don't need to be retaken.

[2022-02-20 23:47] andrewtavis commented on #139
Closed in 60c8402 and a1f26ca, with the new versions just being uploaded to App Store Connect for the next release.

[2022-02-21 07:42] andrewtavis commented on #139
Once #26 is finished the videos will also need to be redone to show the keys popping up and the new lower case key character sizing from #131.

[2022-02-26 12:36] #26 closed

[2022-03-01 13:37] andrewtavis opened #141 "Rework Scribe key press when selecting a word"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Many have commented recently that the functionality of the Scribe key when a word is selected could be

[2022-03-01 15:11] andrewtavis commented on #139
Closed in 90bc294 and 7cf63cb :)

[2022-03-01 15:11] #139 closed

[2022-03-01 18:36] andrewtavis opened #142 "Fix apostrophe and quote alt chars with symbol alt char width resize"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

v1.3.0 will have two minor bugs on release:

- Apostrophe's and quotes have an incorrect alternate characte

[2022-03-02 07:14] andrewtavis opened #143 "Disable keyUntouched for hold to select character keys when held"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

An issue with the new version of hold to select characters is that the keyboard often cancels the alter

[2022-03-02 16:37] andrewtavis commented on #143
Closed in 8d0de9e - canceling the long hold will no longer cancel the alternates view as the goal of the user is to generate it. User will need to press another key to get rid of it.

[2022-03-02 16:37] #143 closed

[2022-03-02 17:17] #142 closed

[2022-03-05 20:39] andrewtavis opened #144 "Update data for v1.3.1 release"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

All languages

### Issue

This issue is to update the data for Scribe before the v1.3.1 release that has various

[2022-03-05 20:42] andrewtavis commented on #144
The blogpost on Scribe for [Wikimedia Tech News](https://tech-news.wikimedia.de/en/homepage/) will soon be finished, and it would be good to have the bugs fixed before that goes live. A data update would be a natural addition as data for Italian was the only addition for v1.3.0.

[2022-03-08 12:26] andrewtavis commented on #144
Closed in 1833611 :) Major update for Spanish verbs!

[2022-03-08 12:26] #144 closed

[2022-03-10 18:08] andrewtavis opened #145 "Key alternates view still disappearing too easily"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

The key alternates view is still disappearing too easily now that we've switched over to key callouts.

### Devi

[2022-03-10 18:11] andrewtavis commented on #145
Closed in dd93993, but potentially will need another fix later.

[2022-03-10 18:11] #145 closed

[2022-03-12 12:54] andrewtavis opened #146 "Data update for v1.3.2 release"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

All languages

### Issue

v1.3.2 will push a simple bug fix to assure that hold to select character callouts don

[2022-03-12 13:11] #146 closed

[2022-03-12 13:21] andrewtavis commented on #146
Closed in 1110feb. Spanish verb updates continue steadily :)

[2022-03-13 08:56] andrewtavis opened #147 "Speed up delete button as user continues to hold"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

It would be good if Scribe's delete button would speed up as the user holds it for longer, as this is a

[2022-03-13 10:49] andrewtavis opened #148 "Data update for v1.3.3"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

All languages

### Issue

This issue is for the data update for v1.3.3, which will release another potential fix

[2022-03-13 10:52] #148 closed

[2022-03-14 10:58] andrewtavis commented on #35
![SCRIBE_3](https://user-images.githubusercontent.com/24387426/158158627-2a8a91bd-c9e2-43e3-9b09-1c18a36413b0.png)

The above was done by a designer as an example for a blogpost header. This could be used as a guide for doing the greyed out text, which could be `keyPressedColor` from [ColorVariables.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/ColorVariables.sw

[2022-03-15 06:58] andrewtavis opened #150 "[deleted] Hold alternate character view to select"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

The system keyboard functionality for hold-to-select keys is that the user must continue to hold and th

[2022-03-15 08:07] andrewtavis commented on #35
We could also do "Scribe" in greyed out letters to keep it consistent across keyboards.

[2022-03-15 21:35] andrewtavis opened #151 "Update App Store images to display Wikidata"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Based on best practices discussed at [Wikidata Data Reuse Days](https://diff.wikimedia.org/event/wikidata-d

[2022-03-15 21:52] andrewtavis commented on #151
Closed in 581c8c5 and 0e4fd77 :)

[2022-03-15 21:52] #151 closed

[2022-03-16 16:34] andrewtavis opened #152 "Fix update_data.py to work with all queries"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

Specifically latin languages

### Issue

Currently [update_data.py](https://github.com/scribe-org/Scribe-iOS/blo

[2022-03-17 18:54] andrewtavis opened #154 "Minor update to Anytime image on App Store"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

It would be better if the “Anytime” image on the App Store read “Any Feature” above it instead of “All Feat

[2022-03-17 23:01] andrewtavis commented on #154
This issue will also update the vertical spacing between headers and subheaders in images where the text is at the bottom of the image.

[2022-03-17 23:11] andrewtavis commented on #154
Closed in the above two commits. These images will be added to the next release :)

[2022-03-17 23:11] #154 closed

[2022-03-19 17:11] andrewtavis commented on #85
Something to consider is that these exercises could be used for potentially beneficial purposes in a similar way that Duolingo translations are used to translate documents. If Scribe adopted similar translation game structures, then these could be used to update Wikipedia or Wikidata.

[2022-03-19 17:25] andrewtavis opened #155 "Separable verbs need to have the cursor go between the verb and prefix"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

For German verbs it would be good to check if the verb is separable, and if so for conjugation the curs

[2022-03-19 20:40] andrewtavis commented on #85
Spoken exercises are another thing that could be leveraged in open-source to improve open spoken language processing. Datasets for this are currently not very robust, so Scribe could dramatically broaden these by allowing people to read things that are interesting to them out loud (based on user feedback and NLP over their writing), have their pronunciations graded using automatic speech recogniti

[2022-03-19 21:02] thadguidry commented on #85
Common Voice integration? https://commonvoice.mozilla.org/en/datasets

[2022-03-19 21:08] andrewtavis commented on #85
I was actually just about to write you about the above via email :)

Thanks for the link. Do you think there's any value to the above ideas as far as integrating some of this into a pipeline where properties would be able to be made and/or validated based on advanced learners as well as native speakers being asked to do some checks as a "cost"? It'd obviously be a ton of work to get this set up, a

[2022-03-19 21:18] thadguidry commented on #85
To me, some of that functionality might be better suited outside of Scribe as a keyboard enhancement?  I could envision some human language curation working as a dedicated app, either mobile or desktop or both.  Many in Wikidata already have plans for some of this down the road after Abstract Wikipedia and Wikifunctions come more into focus later this year and next.  Your above comments are not co

[2022-03-19 21:54] andrewtavis commented on #85
Was kind of stream of consciousnessing for a moment, so sorry from me too as some of it maybe isn't saying what I want it to. Would be happy to discuss it in more detail in a different forum. Definitely seems to be a bit out of scope at this point especially 😄

Generally the gist of what I'm getting at is: say that we know a user's native language as well as what they're learning. In that case the

[2022-03-19 22:18] thadguidry commented on #85
OK, now I understand more of what you mean.  Basically using some human curation from a language learner to add back knowledge into Wikidata.  Yeah, that's the sort of thing that Wikifunctions could help with a bit later on...with some apps that can use the Lexeme knowledge in Wikidata that is ever expanding from native knowledge folks.

[2022-03-19 23:59] andrewtavis commented on #85
Exactly :)

I'm not sure about exact planned structures of Abstract Wikipedia as I've just been looking for the last bit, but it could potentially also integrate with that as a health check of some of the functions. So an edit is made on Wikipedia, and then that edit could then serve as prompt where strong learners/native speakers in each language it's going to would be asked to translate it to ch

[2022-03-20 00:35] thadguidry commented on #85
Abstract Wikipedia is the idea of "generating" wiki pages for languages that do not have one yet.  For instance, generating a Wikipedia page in Igbo language for Mariah Carey using the English Wikipedia page for the artist.  The generated pages of Abstract Wikipedia will be generated by Wikifunctions that are implemented, curated, and improved by human developers.

Where human curation comes into

[2022-03-20 08:57] andrewtavis commented on #85
Ya I guess given the above and what I've further read the ideas of it working as a feedback to Wikidata don't make sense. Specifically if you assume the amount of data that'd be present by the time this feature is released there would be sufficient lexeme forms such that new ones would likely be difficult for even native speakers to understand (or just kind of random and a person wouldn't see valu

[2022-03-20 09:12] andrewtavis commented on #85
So staying at the original idea where the long term goal of the language exercises would be:

- Analyzing what a user types with a Scribe keyboard along with potentially some user input of what interests them
- Determine the appropriate topics that the user would want to do exercises on
  - This then solves a common criticism of language apps where they're said to not help with what a learner spec

[2022-03-20 09:36] andrewtavis commented on #85
@thadguidry, would it make sense in your opinion to put the above in the discussion and close this, and then from there make new issues when work on this is going to be done?

[2022-03-20 15:08] thadguidry commented on #85
Can you convert this whole issue into a discussion? That might be better. And it just stays around that way. Category of Idea might be fitting.

[2022-03-20 19:38] #18 closed, assigned to nobody

[2022-03-20 19:42] #36 closed, assigned to nobody

[2022-03-20 19:43] andrewtavis opened #160 "Hide Scribe UI feature"
This discussion is for devising the implementation of a feature where the Scribe UI can be hidden. As the UI does take up a lot of the screen, a way to hide the Scribe command elements would be helpful as it would allow some users to get a simpler interface when the commands are not needed. This would be dramatically better than the user switching to an equivalent system keyboard.

As of now a wor

[2022-03-20 19:44] andrewtavis commented on #160
Was an issue, then a discussion, and I'm realizing that since autocomplete can be implemented with the current UI that we'll be fine without this.

[2022-03-20 19:44] #160 closed

[2022-03-20 19:45] #37 closed, assigned to nobody

[2022-03-20 20:21] andrewtavis opened #162 "Change not in directory to not in Wikidata"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

All languages

### Issue

A good way of signaling the use of [Wikidata](https://www.wikidata.org/wiki/Wikidata:M

[2022-03-20 20:24] andrewtavis commented on #162
Closed in 241dd6c :)

[2022-03-20 20:24] #162 closed

[2022-03-24 18:06] andrewtavis commented on #147
Hi @AE542, thanks for reaching out! There's no animation that's tied to it. Basically what we're talking about is that `self.handleDeleteButtonPressed()` is being passed within `keyLongPressed`. The interval for this is defined above repeat every `0.1` seconds in `backspaceTimer = Timer.scheduledTimer(withTimeInterval: 0.1, repeats: true)`.

It would be great if the time interval would react to th

[2022-03-24 21:42] andrewtavis commented on #147
Also, looking at your work, I was thinking that a version of Nankaimo would be really cool and expansive if you used [Wikidata](https://www.wikidata.org/wiki/Wikidata:Main_Page) as the backend like Scribe. Currently there's not very much Japanese data on there (see the [nouns query](https://github.com/scribe-org/Scribe-iOS/blob/main/Data/Japanese/nouns/queryNouns.sparql)), and not sure what your d

[2022-03-29 11:02] andrewtavis commented on #10
Closed with [080fd74](https://github.com/scribe-org/Scribe-iOS/commit/080fd745adcd8c8a0b834580bd8c9072f9a69981). The data files are now maintained in [Scribe-Data](https://github.com/scribe-org/Scribe-Data). Formatting scripts will need to be rewritten to update files within Scribe-iOS, which will be done in a forthcoming issue.

[2022-03-29 11:02] #10 closed

[2022-03-29 12:10] andrewtavis commented on #16
The following would be the potential icons that would be used for the menu (mostly SF Symbols):

- house (home)
- arrow.2.circlepath, plus.bubble, memories (language practice)
- gear (settings)
- lock.shield (privacy policy)
- envelope (contact)
- Wikimedia/Wikidata logo (Wikidata)
- arrow.left (back button)
- line.horizontal.3 (humburger)

[2022-03-29 12:11] andrewtavis commented on #130
arrow.left.arrow.right (SF Symbols) and each of those individually can be used to indicate to the user that a swipe is possible.

[2022-04-03 07:17] AE542 commented on #147
Sorry for the late reply but I’d like to have a go at tackling this over the week. There’s a way to speed up the time interval depending on the users buttons press I think.

[2022-04-03 07:20] AE542 commented on #147
Ah yeah there’s no data source as the user makes there own one. It’s more like a personal collection of words a user sees in Japanese and adds them when they want to, to eventually test themselves. It does need an overhaul eventually. Scribe is an interesting solution though I’ll check it out!

[2022-04-03 11:33] andrewtavis commented on #147
Not a problem on the late reply! You’re welcome to send a PR, and let me know if you have any questions :)

I’ll assign it to you now 😊

[2022-04-03 11:39] andrewtavis commented on #147
Ya maybe you could use some of the Japanese queries in [Scribe-Data/Data/Japanese](https://github.com/scribe-org/Scribe-Data/Data/Japanese) as a basis later on when the coverage is better. We could keep an eye on how the data expands in the future and go from there :)

[2022-04-03 11:40] andrewtavis commented on #147
Thanks for your willingness to help!! :)

[2022-04-04 18:20] andrewtavis commented on #3
The codes for this should be added into a file `autocomplete.swift` in [Keyboards/KeyboardsBase](https://github.com/scribe-org/Scribe-iOS/tree/main/Keyboards/KeyboardsBase).

[2022-04-08 07:22] andrewtavis opened #163 "Data update for v1.3.5"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

All languages

### Issue

This issue is to document the data update for the next release. There have been minor

[2022-04-08 07:26] andrewtavis commented on #95
Note that the result of this issue is now [scribe_data/load/update_data.py](https://github.com/scribe-org/Scribe-Data/blob/main/src/scribe_data/load/update_data.py).

[2022-04-08 07:50] andrewtavis commented on #163
Closed in c2a747f :)

[2022-04-08 07:50] #163 closed

[2022-04-08 08:32] andrewtavis commented on #3
This might be a useful read: https://www.analyticsvidhya.com/blog/2019/12/create-nlp-apps-ios-using-apples-core-ml-3/

[2022-04-08 08:37] andrewtavis commented on #125
It might be helpful to look into [UITextChecker](https://developer.apple.com/documentation/uikit/uitextchecker) and how it relates to the `UITextDocumentProxy`.

[2022-04-08 09:17] andrewtavis commented on #125
This bug can be reproduced in Xcode's simulator. Switch to a Scribe keyboard from a system one and the spellcheck will work, but then it won't if the conversation is left and then is came back to with the Scribe keyboard being used automatically.

This would hopefully be something that can be fixed in a future release, as not having autocorrect via #2 means that currently the user doesn't have hel

[2022-04-19 07:32] andrewtavis opened #164 "Coloration of nouns in autocomplete and suggest"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

As work commences on #3, a secondary goal will be to color the nouns within the suggestions and complet

[2022-05-01 12:34] AE542 commented on #147
@andrewtavis
Hi I've been tackling this on and off. Sorry for not contacting you sooner! I have found a way to get the deletion to work the longer the button is pressed but its causing the Scribe autosuggestion bar to disappear above the keyboard.
Simply adding creating a variable to handle the keyboard deletion using a UILongPressGestureRecognizer, it deletes faster if the user is pressing the de

[2022-05-01 18:15] andrewtavis commented on #147
Hi @AE542 :)

All fine on the timing! No stress whatsoever 😊 Let me know if you'd like me to look at something for this. I'm in the process of looking into [Scribe-Android](https://github.com/scribe-org/Scribe-Android) at the moment as there's interest for a conference I have coming up, but am very much happy to help you with this!

Wishing you all the best!

[2022-05-18 15:03] andrewtavis opened #165 "Change return key icon to a right triangle during command executions"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This is a very simple issue. The goal is that the commands Translate, Conjugate or Plural would trigger a c

[2022-05-21 20:38] andrewtavis opened #166 "Add information icon to the command bar"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Scribe-iOS will eventually allow users to press the command bar for information (see #13). The first step i

[2022-05-30 15:42] andrewtavis opened #167 "Show features on App Store instead of listing them"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

The [App Store images](https://apps.apple.com/app/scribe-language-keyboards/id1596613886) should be changed

[2022-05-30 18:29] andrewtavis commented on #167
As a part of this the App Screen files should be moved to Figma.

[2022-05-30 19:49] andrewtavis opened #168 "Switch conjugation back to base view"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

This is a very simple issue. Currently the conjugation state is not resetting for the conjugation command, which

[2022-06-08 20:42] andrewtavis opened #169 "Delete autocomplete space if punctuation follows"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This is a feature that would be helpful to include once autocomplete is included in Scribe. The feature

[2022-06-21 22:22] andrewtavis opened #170 "Fix English word not included text"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

This is a very simple error. The file [Keyboards/KeyboardsBase/InterfaceVariables.swift](https://github.com/scri

[2022-06-22 09:27] andrewtavis commented on #167
The designer is currently taking a look at the images. Once they're finalized, the image for [New Developers](https://www.mediawiki.org/wiki/New_Developers) should also be updated. That is found [here](https://commons.wikimedia.org/wiki/File:ScribeNewWMFDevsImg.png).

[2022-06-24 03:16] SaurabhJamadagni commented on #170
Hi @andrewtavis, I am interested in making this correction. Please may I?

[2022-06-24 05:54] SaurabhJamadagni commented on #35
Hi @andrewtavis, I would like to help with this task. I am new to iOS Development. It would be really helpful if you could give me a few pointers as to what needs to be done. For the greyed out letters, I was wondering if adding a placeholder text property to `commandBar` is the solution?

[2022-06-24 08:49] andrewtavis commented on #170
Fixed in [cb425ff](https://github.com/scribe-org/Scribe-iOS/commit/cb425ff8af0876249b195f0c6dc3ba1b5573595d) :)

[2022-06-24 08:49] #170 closed

[2022-06-24 09:23] andrewtavis commented on #35
@SaurabhJamadagni, thanks for reaching out! I'd be very happy to give some direction on this. Your suggestion to add a placeholder text is definitely in the right direction, but then this placeholder text would only be viewable when `commandState == true` (we want to keep the UI clean when the user is not in command mode). Big thing as well is that we need to make sure that when the user starts ty

[2022-06-25 05:59] SaurabhJamadagni commented on #35
@andrewtavis When I type, my attention tends to go to the place where I am typing in the document automatically. So I am just wondering if animating the command bar would be distracting? I completely understand that the whole point is to get the attention of the user to the command bar. But also we wouldn't want the user forgetting the context of what they were typing with the looking back and for

[2022-06-25 09:15] andrewtavis commented on #35
@SaurabhJamadagni, you very much are being of help! I actually totally agree with what you said. The designer said we'd definitely need to prototype any significant color change to the UI like changing the command bar's color. I honestly like my idea less than the original and yours now 😄

The first task would be to add the placeholder text anyway, so let's do that, and we can see if we want to an

[2022-06-25 09:29] andrewtavis commented on #35
First a decision of what the prompts would be needs to be made, and then you could start making those initial changes to add the needed variables while we iron out the rest 😊

Here's the conjugation prompt for German with two different styles of prompt:
![CommandPromptWithDots](https://user-images.githubusercontent.com/24387426/175767237-cd8b8563-1a4a-436d-8695-df3fb348e818.png)
![CommandPrompt](h

[2022-06-25 09:34] andrewtavis commented on #168
This seems to only be affecting certain keyboards and not others. The German keyboard does switch back, for instance, but the Spanish one does not.

[2022-06-25 09:53] andrewtavis commented on #35
We might also want to consider a full prompt like below ("input Verb" in German):

![CommandPrompt](https://user-images.githubusercontent.com/24387426/175768373-86666b99-8ebf-4229-bfc5-1b07f2ec4d8e.png)

[2022-06-25 11:53] SaurabhJamadagni commented on #35
"write" would be more inline with the name of the app in my opinion and better in terms of consistency throughout languages. I also prefer the `...` Maybe could also try adding them after the word. Example, `schreibt...`

[2022-06-25 12:01] SaurabhJamadagni commented on #35
Yes I would love to work on that issue till the intricacies of this issue are figured out. Initially I was confused between the two issues. But because of my current limited knowledge, I just chose the one which looked simpler. It would be really helpful if you could give a similar summary for issue #168. It is really helping me understand the project better! Thank you so much for taking the time

[2022-06-25 19:08] andrewtavis commented on #35
Yes, I'd say this one or without the dots 😊 Here's a screen of it :)

![CommandPrompt](https://user-images.githubusercontent.com/24387426/175787244-100ee180-28e1-46a7-b996-13f3bd11ac2a.png)

[2022-06-25 19:10] andrewtavis commented on #35
My pleasure! I'll head over there and type something out :blush

[2022-06-25 19:22] andrewtavis commented on #168
@SaurabhJamadagni, this issue deals with resetting the conjugation state before the interface is loaded. Looking at it, I only did it for German and not any of the other ones (I'm normally testing on the German keyboard). The conjugation state is reset for German at this place in the codes, which is right when the conjugation button is pressed:

https://github.com/scribe-org/Scribe-iOS/blob/076650

[2022-06-27 03:34] SaurabhJamadagni commented on #168
Thank you very much @andrewtavis! I'll get started with this immediately.

[2022-06-27 08:45] andrewtavis commented on #167
These images should be sure to avoid white in their backgrounds to avoid blending in with the webpage background, so will probably be left in the current state.

[2022-06-27 14:58] andrewtavis commented on #35
@SaurabhJamadagni, the designer said that he liked this version the best as the directions are very clear, so what we should look to do is make three different prompts:

- Enter word for translation
- Enter verb for conjugation
- Enter noun for plural

Let me know how it sounds on your end, and hope you had a nice weekend!

[2022-06-28 05:32] SaurabhJamadagni commented on #168
Hi @andrewtavis! I went ahead to make the required changes to the six files right now, but the code lines that are needed are already there in each file. Do you think there can be some other problem that is causing the conjugation to not revert back? I will brainstorm about any other possibilities that might be causing this as well.

[2022-06-28 05:44] SaurabhJamadagni commented on #35
Yes, the clarity absolutely makes sense. It would definitely improve user experience. Also like discussed before, is any form of animation going to be added? I would love to hear your and the designer's take on that too. We could surely get started with implementing it. Let me know whenever you want me to start working on this issue.

I did have a pleasant weekend. I hope the same was true for you

[2022-06-28 06:13] andrewtavis commented on #168
@SaurabhJamadagni, the six files are fine, but they need to be referenced to find the needed lines to be added to: https://github.com/scribe-org/Scribe-iOS/blob/076650f8cd1f36c811636a226d4dbe83340705eb/Keyboards/KeyboardsBase/KeyboardViewController.swift#L1272

Of the seven languages, German is the only one that has a conjugation reset line in the code referenced above. Below `deConjugationState =

[2022-06-28 06:19] andrewtavis commented on #35
My weekend was also very nice! Am going to be pushing the new App Store image designs later today, and socially had some nice days 😊

Let's not do animation as of now, and once the greyed text is finished we can make a new issue to discuss animation if we decide we need it. It might be a bit complex to add to a field that the user needs to be able to type into, so let's do a simple implementation

[2022-06-28 06:20] andrewtavis commented on #168
@SaurabhJamadagni, assigning you to this one and the other we're discussing 😊

[2022-06-28 11:45] SaurabhJamadagni commented on #168
Oh I understand! That was very silly of me. Your directions were perfectly clear! My bad 😅

[2022-06-28 13:25] andrewtavis opened #173 "Data update for v1.3.8"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

This will update data for all languages

### Issue

This issue is to document the data update for version 1.3.8,

[2022-06-28 14:00] andrewtavis commented on #168
@SaurabhJamadagni, just checked it on the emulator for all the new languages, and it's working just fine :D Thank you for such a helpful contribution 😊

As mentioned in #173, this will be included in version 1.3.8 with a data update and the new App Store images 🚀 I'm going to eat now and have a presentation on Scribe for some universities later, but the update should be sent later on tonight :) Re

[2022-06-28 14:00] #168 closed

[2022-06-28 14:07] andrewtavis commented on #167
New App Store images are below! :)

![scribeAppStoreImages](https://user-images.githubusercontent.com/24387426/176199327-ee442500-b082-4204-b488-8ee9304d6be1.png)

[2022-06-28 14:46] andrewtavis commented on #173
Closed in f090bff :)

[2022-06-28 14:46] #173 closed

[2022-06-28 15:48] SaurabhJamadagni commented on #168
Wouldn't have been possible without your immense help @andrewtavis! Thank you so much for every explanation you provided. My understanding of the codebase is only going to get better from here to help you with larger contributions. I look forward to the update on the app store! It is thrilling to know that my contribution will be a part of an app on the app store!

Do you use any other communicati

[2022-06-28 16:57] andrewtavis commented on #168
You're very very welcome, @SaurabhJamadagni! Very much looking forward to larger contributions and working on more features with you down the road! You can check what the App Store will look like now in #167 😊 Might need to be cleaned up a bit, but the designer and I are very happy with how it turned out 😊😊

As far as other communication channels, you're welcome to reach out at my email that's on

[2022-06-30 15:54] SaurabhJamadagni commented on #35
Hi @andrewtavis, sorry I was away for a couple of days.

Coming to this issue, if I am not wrong, the three variables `translatePlaceholder`, `conjugatePlaceholder` and `pluralPlaceholder` should go in [CommandVariables.swift](https://github.com/scribe-org/Scribe-iOS/blob/47aa534852abeb76c28206a9030ddf2bacb616cd/Keyboards/KeyboardsBase/ScribeFunctionality/CommandVariables.swift).

My guess is the

[2022-06-30 16:18] andrewtavis commented on #35
@SaurabhJamadagni, all fine on the timing. I've been busy the last few days too :)

Yes, [CommandVariables.swift](https://github.com/scribe-org/Scribe-iOS/blob/47aa534852abeb76c28206a9030ddf2bacb616cd/Keyboards/KeyboardsBase/ScribeFunctionality/CommandVariables.swift) would be where to put those variables, and then their translated versions for each language need to go into the respective set layo

[2022-06-30 16:26] andrewtavis commented on #35
How are you doing on your development environment? Have you been able to get Scribe up and running on an emulator? Happy to help with that if you need some 😊

[2022-06-30 16:58] andrewtavis commented on #147
Hi @AE542, checking in with you on the status of this :) Let me know if there's anything I can do to help 😊

[2022-07-01 09:47] SaurabhJamadagni commented on #35
Yes, that sounds like a great plan. I will get started with the required code for the first PR stage. I'll reach out to you if I need help with anything else. This is much appreciated. Thank you @andrewtavis!

[2022-07-02 09:58] SaurabhJamadagni commented on #35
Yes absolutely! I'll try to see if I can replicate it and figure out what is causing this problem 😄

[2022-07-02 14:57] andrewtavis commented on #35
@SaurabhJamadagni, thanks for the first PR on this! Now onto some serious work :D

First and foremost we need to switch the prompt that's switched when a user presses a command button to the new ones that have the prompts right here:

https://github.com/scribe-org/Scribe-iOS/blob/076650f8cd1f36c811636a226d4dbe83340705eb/Keyboards/KeyboardsBase/KeyboardViewController.swift#L1085

So `commandBar.tex

[2022-07-03 09:16] SaurabhJamadagni commented on #35
@andrewtavis, yes booleans sound like a good option to go with for this problem. I was also wondering if an overlapping transparent label that holds the placeholder text could be a solution? That way when we have to grey the text out or animate it in the future we could work on that label without affecting the `CommandBar`. Whenever the user starts typing, we could set the placeholder to be an emp

[2022-07-03 14:51] andrewtavis commented on #35
@SaurabhJamadagni, I like your thinking on this 👏😊 Really is a nice thought process for how to solve this problem :)

I think that a boolean label might still be the way to go as having a separate label would require us to calculate the exact distance from the start of the original label and position the placeholder using spaces. This becomes difficult when we consider that some characters have di

[2022-07-04 10:13] SaurabhJamadagni commented on #35
Yes @andrewtavis, that makes a lot of sense. I completely forgot that we would have to calculate the spacing for more than one language haha. That is a completely valid point. We should proceed with the boolean implementation. Like you said, we can look into this method if we face any issues down the line. I'll get started working on it. Thanks for your kind consideration 😊

[2022-07-04 10:37] andrewtavis commented on #35
@SaurabhJamadagni, thanks for the hard work, and again I really did like the idea! :) Let me know if you need any help! 😊

[2022-07-04 13:58] SaurabhJamadagni commented on #35
Yes @andrewtavis, that makes a lot of sense. I completely forgot that we would have to calculate the spacing for more than one language haha. That is a completely valid point. We should proceed with the boolean implementation. Like you said, we can look into this method if we face any issues down the line. I'll get started working on it. Thanks for your kind consideration 😊

[2022-07-04 14:03] andrewtavis commented on #35
Deleted the above as it seems like GitHub reposted the comment you made before :)

[2022-07-06 14:58] SaurabhJamadagni commented on #35
Hi @andrewtavis, sorry for the no updates in a while. I was trying to navigate the codebase a little, to the best of my understanding. For this issue, I am thinking of the following. Could you confirm I am headed in the write direction and I'll start updating the code immediately.

1. Create a `inputStarted` boolean in `CommandVariables.swift` that checks if the user has started typing.
2. In the

[2022-07-07 13:51] andrewtavis commented on #35
Hi @SaurabhJamadagni, no worries on no update at all :) Thanks for checking in!

1. Maybe `commandInputStarted` would make it more explicit. I'm wondering if we need a named variable for this or if we should just do conditionals. The ones I'm thinking we need are:

- `commandState == true`
  - We check to make sure that a user hasn't pressed a key like `123`, `ABC`, or another that switches the vi

[2022-07-08 10:58] andrewtavis commented on #35
I think that this is likely the best method, and it also abstracts away from [KeyboardViewController.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/KeyboardsBase/KeyboardViewController.swift) which is so massive 😅 In this case we wouldn't use a boolean variable per your question above :)

We'll just have to keep an eye on this and test it to make sure that it doesn't delete an

[2022-07-12 10:52] andrewtavis commented on #35
@SaurabhJamadagni, coming back to the issue to continue the conversation :)

Again, thanks so much for your work in #175! Really awesome, and we're almost done with all this! Part 3 is likely a bit trickier than we think, but maybe not. Again I think that this [Stack Overflow question](https://stackoverflow.com/questions/27728466/use-multiple-font-colors-in-a-single-label) should be most of what w

[2022-07-12 11:28] SaurabhJamadagni commented on #35
@andrewtavis, I'll do my best to get it done. I had to send my laptop for a battery replacement today as it had clocked a lot of cycles and needed immediate service. I should have it back by tomorrow. In the worst case that I am unable to finish it or the laptop delivery is delayed I'll let you know in advance. I hope that is alright. But for the most part, I think I can get it done by Sunday. 😊

[2022-07-12 11:31] andrewtavis commented on #35
Sorry to hear about the computer problems, @SaurabhJamadagni! Just let me know, and again no stress on if it can't happen by Sunday :)

[2022-07-12 11:45] andrewtavis opened #176 "Data update for v1.4.0 release"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

All languages

### Issue

This issue is to document the data update for the version 1.4.0 release, which will co

[2022-07-12 12:08] andrewtavis commented on #103
It appears that checking for if an input is `UIReturnKeyType.Done` could be the needed conditional to change the return key over.

[2022-07-13 20:53] andrewtavis commented on #35
Hi @SaurabhJamadagni, wanted to draw your attention to the upcoming [Wikimania 2022 Hackathon](https://wikimania.wikimedia.org/wiki/2022:Hackathon) 😊 Generally these events bring people together online to work on Wikimedia tasks and give presentations. I participated at the last hackathon and worked a bit on Scribe-Android, and Scribe should be able to participate again at this one. The email just

[2022-07-14 11:00] SaurabhJamadagni commented on #35
Thanks for considering me @andrewtavis! I would be thrilled to participate. The first day timings seem a bit tricky by my timezone (IST) but I'll help out as much as possible haha. Am I required to register anywhere or do you just register as one team? This sounds like a fun opportunity! Thank you 😊

About the current task regarding placeholder text, my laptop seems to have given up. I am currentl

[2022-07-14 12:21] andrewtavis commented on #35
My pleasure to include you, @SaurabhJamadagni! I figured this would be a fun experience, and it's good to have Scribe folks show up to Wikimedia events so we can keep the connection strong.

No worries if you can't make the first day. These things tend to be informal. It'd be good if you create a Wikimedia account prior to this so that you can sign up, and I'll reach out to see if there's a chance

[2022-07-14 15:06] SaurabhJamadagni commented on #35
I currently don't have an account but I'll create one soon.

That sounds super exciting! Makes me a little nervous but I guess that is part of the experience 😅

Thanks for including me! I am looking forward to it!

[2022-07-17 14:56] SaurabhJamadagni commented on #35
Hi @andrewtavis! I wanted a little bit of your help 😅

- I tried making the placeholder an `NSMuttableAttributedString` inside the `conditionallyAddPlaceholder` function, but that affects the checks inside the `conditionallyRemovePlaceholder` function.
- I also tried to create a function that just colorizes the prompts but it was still difficult to factor in the checks while removing it conditiona

[2022-07-17 21:03] andrewtavis commented on #35
Hi @SaurabhJamadagni, sorry for a late reply to this :) Have had a relaxing day before starting a new job tomorrow.

This sounds like a fine solution to me :) Totally fine to add another variable and add UIKit to the files that need it. Generally what I was thinking is that the `PromptAndPlaceholde` variables would be two colored and assigned, and then when that's not assigned then the default col

[2022-07-18 08:24] SaurabhJamadagni commented on #35
Congratulation on the new job @andrewtavis! I wish you the best! I will try to get the implementation in place. Thanks for your input. 😊

[2022-07-18 15:43] muescha commented on #7
i would vote for an english keyboard - i think the most students are learning english and this keyboard would be helpful

[2022-07-18 16:33] andrewtavis commented on #7
Thanks for your feedback, @muescha!

Yes I think that an English keyboard would help for irregular verbs. Issue is that we’re currently only translating from English to other languages. This issue needs to wait until at least #16 is finished as a user would need to be able to select a language to translate from, and then we could add the translation JSONs.

Any further feedback or support you’d li

[2022-07-18 16:35] andrewtavis commented on #7
- Issue is currently blocked by #16 as people need to be able to select which language they would translate from into English

[2022-07-21 18:51] andrewtavis opened #178 "Switch URL in App Screen to iOS Repo"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This is a very simple issue. Currently the link to GitHub in the app screen goes to the organization, b

[2022-07-22 06:04] #35 closed, assigned to SaurabhJamadagni

[2022-07-22 06:05] andrewtavis commented on #35
All done here, @SaurabhJamadagni!!! I'll work on #176 later this week and do the release 😊 Thanks again so much for your hard work 💪 Feel free to let me know what else you might have interest in doing here, or I'd be happy to make some suggestions :)

[2022-07-22 06:11] andrewtavis commented on #35
Just played around with it a bit more :) Really looking forward to v1.4.0! 🚀

[2022-07-22 06:43] SaurabhJamadagni commented on #35
@andrewtavis, if you have any suggestions do let me know. I would be glad to be of help. Else, I'll browse through the issues today and let you know! Thank you for your help with this issue! It made all the difference 😊

[2022-07-22 07:19] andrewtavis commented on #35
We can do a few more before the hackathon, @SaurabhJamadagni :) What first comes to mind is #165, which I’d love your feedback on, and then #178 should be very simple if you’d like to do it :)

[2022-07-22 09:41] SaurabhJamadagni commented on #35
I would be happy to jump on both issues. I'll leave my thoughts on issue #165 in its corresponding comments. You can assign me these two issues, @andrewtavis. I would be happy to work on them :)

[2022-07-22 09:53] SaurabhJamadagni commented on #165
@andrewtavis, the `arrowTriangle.right` does seem like a good option. The return key changes colour when the command state is true. I think that coupled with the `arrowTriangle.right.fill` symbol should make it prominent enough.

[2022-07-22 10:00] andrewtavis commented on #178
@SaurabhJamadagni, messaging you in here so that I can hopefully assign you. Wasn’t letting me select you, but maybe if you’re linked in the chat it’ll work :)

[2022-07-22 10:01] andrewtavis commented on #178
Hmmmmm, still not. Could you confirm in here that you want to work on this, and I’ll assign it? Also, just checking, does this change make sense to you?

[2022-07-22 10:04] andrewtavis commented on #165
Glad you agree :) Looking forward to this change! We can also include it in v1.4.0 if you plan to get to it quickly, but no stress if you need more time. I’ll likely try to release by early next week at the latest.

Also, note that maybe the size of the icon will need to change as some of them look a bit off at certain dimensions. Hopefully this isn’t the case, but I can give more directions if yo

[2022-07-22 11:38] SaurabhJamadagni commented on #178
Yes, @andrewtavis I would like to work on this one. It makes sense to route the users coming from the iOS app to the iOS repo and respectively for the android counterpart :)

[2022-07-22 11:40] SaurabhJamadagni commented on #165
Yeah sure, I will get to it at the earliest. Fingers crossed, this should be straightforward and shouldn't take long 😅

I'll let you know if I need help. Thanks!

[2022-07-22 12:18] andrewtavis commented on #178
Thanks for your willingness to help, and further for the feedback that we should do this 😊

[2022-07-22 12:20] andrewtavis commented on #165
Ya the only thing that might hold it up is if the icon needs resizing, but there are examples of how to do that in the code. Not worried about your ability to figure it out :)

[2022-07-23 06:46] andrewtavis commented on #178
Thank you for the PR, @SaurabhJamadagni! I'm thinking post e0a6b85 above that you're welcome to edit the [CHANGELOG.md](https://github.com/scribe-org/Scribe-iOS/blob/main/CHANGELOG.md) to describe your work in future PRs :) Obviously I'm happy to do it myself, so only if you'd like to 😊

[2022-07-23 06:46] #178 closed

[2022-07-23 10:25] SaurabhJamadagni commented on #178
That is very gracious of you @andrewtavis, thank you very much 😊

[2022-07-23 11:49] SaurabhJamadagni commented on #165
@andrewtavis, could you verify if the size of the symbol `arrowTriangle.right.fill`  is large enough or not? It seems proportionate but I am not sure. Anything larger, I think would be too bold in contrast to the blue background of the key. Do let me know what you think.

![image](https://user-images.githubusercontent.com/68957712/180603476-c92aa424-2385-4f64-903e-b48c54427874.png)

[2022-07-23 11:54] andrewtavis commented on #165
Really exciting, @SaurabhJamadagni! I'd honestly go bigger - trying to match the height of the delete button character, or specifically `123` so that the special characters are the same height on the same row.

[2022-07-23 11:56] andrewtavis commented on #165
My initial impression would be to increase the size by 10%.

[2022-07-23 11:57] andrewtavis commented on #165
I get your thinking that we want it to fit, but we also really want it to stick out so that a first time user is like "Aaaaa I press enter."

[2022-07-23 11:59] andrewtavis commented on #165
![Simulator Screen Shot - iPad Pro (12 9-inch) (4th generation) - 2022-07-23 at 13 58 24](https://user-images.githubusercontent.com/24387426/180603903-ce7a81a8-a54d-4578-872e-55db334ee23f.png)
The prompts look great on iPad, btw 😊

[2022-07-23 12:17] SaurabhJamadagni commented on #165
Sure, I'll make the changes.

[2022-07-23 12:44] SaurabhJamadagni commented on #165
Is this better, @andrewtavis?

- After adding `arrowTriangle.right.fill` to [keysThatAreSlightlyLarger](https://github.com/scribe-org/Scribe-iOS/blob/bddbaaa1805d244f852ac46ec07eb47e4b253c0a/Keyboards/KeyboardsBase/KeyboardStyling.swift#L32) array
https://github.com/scribe-org/Scribe-iOS/blob/bddbaaa1805d244f852ac46ec07eb47e4b253c0a/Keyboards/KeyboardsBase/KeyboardStyling.swift#L32

![image](https

[2022-07-23 12:49] andrewtavis commented on #165
Looks great, @SaurabhJamadagni! Thanks so much for the quick edit 😊

[2022-07-23 12:59] SaurabhJamadagni commented on #165
Awesome, I'll issue the PR right away. Glad to help out 😊

[2022-07-23 13:42] andrewtavis opened #181 "Scribe-iOS Outreach"
<a><img src="https://raw.githubusercontent.com/scribe-org/Organization/main/logo/ScribeAppLogo.png" width="25%" alt="Scribe Logo" align="right"></a>

## Sharing and promoting Scribe

This pinned issue is for discussing where and how best to promote Scribe-iOS. The purpose is to spread the word so that others can find Scribe as potential users, to provide feedback and to grow the contributors base.

[2022-07-23 15:22] andrewtavis commented on #181
Something that could eventually be done is adding social media share buttons with custom messages in their links to the top of the [readme](https://github.com/scribe-org/Scribe-iOS/blob/main/README.md). This could be made into an issue if people think it would help 🤔

[2022-07-23 16:42] andrewtavis commented on #165
Thanks for your help with all this, @SaurabhJamadagni! Really well done 👏

Let me know if you think it's a problem that the `123`, `delete` and other keys are changing size during translation for some keyboards. I mentioned that in the PR as I noticed it during review. What I mean is that for German, Swedish and Russian the characters on these keys will change size because the characters on the En

[2022-07-23 16:42] #165 closed

[2022-07-23 16:48] andrewtavis commented on #165
This really is so great, @SaurabhJamadagni 😊 I'm gonna take a video and send it to the designer now :)

[2022-07-23 17:00] andrewtavis commented on #165
And alsooo, great work on the ternary operator in there :) Hope you're having a nice weekend!

[2022-07-23 17:01] SaurabhJamadagni commented on #165
Yes @andrewtavis, I noticed it now that you point it out. We can definitely make a bug issue out of it. Like you said, it is not a major issue, but I can see how it could become slightly annoying for someone who notices uniformity quickly. 😅

We can get to it whenever you see fit. Thank you for your kind words. I am just thrilled I am able to contribute.

[2022-07-23 17:05] SaurabhJamadagni commented on #165
Thank you! Yes, I am having a nice weekend. I hope you are having one too :)

PS: I am sorry, I totally forgot about the CHANGELOG. Completely slipped my mind. I need to add it to habit to reflect the changes in the changelog immediately. Thank you for adding the changes for me 😅

[2022-07-23 17:10] andrewtavis opened #182 "[deleted] Special key character size shift during translation"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

As mentioned in #165 and its PR in #180, a bug was discovered where the special key characters - `123`, `delete`

[2022-07-23 17:13] andrewtavis commented on #165
No worries on the changelog 😊 Am having a nice weekend! I'm gonna shift to something else for a bit, but let's check in again soon, @SaurabhJamadagni! Feel free to look into other issues and message if you think they'd be good for now/the hackathon, or I can also look into it later :)

[2022-07-23 17:51] andrewtavis commented on #181
I reached out to the folks at [cocoaheads.org](http://cocoaheads.org), and they said I'd be welcome to join the [Slack channel](http://cocoaheads.slack.com/) that they have. Will do that in the coming days :) Goals for that would be to network a bit to get the word out to other groups and their members, as well as see if there's interest in me doing more CocoaHeads presentations in the future (may

[2022-07-24 18:32] andrewtavis opened #183 "Update App Store translation images"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Now that #165 is done, the App Store images for translation should updated to show the new design of the en

[2022-07-25 14:55] andrewtavis commented on #183
Closed in 2a4a8e2 :)

[2022-07-25 14:55] #183 closed

[2022-07-25 15:26] andrewtavis opened #184 "Ability to delete placeholder prompt"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

An issue that has come from the placeholder texts added in #35 is that there is the ability at one point to dele

[2022-07-25 15:29] andrewtavis commented on #184
@SaurabhJamadagni, wanted to bring your attention to this :) Obviously no worries on the bug introduction as these things happen with cool new features 😊 I didn't think of this as a potential, but it came up as I was testing it a bit. Let me know if you have any ideas on how to fix this :) Happy to investigate and make the changes myself as you've done so much for this recently!

[2022-07-25 18:24] andrewtavis commented on #184
Note that the prompt also turns black (light mode) if the `123` button is pressed.

[2022-07-25 19:10] andrewtavis commented on #184
The discoloration is coming from `self.textColor = keyCharColor` within `commandBar.setCornerRadiusAndShadow`. Moving that outside the function and conditionally checking for `commandState == false` before calling it will stop this from happening (stops the first bug), but then typing will replace the last character of the prompt with the typed character and make it black (light mode) again.

[2022-07-25 19:18] andrewtavis commented on #184
What this is indicating is that there's an issue with how the conditional that guards `handleDeleteButtonPressed` from being called within `keyLongPressed` is being triggered.

[2022-07-26 04:09] SaurabhJamadagni commented on #184
Thank you for making the required changes yourself @andrewtavis. I'll take this as a learning experience to test my implementations more thoroughly from here on. 😊

[2022-07-26 06:59] andrewtavis commented on #184
Take it as a learning experience, but also don't worry about it :) I also tested the implementation on the emulator before bringing it in, and didn't realize the bug in my tests either.

[2022-07-26 15:02] #184 closed

[2022-07-26 15:30] andrewtavis commented on #176
Closed in [4f5ed5d](https://github.com/scribe-org/Scribe-iOS/commit/4f5ed5da51454b81f1db94741c38b0b4054d8a21) :)

[2022-07-26 15:30] #176 closed

[2022-07-26 16:09] andrewtavis commented on #184
@SaurabhJamadagni, just finished #176 and sent along v1.4.0 to Apple 😊 The update should be available in the App Store in the next 48 hours 🥳 If you have auto updates it will happen within a couple of days after being updated in the App Store (there's a lag on releases and when auto updates are triggered).

Thanks again for all your help! As you can see in the [changelog](https://github.com/scribe

[2022-07-26 16:29] andrewtavis opened #186 "Chaining Scribe commands"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is for devising and implementing a way to effectively chain Scribe commands together. Other

[2022-07-26 19:18] andrewtavis commented on #184
Anddddd it's already out 😊😊 So great! 🥳 Sent a preview video to the designer a few days ago, and we're both really excited to see how users will react to the new system. I'm really thinking that this is gonna help user understanding and usability sooo much 🚀

[2022-07-27 07:07] SaurabhJamadagni commented on #184
I am so excited about it @andrewtavis! It's an absolute joy to see my contributions reflected in an app on the app store! Thank you so much for all the help you have provided 🥳

Absolutely! That sounds good. I have bookmarked a few issues that seem interesting. Looking forward to our conversation. Thanks 😊

You have a great week too!

[2022-07-29 18:52] pankova commented on #34
Hello! It seems to be not reproduced for the current version from the App Store. iPhone 12 mini, iOS 15.5
https://user-images.githubusercontent.com/7028613/181825656-f7a70c97-2007-46c1-a35b-f97e6a272075.MP4

[2022-07-29 19:46] andrewtavis commented on #34
Hi @pankova, thanks for reaching out, and also for the effort in creating the video! 😊 What the spacebar is changing to there is the word for "space" for the given language, whereas when you switch to a system keyboard you see "English (US)" for a second or so before it switches to "space" (as shown at the end of the video). Generally the idea would be that before the German keyboard switches to "

[2022-07-29 20:36] andrewtavis opened #187 "Wikimania 2022 Prep and Documentation"
### Terms

- [X] I have searched [open and closed issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Issue

This issue is a discussion of what needs to happen prior, during and after Scribe-iOS' participation in the [2022 Wikimania Hackathon](

[2022-07-29 20:45] andrewtavis commented on #187
@SaurabhJamadagni, made this issue so that we can talk about the Hackathon :) You can find information for how to prepare in the [page I created in the Wiki](https://github.com/scribe-org/Scribe-iOS/wiki/Scribe-at-Wikimania-Hackathon-2022). I'll signup soon and connect with them on if we can have a slot in the initial presentation of projects to work on 😊

Let me know if this issue and the wiki pa

[2022-07-29 21:17] andrewtavis commented on #187
Generally the interest from Wikimedia in the past has been progress on [Scribe-Android](https://github.com/scribe-org/Scribe-Android), so I might work to clear out the directories that have extra files and add a background behind the keys.

[2022-07-30 05:33] SaurabhJamadagni commented on #187
Hi @andrewtavis, I hope you had a great past week :)

I think this would be sufficient for coordinating throughout the hackathon. In case we need to discuss something in more detail, we could always jump on a call. This should be perfectly fine for now. I am not very sure how helpful I'll be with issues for Scribe-Android, but I'll help out as much as I can 😅

 Is there anything you would like me

[2022-07-30 07:42] andrewtavis commented on #187
The week was very nice, @SaurabhJamadagni! Hope the same for you :)

You’re 100% not expected to work on Scribe-Android! Best if you work in here 😊That’s just a reminder for me.

To start, what are some of the issues you’re thinking you’d like to work on during the hackathon? From there we can do a call to plan the work for them?

[2022-07-30 16:56] SaurabhJamadagni commented on #187
Some of the issues I would like to work on @andrewtavis are issue #22 and issue #136. These two seem interesting and I think would make a nice addition to the future versions of Scribe. Are they something we can look into? I am very curious about how autocomplete works in keyboards. So it should also be a learning opportunity. Let me know if you had any particular issues in mind as well :)

[2022-08-03 06:30] andrewtavis commented on #22
- This issue is blocked by #33 as first we should have the layouts set to make sure that all the keys that will need pulldowns are there.

[2022-08-03 06:53] andrewtavis commented on #187
Hi @SaurabhJamadagni 👋😊

Very sorry that you're hearing from me so late! I had quite the busy weekend, and there's lots to do this the new job and other endeavors. Your issue suggestions are ones that are quite important, but I'm not sure if it's exactly what we can achieve at the hackathon.

Specifically, in reflecting I blocked #22 as we need to have #33 finished first so that the iPad key layou

[2022-08-03 12:31] SaurabhJamadagni commented on #187
Yes @andrewtavis, you make great points about the issues I listed. We can absolutely get to them later. 😊

The simple issues that you have listed seem to be a great starting point. Issue #3 seems like a great feature to implement as the hero item for the hackathon. Implementing it would be a large step towards a great user experience. The predictive model you have proposed also seems like a logica

[2022-08-03 16:30] andrewtavis commented on #187
Glad that you agree, @SaurabhJamadagni 😊 Again your suggestions were very valid, but I'm just trying to figure out the best use of our time at the moment :)

Answers to your questions:
- Yes the coloration within #164 is based on gender :)
- I would say for the MVP the autocomplete would not be functional for the command state. Let's have a discussion about how best to implement that, with your su

[2022-08-04 05:55] SaurabhJamadagni commented on #187
Yes, I was going to suggest something similar @andrewtavis. We can work on extending the functionality during command states later when we understand and implement the basic mechanics. Currently, I like the implementation of having the suggestions in the command bar. It seems clear and very direct. The problem with the space bar implementation in my opinion is that we also have to implement undo f

[2022-08-04 06:14] andrewtavis commented on #187
All sounds good :) Let's look to do the planning call next week, @SaurabhJamadagni! Let me know when you're available and what your preferred chat app is (Google Meet, Zoom, Jitsi). I'm not available on Monday, but maybe Wednesday?

[2022-08-05 11:16] SaurabhJamadagni commented on #187
Yes @andrewtavis, absolutely! Sorry for the delayed response. I had a few college assignments to complete. I am available on Wednesday any time between 08:30-13:00 (GMT). Else next I can jump on a call any time directly after 17:00 (GMT) 😅

Do let me know whichever time is convenient for you. Also I understand GMT is the timezone neither of us use, but I just thought it would be simpler. I was ass

[2022-08-05 12:50] andrewtavis commented on #187
No worries on the timing! Hope your studies are going well 👏

Let’s do after 17:00 GMT, as I’ll be at work during the other times :) Using that time frame does make sense, btw, but as you’ll see in the Wikimedia circles folks usually say UTC for it 😊

For Google Meet, can you send an email to the one in my GitHub and I’ll send along a meeting link with a time?

Hope you have a great weekend!

[2022-08-09 12:11] SaurabhJamadagni commented on #187
Hi @andrewtavis, I have sent the email to the address from your GitHub profile as you asked. I absolutely forgot to tell you yesterday 😅. I hope you have received it.

[2022-08-09 12:20] andrewtavis commented on #187
Hi @SaurabhJamadagni, did receive your mail :) Will reply later tonight with a link for tomorrow after I'm done with work and have some things for the hackathon finished 😊

[2022-08-09 20:47] andrewtavis opened #188 "Alphabetized Autocomplete"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is to add an initial auto-suggest feature to Scribe, and is the first part of #3. Work for t

[2022-08-10 20:33] andrewtavis commented on #187
I also added us to the pre-hackathon showcase where I might talk a bit about Spanish, as there's a Spanish language group meeting right after, and will add it to the final showcase when we've made a bit of progress :)

[2022-08-10 22:09] andrewtavis commented on #187
Also, here's the [presentation for the hackathon session](https://docs.google.com/presentation/d/12WNSt5xgNIAmSxPfvjno9-sBMGlvxG_xSaAxmHQDRNQ/edit?usp=sharing). Let me know if you have any suggestions :)

[2022-08-11 06:41] andrewtavis commented on #188
@SaurabhJamadagni, I added something to the above, as we need to remember that even though the command bar won't be on the screen always, we're still going to need to use it to do noun and preposition annotations. Here's again the picture of eventual coloration in autocomplete:

https://user-images.githubusercontent.com/24387426/182542168-f8e337f4-4709-413c-86e4-e6ded470eed7.png

For annotation we

[2022-08-11 06:45] SaurabhJamadagni commented on #187
Thanks for sharing the presentation @andrewtavis. Excited for the session! Thanks for taking the time out to conduct it :)

It was an absolute joy to speak with you yesterday as well :)

[2022-08-11 15:20] SaurabhJamadagni commented on #188
@andrewtavis, I'm not clear on what you mean by annotations after space. Could you give me an example? Do you mean that the word suggestions will show up alphabetically even if the user just adds a space at the start?

[2022-08-11 15:43] andrewtavis commented on #188
Hi @SaurabhJamadagni :) What I mean by this is the noun genders that are shown to the user after they press space. So as the user is typing a word we want to show them autocomplete suggestions, and after they’ve pressed space we show them annotations as we do now. Rather than being “on the command bar,” they’ll be next to the Scribe key and still will be the bar text, but the command bar will be t

[2022-08-11 22:24] andrewtavis commented on #187
Ok, so I finally got into Pheedloop 😅 Apparently my adblocker was screwing up the whole process of registering/logging in. I'm trying to figure out where exactly the Jitsi rooms for the hackathon are, and have sent an email to a Wikimedia organizer.

I said that I'd send along some interesting sessions that I'll attend. I'll say "Hack" if it's hackathon related, and just "Wikimania" if it's the ma

[2022-08-12 05:27] SaurabhJamadagni commented on #187
Thanks for sharing this @andrewtavis! I can see a few sessions that would interest me among these. I am still confused on how to join these though. I can't find the Scribe session or the Wikidata session on the pheedloop event platfrom in the Sessions tab. Will the Jitsi link be posted on the [schedule](https://wikimania.wikimedia.org/wiki/Hackathon/Schedule) page or in pheedloop? 😅

[2022-08-12 05:34] SaurabhJamadagni commented on #188
Ohhh I understand! So basically, we are just going to make the command bar transparent. When the user is typing, the suggestions will be shown with the vertical dividers. At other times, our prompts will be shown like we have right now. Is that correct @andrewtavis?

[2022-08-12 05:45] SaurabhJamadagni commented on #188
Also @andrewtavis, while playing around with the command bar, I came across a bug right now. Can you check if you are experiencing it too? Basically the prompt that says what the command does, doesn't change colour when you switch appearance modes. But if you exit command mode and go back again, then it works fine. The placeholder text does change colour though.

Steps to replicate it:
1. Select a

[2022-08-12 07:07] andrewtavis commented on #187
There have been some issues with Pheedloop apparently, @SaurabhJamadagni. We were supposed to have a Technical Sessions and a Social Sessions space that we can find, and then the schedule for the hackathon is [here](https://wikimania.wikimedia.org/wiki/Hackathon/Schedule). That schedule gets updated as we go, and now has the links to the Jitsi rooms at the top of the schedule :)

For the Scribe an

[2022-08-12 07:37] andrewtavis commented on #188
Exactly :) Sorry for being a bit confusing in the explanation! Hard to wrap around all the little things to change.

Per bug that you found, I can reproduce as well. It's likely something simple like making sure that the colors are being changed within [checkDarkModeSetColors](https://github.com/scribe-org/Scribe-iOS/blob/6b9889d6a1d658a7f83b7fdd3062d203da1ba356/Keyboards/KeyboardsBase/ColorVariab

[2022-08-12 11:06] SaurabhJamadagni commented on #188
I see 😂 Let's fix it but definitely not a priority.

I'll create the issue. A little experience with that too. Never raised an issue before haha. Thanks for confirming! 😊

[2022-08-12 14:55] andrewtavis commented on #187
@SaurabhJamadagni, just checking, you're planning on joining starting tomorrow, correct? I'll just plan on working on #188 this evening and then let you know what I get to. From there we can connect when I wake up in the morning 😊

[2022-08-12 14:57] andrewtavis commented on #134
Note that for Hebrew we'd need to account for the fact that it's written left to right :)

[2022-08-12 16:26] SaurabhJamadagni commented on #187
Absolutely @andrewtavis! I'll just go through the codebase tonight in preparation for tomorrow. Have a good evening. I'll check in with you tomorrow 😊

[2022-08-12 17:05] andrewtavis commented on #187
60 or so people at the hackathon opening ceremony, so we should have a nice group for tomorrow :)

[2022-08-13 00:00] andrewtavis opened #190 "Fix annotation color shades given new backgrounds"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Once #188 is finished, we're going to need to get new shades of the noun-gender annotation colors. These ch

[2022-08-13 07:19] andrewtavis commented on #188
@SaurabhJamadagni, here are some directions based on what I've been working on:

I think the function to assign the buttons should be called within `conditionallySetAutoActionBtns`, which is ran after each key press. The function should find the next three nouns, and that function will assign the words to the buttons that need to be set. I'll look into making `case "AutoAction1"`, etc conditions w

[2022-08-13 08:13] andrewtavis commented on #188
@SaurabhJamadagni, I think that the above is about as much as I should do on this to make sure that you can have a substantial contribution :) 3dc751d allows the keys to be assigned labels in `conditionallySetAutoActionBtns`, and there are now cases in `executeKeyActions` to insert the key text, add a space, and check for annotation 😊

If we can't check in before the presentation (I think that wha

[2022-08-13 08:24] SaurabhJamadagni commented on #188
Thanks @andrewtavis! You were able to get so much done 🤯

I was playing around in Playgrounds to test out different approaches to the function and I think I have something that might work. I'll get to making that addition. Thanks for all the changes you made! I'll check back in once the changes are made. If I am not wrong, I have to checkout the feature branch you have created and push my commits

[2022-08-13 08:40] andrewtavis commented on #188
Welcome and thank you, @SaurabhJamadagni! It was nice to really code in here agin 😇

Checking out the feature branch and pushing your commits to the same one is exactly what you should do :) Not sure if you need/want to, but you can also review/accept the changes in the PR if you want to understand the changes I made. Up to you, as we can just test later and figure it out!

Looking forward to the

[2022-08-13 11:00] SaurabhJamadagni commented on #188
Function to find the next three words

[code]

[2022-08-13 16:30] andrewtavis commented on #188
Sorry for what likely are some confusing PR notifications, @SaurabhJamadagni :) It's all figured out now. Next time I'll know to first merge your branch into mine and then go from there.

As I mentioned, before tomorrow I'm going to try to work on the latency a bit by creating a sorted array with words that lack hyphens. I'm thinking that doing that might speed up the assignment a bit, as as of no

[2022-08-13 16:32] andrewtavis commented on #188
Just played around some more 😊 This is so great! 🥳

[2022-08-13 17:04] andrewtavis commented on #188
And the latency seems to be much faster coming out of a pre-created array and not making/sorting it each time 🙌

[2022-08-13 17:13] SaurabhJamadagni commented on #188
Yes @andrewtavis, I also noticed that as the bottleneck. I was wondering maybe that I could just create the array in `CommandVariables` just like we decode the nouns from the JSON there. That way we can just reference it without sorting it again and again like you said. Creating the array just once seems like the way to go.

Thanks for the review! Yes the emails from the PR notifications were quit

[2022-08-13 17:19] andrewtavis commented on #188
Committing the minor change to make the array directly in 100951e :) Some current thoughts on this:

- We have an issue where words are sometimes being lower cased when they shouldn't be
- Autocomplete doesn't continue after the user has entered space, so we need to potentially split the proxy by spaces and select the second to last word to them run the word generation over (the last word when spl

[2022-08-13 17:28] andrewtavis commented on #188
Specifically for the autocomplete stopping, if you just type the word and press space yourself, then it stops. If you select the word, then it tends to keep going. And in regards to the first point above, it seems that after the first autocomplete the next suggestions are all lower case, which specifically for German is problematic as they all need to be capitalized :)

[2022-08-13 17:53] SaurabhJamadagni commented on #188
Ah, I didn't know that about German. Totally my bad. I just formatted it using rules used by English. That was a terrible assumption. As for the second issue, I think maybe adding the boolean variables `autoAction1Visible` and `autoAction2Visible` in the `case: spaceBar` might fix it. I'll try out these changes in the morning if that's ok @andrewtavis?

[2022-08-13 17:56] andrewtavis commented on #188
I should have seen it in the code review myself, so no stress on the German nouns bit :) Has been a long day, so it wasn't my best review. Feel free to send along some changes in the morning! Thanks for all your hard work today! 💪

[2022-08-13 18:01] andrewtavis commented on #188
Big thing is - now looking at Spanish where if you start typing it will start suggesting words that are lower case when you have shift pressed - it should read through on if the shift key has been pressed, and if so the words in the completions should also be capitalized :)

This is so cool 😊

[2022-08-14 07:35] SaurabhJamadagni opened #193 "Command mode doesn't switch colour on changing appearance mode"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

- The prompt that says what the command does, doesn't change colour when you switch appearance modes. But if you

[2022-08-14 08:22] andrewtavis commented on #193
The switching for this will need to go into [checkDarkModeSetColors](https://github.com/scribe-org/Scribe-iOS/blob/d3fcdbaa68216e1a73e6daf90b8541ff74f98b46/Keyboards/KeyboardsBase/ColorVariables.swift#L33) :)

[2022-08-14 08:46] andrewtavis commented on #193
This is already switching the colors, so what could be happening is that the part that sets the colors for the command bar isn't being reset when the color mode changes 🤔

[2022-08-14 09:05] andrewtavis commented on #190
@SaurabhJamadagni, all I did here was make the dark mode colors one shade lighter and the light mode colors one shade darker :) Let me know if you think the new versions work 😊

[2022-08-14 09:05] #190 closed

[2022-08-14 09:19] andrewtavis opened #194 "Baseline autosuggest"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

In order to release the work that's been done in #188, Scribe also needs to add baseline autosuggest fu

[2022-08-14 09:23] andrewtavis commented on #164
This feature will be unblocked when #188 and #194 are implemented. I doesn't need to be in the next release, but could be included in a future one :)

[2022-08-14 10:22] SaurabhJamadagni commented on #188
Hi @andrewtavis! Just wanted to give an update since I haven't pushed any changes since morning. I fixed the capitalisation issue and the autocomplete on space issue. After that noticed that the auto complete also went away if you delete a word afterwards as the `pastStringInTextProxy` is never updated. Working on that currently. Trying to find some way of being able to track when to change the va

[2022-08-14 10:25] andrewtavis commented on #188
No stress, @SaurabhJamadagni! Just checking on the capitalization, this means that if the user has shift pressed the words will all be capitalized? Also, could we add something similarly where if capslock is on that the words are all caps? Not that I need it, but it is an expected feature :)

Keep up the good work!

[2022-08-14 10:33] SaurabhJamadagni commented on #188
Yes, the suggestions show a capitalized word if the shift is pressed. I could try it out with the capslock as well no problem. I'll get to it in just a bit.

[2022-08-14 10:35] andrewtavis commented on #188
Wonderful! This is great! It'd be cool to be able to show that off, and that way we can also show autocomplete in other keyboards :)

[2022-08-14 11:53] SaurabhJamadagni commented on #188
Hey @andrewtavis, I fixed the no auto complete on delete and added the capslock word suggestions as well. But when the text proxy is empty, repeatedly pressing the delete button is crashing the keyboard. I'll push my commits and create a PR right now. Could you maybe check why that might be happening. Maybe something you have experienced before. 😅

[2022-08-14 14:25] andrewtavis commented on #188
Hi @SaurabhJamadagni :) I'll give it a look and potentially just bring it in for us to work on later in a different bug issue that needs to be resolved before the release. Will let you know how things are looking in the PR.

[2022-08-14 15:16] andrewtavis commented on #188
Thanks again for all this, @SaurabhJamadagni 😊 You've worked a ton on Scribe this weekend! You really have my thanks, and I hope the experience has been an interesting one for you :) I mentioned in the PR that capitalization still needs a bit of work, but it's almost exactly what we need.

I'm thinking also that maybe adding in verbs and prepositions might be best, as that way there's always sugge

[2022-08-14 15:53] SaurabhJamadagni commented on #187
@andrewtavis  what's the plan for the showcase? I don't need to have a presentation handy right? 😅

[2022-08-14 15:55] andrewtavis commented on #187
I can just talk about it if you want me to, or if you'd like you can talk about your part of creating the function :)

[2022-08-14 15:59] SaurabhJamadagni commented on #187
I can give it a shot! If I am currenlty on someone else's internet right now. So if I face any problems, you can take it from there.

[2022-08-14 16:01] andrewtavis commented on #187
Are you in there though? I don't see you :)

[2022-08-14 16:02] SaurabhJamadagni commented on #187
I think I am now. I had joined a different link before 😂

[2022-08-14 16:51] andrewtavis commented on #187
Well done 😊

[2022-08-14 16:53] SaurabhJamadagni commented on #187
I didn't know I could speak that fast @andrewtavis 🤣

It was super fun working with you on this hackathon! Looking forward to getting more stuff done! Thanks for all your help 😊

[2022-08-14 17:17] andrewtavis commented on #187
Pleasure working with you as well, @SaurabhJamadagni! Let's be in touch on #188 and #194 this coming week, but no stress on them :)

I updated the Wiki with info on results from the hackathon, so let's close this and take the rest to the issues themselves :)

[2022-08-14 17:17] #187 closed

[2022-08-14 17:49] andrewtavis commented on #182
For this issue we basically should set a single size for special key characters that’s not dependent on the widths of the keys for the top row. I think the larger characters on the English keyboard and those with similar key widths looks a bit better than smaller ones, so we should save that as a variable and apply it to special key label character sizes.

[2022-08-16 04:25] SaurabhJamadagni commented on #188
Hey @andrewtavis! How are you doing? 😊

I will get to the requested review on PR #195 sometime today or tomorrow. I'm also interested in working on the AutoSuggest issue so I'll comment on that page shortly. Looking forward to the next release! It's super exciting 🚀

[2022-08-16 06:44] andrewtavis commented on #188
Hi @SaurabhJamadagni :) I'm well! How's all with you? Am talking with someone from the hackathon about whether they'd like to work on the Android version :)

No stress on the PR for #195 - get to it when you can. And yes, let's definitely talk #194 so that we can get both of these features released! I'm really looking forward to it as well, and think that people are going to be really impressed 😊

[2022-08-18 11:31] andrewtavis commented on #188
Hi @SaurabhJamadagni, hope you're well :)

Let me know if you need any support on the PR. I was feeling a bit tired post hackathon and had lots to do, but have a bit more bandwidth now if you want to discuss the needed changes 😊

[2022-08-18 17:53] SaurabhJamadagni commented on #188
Hi @andrewtavis! Sorry I haven't been updating lately. My summer break ended today. So I have was a bit busy prepping for classes. Anyway, I have tomorrow off and a long free weekend ahead. I'll give it a shot tomorrow and let you know if I need help. Thanks for asking. Sorry for the delay! 😊

[2022-08-18 18:12] andrewtavis commented on #188
No worries on a delay whatsoever, @SaurabhJamadagni! Just be in touch and we'll figure it out :)

[2022-08-18 18:34] andrewtavis commented on #194
@SaurabhJamadagni, for this issue, how does it sounds if we use [wordfreq](https://github.com/rspeer/wordfreq/)? It has a function `top_n_list()` that would give us the words we need, and we could maybe just subset so that we're selecting words that are three characters or longer? I was thinking we can take a look at the words over three characters given certain cutoffs for `n`, and from there we

[2022-08-18 18:52] andrewtavis commented on #188
Also, a final thing we should consider is expanding the word list a bit. Linking in the potential of using [wordfreq](https://github.com/rspeer/wordfreq/), we could also potentially subset a few popular verbs and include their conjugations in the list, and maybe including prepositions would also make sense. Removing words that are only one or two characters might also make sense :think

[2022-08-18 19:25] andrewtavis commented on #194
Looking at German autosuggest for the first time in a bit, some patterns are coming that we could also use to make this more performant, as I think that some of the system autosuggest isn't really NLP based at all it seems. The following two are ones I think we can implement, and maybe we can think of one or two others:

- There are three words that are always presented for the first options when

[2022-08-18 20:15] andrewtavis commented on #51
Creating arrays of words and their emoji equivalents might be something that could also be be done in Python within [Scribe-Data](https://github.com/scribe-org/Scribe-Data). From there autosuggest could check if the word is in the emoji array, and then two emojis from the associated list could be suggested. At this time the emoji suggestions would definitely be two instead of three as sometimes ca

[2022-08-18 20:21] andrewtavis commented on #194
Something to consider as well is that Wikipedia is licensed `CC-BY-SA`, meaning with attribution we can use their data (similar to Wikidata, which is CC0 where we don't have to attribute, but do to show respect). We could potentially do a more final version of this feature from the get go, in that I could download Wikipedia dumps in a similar manner that I did for [wikirec](https://github.com/andr

[2022-08-18 20:38] andrewtavis commented on #194
I think that adding this kind of implementation to [Scribe-Data](https://github.com/scribe-org/Scribe-Data) could also help grow the community a bit 😊

[2022-08-18 21:17] andrewtavis commented on #188
Also also, I'm wondering if my logic on annotation canceling the plural autocomplete field was misplaced. Maybe the best thing is to keep it all in the first section where the translate button would be, and then we can just do `...` if the word is long. The user knows what word they just typed, so they don't need to see the whole thing. See designs below:

![Autocomplete](https://user-images.githu

[2022-08-18 21:26] andrewtavis commented on #164
Another possibility for this is that rather than coloring the words, we could put a small marker under them that would be colored for the given gender. This would allow words with more than one gender to be displayed as the marker could be split, and would keep some consistency in the text colors for the autocomplete and autosuggest words.

The following shows what this could look like with thin r

[2022-08-18 22:08] andrewtavis commented on #51
Adding some easter eggs into this feature could also be a nice touch. These might be best as just autosuggestions and not corrections. Some ideas are:
- Wikidata: 💚 and 📁
- Wikipedia: ❤️ and 📚
- Scribe: 💙 and ✏️

[2022-08-19 07:08] SaurabhJamadagni commented on #188
Yeah @andrewtavis I was wondering the same thing during the hackathon. But because of the time constraint it completely slipped my mind to discuss it. It also seems like unnecessary computation when it has to figure out if the word is short enough to fit in one button or not. We should definitely look into this appraoch where we keep it in just the translate button.

[2022-08-19 07:12] SaurabhJamadagni commented on #188
Also, the wordfreq library that you have linked seems super cool! We could definitely utilise it in autosuggest, rather definitely should 😅

I didn't understand what you mean by this. I am guessing you are referring to the `autocompleteWords` array that we use to filter words from.

[2022-08-19 07:15] andrewtavis commented on #188
Yes exactly, adding words to `autocompleteWords` to make sure it's covering most of the use cases :)

[2022-08-19 07:20] andrewtavis commented on #188
I'll change it when you're done with #195 :) I think that this also adds the potential to allow the user to click on the annotations and have the translate button fire for other features. Specifically what I'm thinking is adding ways to figure out what's the difference if there are two genders on a noun or two cases for a preposition - the user could press that button and then have information dis

[2022-08-19 14:06] SaurabhJamadagni commented on #188
That is a nice idea! This could be a feature that works when the user is online though. Adding this amount of size could surely add up, increasing the size of the app I think. What do you think? 😅

[2022-08-19 14:24] SaurabhJamadagni commented on #188
@andrewtavis, I also noticed a bug showing similar nature as when the keyboard crashes when delete is pressed. It isn't allowing to highlight text and then delete it. To replicate it, try and select a bunch of text and hit the delete on the scribe keyboard. The keyboard just bobs up and down, similar to when the keys would be reloaded. I think the problem which is causing the crash is the same pro

[2022-08-19 16:30] andrewtavis commented on #188
Yes certainly, but then the goal for later is that the user will be downloading language packs, so this could still work offline potentially :)

[2022-08-19 16:31] andrewtavis commented on #188
Thanks for pointing this out, @SaurabhJamadagni! Will have a look when I'm check #195 :)

[2022-08-19 16:34] andrewtavis commented on #188
Also @SaurabhJamadagni, when you have a moment let me know what you think of the current ideas within #194 and if you have questions :) I was thinking that you could do the Swift side implementation, and I can generate the words it'll use based on what we want to build. Obviously just random words would be easiest, but if we can create a `commonWordSuggestions` array easily enough with Python, the

[2022-08-19 18:16] SaurabhJamadagni commented on #188
Sorry @andrewtavis! I didn't have my email notifications on for issue #194. So didn't have an idea you had commented there. I'll check it out soon. I was also wondering if I could tag along for some parts when you do the python side of things. It could be a nice learning opportunity through observing the process and working with different technologies. I have a good grasp of python so I might be a

[2022-08-19 18:52] andrewtavis commented on #188
100% yes, @SaurabhJamadagni :) We can figure out another time for a call and then I can walk you through the process. You’d of course also be welcome to contribute, so I’ll make some tasks like in here 😊

Big question is, do we do the simple one with a series of most common words that we assign randomly, or do we think that the other method with Wikipedia generated arrays of words that follow comm

[2022-08-20 08:38] SaurabhJamadagni commented on #194
First off, this was a really nice observation @andrewtavis. I never noticed it before.

To clarify, you are saying that using Wikipedia we can find the four most commonly used words following the word the user types. For example, If the user types "I love", using Wikipedia dumps we can come up with a list that hypothetically gives us  ["cars", "movies", "food", "math"] assuming they are the most c

[2022-08-20 08:43] SaurabhJamadagni commented on #188
Thank you so much @andrewtavis! I would love that :)

I commented on issue #194 with my thoughts on this just now. I think the Wikipedia system would give us better results and would be more practical. I still don't quite get how we will implement it as I said in the other comment. But this seems like a good direction to go in for now. We can go back to a frequency based implementation if we face

[2022-08-20 20:13] andrewtavis commented on #188
I’ll comment more in the other issue, @SaurabhJamadagni :) Looking forward to talking some Python with you!

[2022-08-20 20:48] andrewtavis commented on #194
I’m not sure if there are any other hard coded rules like the first words or words after pronouns to think about, but I was happy to realize them 😊 Let’s stick to these for now unless something jumps out.

You’re understanding is correct, @SaurabhJamadagni! So not what usually comes after “I love”, but instead deriving what usually comes after “love”. Maybe we can figure out phrases a bit later, b

[2022-08-21 09:10] SaurabhJamadagni commented on #194
That sounds like a nice plan @andrewtavis. What do we default to when the user types a word that isn't included in the 500 keys?

Also I was wondering if we could use the wordfreq library to amp up autocomplete? Instead of giving completions that are alphabetical, we could give the completions based on their frequency. And then when the user is done typing, the autosuggestions that come later woul

[2022-08-21 12:31] andrewtavis commented on #194
Your idea of basing the suggestions on frequency is a good one, @SaurabhJamadagni, but we’ll basically be doing that in the apron h ourselves :) After this we’ll get the 500 or so words, and with the top 3-5 words we’ll also have frequencies that will determine how often the words are suggested (we could do this, if we wanted). We certainly do not need to do a random selection from the words that

[2022-08-21 13:55] AE542 commented on #147
Apologies for the late reply. I couldn't solve this issue. Just didn't get the time to get it done. Sorry for using up your time on this. Could I ask how you got it solved if you don't mind? Thanks.

[2022-08-21 17:28] andrewtavis commented on #147
Hi @AE542, don’t worry whatsoever! All good, and communicating with you on it was a nice use of my time 😊 This issue is currently not resolved, so we’re going to have to get it it another time. Honestly this was quite difficult of an issue, and I could have done much more to support. If you wanted to try to resolve it, then we can at some point, or you’d be welcome to try another issue. Let me kno

[2022-08-21 17:29] andrewtavis commented on #147
Hope you’re well! 😊

[2022-08-21 18:08] SaurabhJamadagni commented on #194
I think there's a typo there. I didn't understand what you meant 😅

Alright, that sounds like a good idea! Let me know how we can get started with the implementation. Excited to dig into something new haha. I'll go through the Scribe-Data documentation in the meanwhile. 😊

[2022-08-21 21:35] andrewtavis commented on #194
My guess is approach, reading it again 😅 Sorry, have been typing on my phone :)

I already made an issue for the data process with some tasks: [Scribe-Data #15](https://github.com/scribe-org/Scribe-Data/issues/15) :) Check that out a bit, and we can discuss more who does what later! Looking forward as well 😊😊

[2022-08-22 11:57] andrewtavis commented on #188
Thanks again for all the efforts for this, @SaurabhJamadagni! We're now done with the initial tasks, and I'll take on two final ones:

- [ ] Remove the deactivation of the conjugate button state and change long words to their start plus `...`
- [ ] Make sure that all words that are capitalized in the JSONs are capitalized even if the user is typing in lower case, so this way German nouns and prope

[2022-08-22 15:09] andrewtavis commented on #188
I'll get back to you on if a call is necessary, @SaurabhJamadagni :) We'll have a lot to talk about regardless. Not 100% sure on my schedule for this week, but I'll be in touch via email about a call for finishing this and the two issues for autosuggest (the one here and the one in Scribe-Data).

[2022-08-22 15:13] andrewtavis commented on #188
Also @SaurabhJamadagni, let me know if you think that eventually removing the word from annotations and centering the icons on the space where the translate button is would be better. I agree that the conjugate button being disabled doesn't make sense, and now that I'm looking at it with the `...` for long words, I'm thinking that maybe just centering them and not having the word might be best? Th

[2022-08-23 03:05] SaurabhJamadagni commented on #188
Sorry @andrewtavis, I am not able to imagine what you mean by removing the word and centering the icons. Is it possible to create a design mock-up? Removing the word does make sense as it is clear that the annotations are for the word that was last typed by the user. I just didn't understand how you are describing the UI would look like 😅

[2022-08-23 11:13] andrewtavis opened #196 "Menu item to include period and comma in letter keys"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Something that Android users who switch to iOS usually want is the ability to have a period and a comma

[2022-08-23 11:41] andrewtavis commented on #188
@SaurabhJamadagni, I don’t have access to internet on my computer, but generally what I’m referring to is like the picture above, but say that the word Zeit wasn’t shown at all, and instead the red F annotation would be centered. So all annotations would be centered over the translate button, and if there are more then one then the group would be centered as well :)

Hope that makes sense! 😊

[2022-08-23 18:00] SaurabhJamadagni commented on #188
Oh! Yes got it @andrewtavis. That makes sense as the only reason people would tap on the annotations would be when we later implement the feature that shows context when a word has more than one annotation. I got it. Thanks for the explanation. I am sorry if I bothered you at an inconvenient time 😅

[2022-08-23 19:47] andrewtavis commented on #188
Not a problem, @SaurabhJamadagni! If I’m checking here it means I have the time :) Was just at the airport checking things on my phone 😊

Let’s finish this and I’ll make a new issue for switching the annotation styles. Would likely be best if we move away from the ‘.xib’ based annotations and make the views with code, as I think it’ll be difficult to position them correctly unless we do it program

[2022-08-23 19:54] andrewtavis opened #197 "Update Annotation Formatting"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Something that was discovered in the process of doing #188 was that the annotation style needs to be sw