[2022-08-26 14:27] andrewtavis commented on #188
Hi @SaurabhJamadagni :) I'm getting to all of this in this issue at the moment. Let me know when you're available for the checkin 😊

[2022-08-27 07:31] SaurabhJamadagni commented on #188
Hey @andrewtavis! Tomorrow being a Sunday, I can join in anytime before 15:00 UTC. Or if you are available sometime before 11:00 UTC today itself? 😅

[2022-08-27 08:45] andrewtavis commented on #188
Let’s shoot for 13 UTC tomorrow :) I’ll send along a link 😊

[2022-08-27 09:53] SaurabhJamadagni commented on #188
Ok that works! See you then :)

[2022-08-28 13:07] andrewtavis opened #198 "Add Wikipedia Logo to App Store Images"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

When work with #194 is finished and data that's sourced from Wikipedia is added to [Scribe-Data](https://gi

[2022-08-28 16:10] andrewtavis commented on #198
Closed in 6b31351 :)

[2022-08-28 16:10] #198 closed

[2022-08-28 16:17] andrewtavis opened #199 "Update App Store videos given autocomplete/suggest"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is to update the App Store videos once autocomplete and autosuggest are finished in #188 and #19

[2022-08-28 16:46] andrewtavis commented on #188
@SaurabhJamadagni, just FYI, [f0bd0a0](https://github.com/scribe-org/Scribe-iOS/commit/f0bd0a0f98e48f7b7d93125fafd97feb9f7bf98b) fixed the command bar coloration issues 😊

[2022-08-28 16:49] andrewtavis commented on #193
Was closed in [f0bd0a0](https://github.com/scribe-org/Scribe-iOS/commit/f0bd0a0f98e48f7b7d93125fafd97feb9f7bf98b) :)

[2022-08-28 18:24] #193 closed

[2022-08-28 18:29] andrewtavis commented on #193
@SaurabhJamadagni, I finally figured this out in [355bc80](https://github.com/scribe-org/Scribe-iOS/commit/355bc803b319edca0c4879877b18f917a6688d9f) after a poor attempt to fix it in [f0bd0a0](https://github.com/scribe-org/Scribe-iOS/commit/f0bd0a0f98e48f7b7d93125fafd97feb9f7bf98b) :)

[2022-08-28 18:31] andrewtavis commented on #194
Once this issue is finished, the keys of the dictionary should also be included into the autocomplete options :)

[2022-08-30 11:22] SaurabhJamadagni commented on #193
Haha! Thanks for getting this issue done @andrewtavis. I was unable to get to it. 😊

[2022-09-01 21:43] andrewtavis commented on #188
@SaurabhJamadagni, an idea that I'd like your feedback on :)

I'm thinking that a lot of the issues that we have with the keyboard working are coming from the overlapping booleans that are super hard to keep track of. To fix this, I'm working on switching `commandState` into a `var` rather than a `bool`, with it being an instance of an enum `CommandState`:

[code]

The general idea is that this wi

[2022-09-01 21:48] andrewtavis commented on #188
When this is done, I'd send along a PR that makes these changes and fixes another issue that invalid entries are now conflicting with the auto actions. We need to make it work so that the "Not in Wikidata" message is still displayed to the user after an invalid command entry, and then that and the `commandBar` disappear after the next key press to allow for autocomplete again.

After that we can w

[2022-09-02 17:33] andrewtavis commented on #188
Already such a crazy improvement:

Rather than the following to reset the keyboard command state:
[code]

We have:
[code]

😊

[2022-09-02 18:45] SaurabhJamadagni commented on #188
Hi @andrewtavis! That's a great improvement. I was almost about to go on a boolean hunt as to what might be causing the crash but this seems like a great idea and would make it much simpler! Looking forward to the commit. Excited to see the ease in readability these changes will bring :)

[2022-09-02 18:49] SaurabhJamadagni commented on #188
Yes, I will try to figure this one out over the weekend as well. Also, simultaneously working on the mock version of getting the auto-suggest words from the 500 words list that we will be creating. Playing around with it a little bit in Swift Playgrounds.

I also wanted to explore debugging over this weekend a little bit. I will search up a bit on how to debug better in Xcode. That should help us

[2022-09-03 05:56] andrewtavis commented on #188
Yes, @SaurabhJamadagni, that would be super helpful! Sorry that I'm not as much of support for debugging, but I'd be happy to learn from you on this as well. Has just been something that I didn't pick up as well as I should :)

[2022-09-03 07:43] andrewtavis commented on #188
@SaurabhJamadagni, a5ea9ea is a lot of refactoring that was long overdue, and does fix some issues with invalid messages not being presented properly, but we still have the unfinished points I [mentioned here](https://github.com/scribe-org/Scribe-iOS/issues/188#issuecomment-1222253453) before we can close this. A lot closer though with how much easier checking flows should be!

[2022-09-03 07:51] andrewtavis commented on #194
Note that as autosuggest will be functioning at the same time as annotations, it would be best if the first best option is shifted to the second position and the second to the third in case of an annotation :)

[2022-09-03 08:08] andrewtavis opened #201 "Add UILexicon access to autocomplete and autosuggest"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

[UILexicon](https://developer.apple.com/documentation/uikit/uilexicon) contains unpaired lists of names

[2022-09-03 08:11] andrewtavis commented on #3
Deleting this as #188 and #194 are covering the majority of this issue. New issues can be opened later for more advanced versions :)

[2022-09-03 08:11] #3 closed

[2022-09-03 15:59] andrewtavis commented on #194
Another observation, for numbers, the autosuggestions should be the words for "is", "or" and "minimum" in the given language :)

[2022-09-03 19:57] andrewtavis commented on #181
Something we'll be considering in the future is [Outreachy](https://www.outreachy.org/), which is a program that would allow people to do internships while working on Scribe.

[2022-09-03 20:05] andrewtavis opened #202 "Data update for v2.0.0"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

All languages

### Issue

This is to keep track of the needed data update for v2.0.0. [update_data.py](https://g

[2022-09-04 09:45] SaurabhJamadagni commented on #188
Couldn't agree more @andrewtavis! Sorry for the slow responses. These are a lot of changes combining all the three issues we are currently working on. I was just taking the time to process them and make a game plan for myself.

On a slightly unrelated note, can you explain me what the issue #201 that you have created would do? I tried to go through the documentation on UILexicon but I did not unde

[2022-09-04 17:42] andrewtavis commented on #201
@SaurabhJamadagni, will explain your question in here :) What this means is that you can access a list of first name and a list of last names from the user's phone without asking for permissions. So if this works correctly, someone who has me in their contacts would type "McA" and get "McAllister" as a suggestion. I'm not sure if it'd be able to also get abbreviation like `tbh`, but then I don't t

[2022-09-04 17:45] andrewtavis commented on #188
Yes, I agree that it's kind of a lot right now, and I'm sorry for that. I'm very much looking forward to when this is all done and we can look at the issues and be like, "Which small issue that's not really related to the others would we like to work on now?" 😄😊

[2022-09-04 17:49] andrewtavis commented on #188
I think that getting this one done will be a big weight off, @SaurabhJamadagni. As soon as we're done here, #194 should be straight forward. You again can start working on that if you'd like :)

[2022-09-04 22:33] andrewtavis commented on #188
We're now down to these last two issues, @SaurabhJamadagni! 🥳

- [ ] Fix a bug where delete at the start of the proxy now crashes the keyboard
- [ ] Fix a likely related bug where once a user starts typing in a command delete will end the command/crash the keyboard

As I said in the above PR, if you can get the bugs for delete, that'd be really great 😊 Let me know on all this :)

[2022-09-05 07:05] SaurabhJamadagni commented on #188
Yes @andrewtavis, I am currently working on the above. I'll try to share a small code snippet by evening that I wrote for #194 that selects the next three words from the common words array which will be a part of the JSON. I am currently reading a few articles on debugging to help me get tracking the above two bugs. I'll have an update soon hopefully 😅

[2022-09-05 07:11] SaurabhJamadagni commented on #201
Ohh I understand @andrewtavis. I first thought that it would be like the 'Text Replacement' feature from the system keyboard. I don't know if you have seen it but you can find it in Settings > General > Keyboard > Text Replacement.

This issue sounds good. Any feature that we use ourselves on a keyboard is a good idea to implement. Thank for the clarification :)

[2022-09-05 09:35] andrewtavis commented on #201
Happy to clarify, @SaurabhJamadagni 😊 This isn't a part of v2.0.0, but it's something we can get to easily later on :)

[2022-09-05 09:38] andrewtavis commented on #188
Sounds great, @SaurabhJamadagni! Feel free to share what you learn when we do the next call 😊

And just FYI, the structure of the autocomplete array will be the following:

{
"word": ["option", "option", "option"],
"word": ["option", "option", "option"],
...
}

[2022-09-05 09:51] andrewtavis commented on #41
Deleting as the issues that are included in here don't need an issue to organize them :)

[2022-09-05 10:21] andrewtavis commented on #21
Deleting this as the ordering of these features will be done in their tickets :)

[2022-09-05 10:21] #21 closed

[2022-09-05 11:30] andrewtavis opened #204 "Switch delete key icon when pressed"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

A common feature of system keyboards is that the icon of the delete button will shift to its filled out

[2022-09-05 13:59] andrewtavis commented on #197
Included in this can also be updating the annotation image for each device so that the new annotation and autosuggest/autocomplete UI is displayed :)

[2022-09-09 09:37] SaurabhJamadagni commented on #188
Hey @andrewtavis, two more minor bugs that I noticed that could be added to the list are:
1. Long words stop getting the `...` for some words.

<img width="351" alt="image" src="https://user-images.githubusercontent.com/68957712/189129640-a598ce60-ff78-4722-90dd-06e5bfdd5583.png">

2. We can't select a bunch of text and delete it all at once. It leads to the bobbing of the keyboard just like with

[2022-09-10 01:34] andrewtavis commented on #188
Hi @SaurabhJamadagni, no stress on timing! I wouldn't have had time to review this week anyway as I've been very busy for work. To the above:

1. I noticed this as well, but it's going to be fixed in #197, as the words won't be showing anymore at all :)
2. Noted, and thanks for finding it! I'll add it to the list above so we remember to check for it.

I also tried a bit to figure out debugging, an

[2022-09-10 10:13] andrewtavis commented on #188
@SaurabhJamadagni, on second thought, the second point below is a feature that was never implemented :) Good work on finding it! I'll make a separate issue for it :)

[2022-09-10 10:18] andrewtavis opened #205 "[deleted] Allow for selected text deletion"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

As mentioned in #188, Scribe currently doesn't have a feature where the user can select text and delete

[2022-09-10 11:29] andrewtavis commented on #188
@SaurabhJamadagni, hope it's ok that I went ahead and made these fixes :) I was checking the delete codes to maybe fix the issue with selected text deletion, and then realized the issues [d69bad8](https://github.com/scribe-org/Scribe-iOS/commit/d69bad8e65ae051021c48c1db359c31f1d462127) wants to address. Figured since I'm looking at it, just see if I can get it done 😊

Hopefully merging #206 will c

[2022-09-10 11:43] SaurabhJamadagni commented on #188
Absolutely @andrewtavis! I'll review the PR in a bit. I definitely want to know what was the problem as this bug really got under my skin haha! Thanks 😊

[2022-09-10 11:47] SaurabhJamadagni commented on #188
Thanks! I think this works in the production version though that is currently in the app store. I think it stopped working during all the changes that we created. Can you check if that's the case? 😅

[2022-09-10 13:29] andrewtavis commented on #188
Yes, you're right, @SaurabhJamadagni :) It works on my phone on the current version. I just checked and d69bad8 removes that bug as well. I guess I just figured that we'd need to implement something to have the selected text be deleted, but there's something going on under the hood to replace it :) I'll delete #205 😊

[2022-09-10 13:30] andrewtavis commented on #205
This issue was actually fixed in d69bad8 :)

[2022-09-10 13:30] #205 closed

[2022-09-11 08:07] #188 closed

[2022-09-11 08:15] andrewtavis commented on #188
Well, @SaurabhJamadagni, that was quite the issue 😊 Glad to have it done, and our path to v2.0.0 is a lot more clear :) You're welcome to start working more on functions needed for #194 (I'll write a bit in there now), and I'll start on #197 :)

[2022-09-11 09:26] andrewtavis commented on #194
Sooooooo here we are working on this now @SaurabhJamadagni!! 🚀 I'd say that we're writing a function `getAutosuggestions` that defaults to `getDefaultAutosuggestions`, and then this function would be put into the `conditionallySetAutoActionBtns` where `autoActionState == .suggest` instead of the default function 😊

In d6ac2e2 I already added a placeholder `getAutosuggestions` function and did some

[2022-09-11 14:38] SaurabhJamadagni commented on #188
Awesome @andrewtavis! I am super excited about finishing this issue as well! On to the next 🚀

[2022-09-11 14:43] SaurabhJamadagni commented on #194
I am a bit unclear about this one @andrewtavis. So basically you mean that if annotations are being presented we should only show two words from the array which would go on the conjugate and plural buttons correspondingly. Is that correct?

[2022-09-11 14:47] SaurabhJamadagni commented on #194
I did create the required function body for `getAutoSuggestions` in playgrounds. I will transfer it to work with the rest of the code. For now, where should I create the dummy dictionary? Should it just go in the CommandVariables file?

I was also thinking that for the task where we have to figure out what words follow numbers for the languages, we could break it down into subtasks that we can spl

[2022-09-11 14:58] SaurabhJamadagni commented on #194
Nevermind. I'll just create it inside the function. That was a silly question

[2022-09-11 16:28] andrewtavis commented on #194
Exactly this, @SaurabhJamadagni  - only two words - but as we're ordering by the best selection, the word that would be on translate in the first position should instead be on conjugate, and the word that would be in the second on conjugate should be on plural :)

[2022-09-11 16:29] andrewtavis commented on #194
Not a silly question at all! I say all kinds of silly stuff and just edit it before you see it 😅😊

[2022-09-11 16:31] andrewtavis commented on #194
I'm happy to just do this sub-task, honestly :) When it comes to these kinds of things, if it's a mini remedial task I'm happy to put on some music and get to it while I jam out/relax a bit 🎵

[2022-09-11 16:35] andrewtavis commented on #194
I added a final point above on switching the data over when we're done with the task in Scribe-Data :)

[2022-09-11 19:06] andrewtavis commented on #197
Tasks for this include:
- [x] Remove the annotation labels from `Keyboard.xib` and references to them in `KeyboardViewController.swift`
- [ ] Allow for noun annotations to be formatted and displayed over the translate button
- [ ] Allow for preposition annotations to be formatted and displayed over the translate button
- [ ] Allowing for noun and preposition annotation at the same time
- [ ] Sizin

[2022-09-12 17:58] andrewtavis commented on #194
I'll do the small fixes I mentioned in the PR now, @SaurabhJamadagni :)

A small aside though: [this page here](https://github.com/scribe-org/Scribe-iOS/graphs/contributors) shows something that I was expecting sooner rather than later, and it makes me happy 😊 We don't have too many contributors, but you're commits now give you the credit that your code contributions deserve 🏆 Thanks for all the w

[2022-09-12 18:32] andrewtavis opened #208 "Default autosuggestions for pronouns"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Once work is finished on #194, another feature that can be added is to create baseline autosuggestions

[2022-09-12 18:44] andrewtavis commented on #194
Just sent along some minor fixes that I didn't think needed review in 3ffbdce, @SaurabhJamadagni 😊

- This issue is now blocked by https://github.com/scribe-org/Scribe-Data/issues/15 (I always do the unordered lists here so that the issue name and status are displayed, btw 🤓)

Let me know how you're feeling right now as far as the issues that are being worked on. Everything that's left is coding t

[2022-09-15 12:20] SaurabhJamadagni commented on #197
These look good for now @andrewtavis. Maybe we'll figure out something else that needs to be added as we go along these initial steps. 😊

[2022-09-20 07:20] giaxonella commented on #201
#210

[2022-09-20 13:11] andrewtavis commented on #201
Hi @giaxonella 👋 Not quite sure what #210 is in reference to 🤔 Would be happy to discuss if you'd like to explain :)

[2022-09-22 15:10] andrewtavis commented on #197
Hi @SaurabhJamadagni 👋 I'm starting to work on this a bit today :) Got Xcode 14 autoinstalled on my computer and was unmotivated to figure out the errors, but it all seems to be working again 😅 Will send along some work later 😊

[2022-09-22 17:35] andrewtavis commented on #197
Alsooooooooooo 🤯🙌🥳 I finally got sick and tired of not being able to debug, and post hours of trying things check this out:

<img width="1199" alt="Screenshot_2022-09-22 11 25 24" src="https://user-images.githubusercontent.com/24387426/191812451-1d0ee168-fdd2-4af4-997b-768544d7c1c7.png">

The reason that we've been having issues with the debugger is because we need to be debugging with the target

[2022-09-22 17:59] andrewtavis commented on #164
Note that this issue is blocked by the following issues:

- #188 needed to be viable
- #194 needed to be viable
- #16 as we need to give people the option to disable this feature

[2022-09-23 13:19] SaurabhJamadagni commented on #197
Hey @andrewtavis! I have my exams going on currently. So I'll get started with this in the coming week. I'll check in then :)

[2022-09-23 13:21] SaurabhJamadagni commented on #197
That makes a lot of sense with the debugging. Finally!!!! 🥳

I guess that's why it was very difficult to find an answer online as well as most answers weren't considering multiple targets. I was just using `Scribe` as the target. I never considered changing the target. This is awesome! This should make so much stuff easier haha 🚀

[2022-09-23 14:50] andrewtavis commented on #197
And good luck with the exams as well!!! 🚀

[2022-09-24 17:02] andrewtavis commented on #194
Note that autosuggest as of now is deleting part of the previous word as if it's autocomplete, so we need to make sure that this isn't triggered :)

[2022-09-25 22:07] andrewtavis commented on #197
@SaurabhJamadagni, I'm making really good progress on this, as you can see from the tasks. Am holding off on a PR for now so you can focus on your exams 😊 Let me know when you expect to have a bit of time, and maybe we can do a call then to discuss what all is changing with how annotations work :) I'm back to work this week, but my overall goal is to be mostly done with all this issue this week, a

[2022-09-26 19:19] andrewtavis commented on #204
Thanks for your offer to help, @misteu! :) Assigned ✅😊

Let me know if you need any assistance with it later :)

[2022-09-26 19:22] andrewtavis commented on #204
And btw, looking at [VocabularyTraining](https://github.com/misteu/VocabularyTraining), super nice to get your interest in the project 😊

[2022-09-27 11:48] SaurabhJamadagni commented on #197
Hey @andrewtavis! I am done with my exams. We can do a call on Wednesday if you are free :) Is it just as big of a headache to implement everything programmatically as we imagined haha? You really did get a big chunk of it done 🤯

[2022-09-27 12:15] misteu commented on #204
Haha thanks! I‘m glad that you found my little app :)
Don’t look too close into the code as it’s pretty messy and parked for some time now.

I also thought about adding some separate German articles learning feature or even a separate app just for that (as I met a lot of learners struggling with it, I‘m a German native speaker).

So, I‘m glad that I found your keyboard as it seems to have the same

[2022-09-27 21:45] misteu commented on #204
Hey there,
had some time to look into the code, it's pretty well documented so it was a rather simple fix :)

I'll open an MR as soon as October start so that it counts towards Hacktoberfest :D

[2022-09-27 22:12] andrewtavis commented on #204
Hi @misteu! That's exactly what we're looking for! Happy to merge at the start of October 😊

[2022-09-27 22:15] andrewtavis commented on #204
Really happy you found it as well! Also happy that my documentation efforts made the fix easy for you :) Thanks so much for your efforts!

[2022-09-27 22:26] andrewtavis commented on #197
Hey @SaurabhJamadagni! Glad to hear exams are done, and hope they went well 😊 Tomorrow I could do a call at say 17:00 UTC for a bit, as I have a dinner at around 18:00. Let me know if that works :)

Was a bit of a headache. I haven't deleted all of the unnecessary functions in anotate.swift yet, but am hoping to get a bit done for merging noun and preposition annotation done right now :)

[2022-09-27 22:29] andrewtavis commented on #204
Btw, @misteu, feel free to edit the [changelog](https://github.com/scribe-org/Scribe-iOS/blob/main/CHANGELOG.md) to add an entry about this for v2.0.0. Hope is that all the work for autocomplete and autosuggest will be finished in the next few weeks, and this will definitely be something to include within the design changes :)

[2022-09-28 00:07] andrewtavis commented on #199
The noun annotation videos should type out the articles during the presentation of the annotation instead of the scribe key to annotate functionality.

[2022-09-28 06:35] SaurabhJamadagni commented on #197
Yeah @andrewtavis, that sounds good! If it's going to be too much of a rush then we can postpone no problem. Otherwise 17:00 UTC today works! See you then! :)

[2022-09-28 07:10] andrewtavis commented on #197
No rush at all, @SaurabhJamadagni! Just sent you an invite :)

[2022-09-28 13:58] SaurabhJamadagni commented on #197
Hey @andrewtavis I'm sorry but can we reschedule to tomorrow or any other day according to your convenience? A thing has come up and I can't guarantee that I'll be back on time. I would hate it if I kept you waiting again 😅

[2022-09-28 17:18] andrewtavis commented on #197
I didn't see this till now. All good :) If you're back within 30 we can still check in. Big thing is that I'll send along a PR for the work that's been done till now. Would be great if you could:
- Check it to familiarize yourself with the changes and make sure things make sense from my end
- Give feedback on the new UI for annotations  :)
- Think about what'd need to happen to get the last coding

[2022-09-28 18:56] misteu commented on #166
Hi again,
the `CommandBar` is this thing I colored `.red` here, right?
![grafik](https://user-images.githubusercontent.com/35889530/192851161-eefdeea3-c434-4c47-94a9-f747e88f76d1.png)

So all of this should behave like a button? I think this interaction might not be that easy to find.

A button above the label will make the whole keyboard really huge I think.

What about adding something at the tr

[2022-09-28 22:06] andrewtavis commented on #166
Hi @misteu! First and foremost, really glad to have you commenting on another issue! Also thanks for going to the effort of making a mockup of an idea that I honestly think is dramatically better than what it is that this issue is talking about. Totally makes sense that it would be hard to find 😊

Big thing is that the most recent switch that's happening in #209 is gonna switch the priority on thi

[2022-09-29 17:04] SaurabhJamadagni commented on #197
I came back a whole 2 hours late @andrewtavis. I just knew with the traffic conditions that I would miss 😅

I'll get to the review and share my feedback or questions in the PR thread itself. Thanks for taking down a huge chunk of this issue! I feel so bad for not helping you out! You can expect more from me in the coming few weeks though haha. Looking forward to our conversation sometime this week

[2022-09-29 17:25] andrewtavis commented on #197
As I said in the issue, you don't need to worry about me hammering this out :) This is me deleting code that never should have been written in the first place 😅 Happy to have this almost done and with it v2.0.0!

Talk to you Sunday 😊

[2022-09-30 07:59] andrewtavis opened #210 "Allow for case conjugation on case annotation button press"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

As work on #197 progresses, an opportunity that opens up is the conjugation of case pronouns for the us

[2022-09-30 08:00] andrewtavis commented on #210
We'd need to create variables that have the conversions from prepositions to the versions within the case to get this done, but this is common information that can be gotten from countless sources.

[2022-09-30 08:04] andrewtavis opened #211 "Disable and visually disable conjugation scroll buttons when applicable"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue is to functionally and visually disable the buttons that allow the user to scroll through co

[2022-09-30 13:16] misteu commented on #166
Hey!
Alright, wasn't aware that this will change :) Sure it can be an info icon or whatever.

My "mockup" was actually made in the app :D So it's actually already on a separate branch. I can change it to an info icon and visually hide the button until you want to use it for anything.

I would also provide a tap handler as a property of `CommandBar` so that you can quickly add some action later.

I

[2022-09-30 16:17] andrewtavis commented on #166
Hey back!

Ya very sorry again. I do try to keep the issues up to date, but then we have four issues here and one in [Scribe-Date](https://github.com/scribe-org/Scribe-Data) for the next release, so I've been focussing on getting things done and not the backlog.

I honestly do think that there's a lot of value in there being an info icon on the right as we discussed. I'd likely apply `ScribeBlue`

[2022-10-01 12:03] andrewtavis commented on #166
Hey again! Sounds wonderful :) I'll go ahead and assign you as this definitely would cover the issue 😊

[2022-10-01 16:19] misteu commented on #204
opened a MR: https://github.com/scribe-org/Scribe-iOS/pull/212

[2022-10-01 16:59] misteu commented on #166
Opened an MR here: https://github.com/scribe-org/Scribe-iOS/pull/213

[2022-10-01 17:38] andrewtavis commented on #204
Hey @misteu! Thanks for the PR 🙌 Will get to this as soon as #209 is merged, which hopefully will be in the coming days 😊

[2022-10-01 17:39] andrewtavis commented on #166
Thanks so much! 🚀 Will be in touch in the coming days when I'm done with #209. Really appreciate these so much 😊

[2022-10-01 18:57] andrewtavis commented on #197
@SaurabhJamadagni, just FYI, I just signed up to [Hacktoberfest 2022](https://hacktoberfest.com/) 😊 Seems like Scribe's already getting some attention, as two iOS issues have already been finished for it, and I have some interest in Android as well. I'll get us added into the other repos that people can find projects through.

Let's chat about this tomorrow 🚀

[2022-10-01 21:21] andrewtavis commented on #181
Here are two more places on GitHub with repos for new developers:
- https://github.com/MunGell/awesome-for-beginners
- https://github.com/firstcontributions/first-contributions

[2022-10-02 05:20] SaurabhJamadagni commented on #197
Awesome that's cool @andrewtavis! Also, could we have the call an hour earlier at 6:00 UTC? 7:00 UTC is actually lunch time for me. I was initially thinking of having my lunch during the meeting but now my family wants to go out for lunch 😅

[2022-10-02 05:21] SaurabhJamadagni commented on #197
I am sorry I should have thought of this sooner. But they just made lunch plans this morning 😅

[2022-10-02 08:00] andrewtavis commented on #210
This is now going to be included in v2.0.0 so that this functionality can be shown in the App Store videos :)

[2022-10-02 09:12] andrewtavis commented on #204
@misteu, [ecb08f0](https://github.com/scribe-org/Scribe-iOS/commit/ecb08f037aafbbaf8cbd051c9c7d08b3cb938bcb) is just because I resolved the conflict incorrectly :) Thanks again so much! As stated in the issue, let me know if I need to do anything else to get you your credit :)

[2022-10-02 09:12] #204 closed

[2022-10-02 09:20] misteu commented on #204
Hey! yeah as commented there, please add the topic `hacktoberfest` to your repo or the `hacktoberfest-accepted` label to the MR :)

[2022-10-02 09:47] andrewtavis commented on #166
All done reviewing this one too, @misteu :) Sorry that the commits look so weird for it. I tried to fix a very small conflict, and then that added a bunch of things to the PR that would delete your work in #212. Hopefully you'll have credit for both of these in no time :)

[2022-10-02 09:47] #166 closed

[2022-10-02 09:52] andrewtavis opened #214 "Add action to information button to explain Wikidata"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Now that a clickable information icon has been added to the keyboard in #166, an action is needed to di

[2022-10-02 09:59] andrewtavis commented on #197
@SaurabhJamadagni, have merged all the pending PRs, so we're good to get started on this task now 😊

[2022-10-02 10:08] andrewtavis commented on #166
And looking at it, I think that the a shade of grey is better for this so that it doesn't show up toooo much. That change was done in [dd98481](https://github.com/scribe-org/Scribe-iOS/commit/dd98481c5ed85f1368d248846387d1068e4318cd) :)

[2022-10-02 14:05] andrewtavis commented on #210
@SaurabhJamadagni, if you could quickly check the PR for this, that'd be great 😊 This is a strong WIP implementation for this. Obviously it's not good that something like "den/die/das" would be inserted into the proxy for the user, as the ideality would be that we'd ask them which of the three they need and insert only that one, but this is what we can do without reworking the conjugation display

[2022-10-02 15:09] misteu commented on #166
Hey!
thank you for your approval&merging!

Also my hacktoberfest profile is now showing them 👍

What I saw when working on the colors is that there is a lot of logic for getting or setting up light an dark mode colors.

I'd rather move all the colors in a color assets file and have an enum pointing to them. By that you would define light/dark colors in there and never had to check for the traitCol

[2022-10-02 15:22] andrewtavis commented on #166
Hey again!

Very happy that the Hacktoberfest profile is giving you your due credit :)

Ya the colors can be quite a hassle, and specifically we need to do a lot of things within the main view controller to make sure they're assigned properly. An enum along with an assets file sounds really great! Do you want to open an issue for this and I can assign you, or just send along a PR?

[2022-10-02 15:26] andrewtavis commented on #166
Btw, you're not showing up in the contributors of the project as of now. Let me know if I should look into this :)

[2022-10-02 18:14] misteu commented on #166
oh, right that's strange. I think it might be because the email address of my git config is different to mail address at github. I'll check if there is some difference

[2022-10-02 18:29] misteu commented on #166
The mail address I'm using in my git config was missing in github. Added it there. Github docs say it might take up to 24h to show up there.

As my avatar is showing up here for the commits merged into your repo, I guess the association itself works
![grafik](https://user-images.githubusercontent.com/35889530/193470070-95a9fc72-0836-4659-9bc0-959b13dda6ed.png)

[2022-10-02 18:37] andrewtavis commented on #166
Looking forward to seeing you in the contributors tomorrow then :)

Let me know what you want to do about your idea for coloration 😊

[2022-10-03 10:42] misteu commented on #166
Hi!
Sure, would be happy to refactor the colors!

You can create an issue for it and assign me to it. I should be able to work on it next week 👍

[2022-10-03 11:08] andrewtavis opened #216 "Refactor colors across Scribe-iOS"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

As discussed in #166, the way that Scribe assigns colors is highly verbose and error prone. It would be

[2022-10-03 11:09] andrewtavis commented on #166
Hey again! Just made #216 for this :) Feel free to comment in there and I'll assign you 😊

[2022-10-03 17:42] SaurabhJamadagni commented on #210
Hey @andrewtavis, sorry I couldn't get to this PR today. I'll give it a look tomorrow first thing in the morning. Hope that's okay. Sorry for the delay. Could you give me a few test words or phrases that I can use to check what this implementation brings?

[2022-10-03 18:22] misteu commented on #216
Hey!
Thanks for creating the issue :) As discussed, I'm happy to help you out with this one.

[2022-10-03 18:49] andrewtavis commented on #210
Hey @SaurabhJamadagni, no stress! Tomorrow morning's perfect :) I should have given you more of a background to what's here :)

On a German keyboard if you type prepositions like `mit`, `in`, and `für` you'll see an annotation that is clickable. Clicking that will take you to a screen that like verb conjugation will allow you to scroll and select words.

There's also an Easter egg in there that ha

[2022-10-03 18:51] andrewtavis commented on #216
Assigned! Thanks for your willingness to help out! :) I'd say this might want to wait for #210, which should be closed by tomorrow 😊

[2022-10-04 06:43] SaurabhJamadagni commented on #210
Hey @andrewtavis, just reviewed the PR! The changes are great. I definitely didn't feel like it was a WIP implementation. What a great feature addition! 😊

Also, chef's kiss on the Easter egg haha 🚀

[2022-10-04 09:30] #210 closed

[2022-10-04 09:33] andrewtavis commented on #210
Glad you liked the Easter egg, @SaurabhJamadagni 😊 I felt like it should at least do something when the user types `Scribe`, and this seems to be a happy medium of not too little and something that would distract :)

[2022-10-04 09:39] andrewtavis commented on #194
@SaurabhJamadagni, this issue isn't closed yet, but the data is in there via [1a7ee7d](https://github.com/scribe-org/Scribe-iOS/commit/1a7ee7de9c19f3fe91d47bcc0cce7687172e4e57) 🚀 We'd talked about you switching over the autosuggest source to these files, which you'd be welcome to do if you'd like to 😊

[2022-10-04 09:39] andrewtavis commented on #194
Almost done!! Still lots of work, but we're very very close 😊

[2022-10-04 10:57] andrewtavis opened #218 "User pronoun selection paths in the case conjugation display"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

With #210 being finished, one final issue is that if there is more than one pronoun in the field, that

[2022-10-04 15:01] andrewtavis commented on #218
Included in this would also be removing the pronoun ending marker on possessive pronoun displays (the letters in parentheses after the title). Instead the user will just be prompted with which ending to choose in the 2x2 conjugation menu after.

[2022-10-04 15:23] andrewtavis opened #219 "Refactor conjugation state changes to use case-switch"
### Terms

- [X] I have searched [open and closed issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Issue

This is a simple issue that would help refactor the code a bit :) I noticed that in the `CommandVariables.swift` files I used `if` stat

[2022-10-04 16:57] SaurabhJamadagni commented on #194
Yeah @andrewtavis. I think I'll do this issue first then. The annotation formatting issue is getting a bit confusing when it comes to moving the function from the `ViewController` to `Annotate.swift`.

[2022-10-04 18:12] SaurabhJamadagni commented on #197
Hey @andrewtavis, just had one question.

https://github.com/scribe-org/Scribe-iOS/blob/68ddd54b530e7a2e2186b40c1552f93aff703a05/Keyboards/KeyboardsBase/KeyboardViewController.swift#L1566

In this case we are checking for if it's a noun and a preposition. But then we have individual checks for nouns and prepositions as well in else if cases. Is there a particular case for which you had this in min

[2022-10-04 20:23] japanese-goblinn commented on #219
@andrewtavis Hey! I would like to implement this refactoring

[2022-10-05 08:17] japanese-goblinn commented on #219
@andrewtavis working on it!

[2022-10-05 08:41] andrewtavis commented on #194
That one is definitely a bit more confusing, @SaurabhJamadagni :) I'll answer your question there later in the day! And looking forward to the work here! 🚀

[2022-10-05 08:42] andrewtavis commented on #219
Hey, @japanese-goblinn! Thanks for your willingness to help, and also for the PR! I'll check this later today 😊

[2022-10-05 09:09] japanese-goblinn opened #221 "Small issue with RU localization"
### Terms

- [X] I have searched [open localization issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+is%3Aopen+label%3Alocalization)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

I've noticed a small issue in `ruGetCaseConjugationTitle`. Instead of `Винительный местоимения`

[2022-10-05 09:20] andrewtavis opened #222 "Add new conjugation table layouts"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Something that's needed for #218 and other future features is new conjugation formats including 3x1, 2x1 an

[2022-10-05 09:21] andrewtavis commented on #218
- Note that this is blocked by #222 as we need the different views :)

[2022-10-05 09:22] andrewtavis commented on #214
- Note that this is blocked by #222 as having the 1x1 conjugation view would allow us to display messages to the user :)

[2022-10-05 09:24] andrewtavis commented on #221
Thanks for pointing this out, @japanese-goblinn! You'd be welcome to submit a PR for this and other issues you see in the Russian keyboard :) Honestly I'm just using Google Translate for this, so I'd love some support 😊

[2022-10-05 15:53] andrewtavis commented on #197
Hi there, @SaurabhJamadagni :) Sorry the reply's coming later in the day 😊

Separating the checks makes total sense. I honestly was just super tired and at such times I tend to write repeated code that I'll combine later 😅 So it'd be:

[code]

Let me know if this is around what you were thinking, and thanks for looking into this!! 🙏

[2022-10-05 19:58] andrewtavis commented on #219
Thanks for the efforts here, @japanese-goblinn! Very nice to work with you on this 😊 Closing this as we're all done 🚀

[2022-10-05 19:58] #219 closed, assigned to japanese-goblinn

[2022-10-05 21:06] japanese-goblinn commented on #196
@andrewtavis is this an active issue that I can work on? What is `#men` in `This issue is currently blocked by #men`? Maybe you can suggest more relevant issues that I can work on?

[2022-10-05 21:11] japanese-goblinn commented on #96
I may take a look on this issue

[2022-10-05 21:23] andrewtavis commented on #196
What that is is "This issue is currently blocked by #what's that issue about the menu lemme type men and select the auto complete but then it doesn't give me the auto complete so I just get 'men' and don't realize it" 😄

We need to have a menu before this can be worked on, hence #16 needs to be done (fixed). This is a lot of work, so let's finish the current version and then we can move on to that

[2022-10-05 21:26] andrewtavis commented on #96
This would be absolutely amazing! 🚀🚀 I really haven't had the bandwidth to dedicate time to this, but it's the main bug right now that dramatically affects the functionality. Let me know if you have ideas on this!

[2022-10-05 21:34] andrewtavis commented on #196
Regarding issues that might be of good to work on, you now understand a bit of what's going on under the hood for switching conjugations, so https://github.com/scribe-org/Scribe-iOS/issues/211 might be a good fit? That's greying out the left or right button if we're at one of the points where the break would occur in the new enums and disabling the button :) Would definitely be more involved, but

[2022-10-05 21:47] japanese-goblinn commented on #96
Yep, assign me on this and I'll let you know on my progress with this issue

[2022-10-05 21:49] japanese-goblinn commented on #211
I think I want to take a look on this one

[2022-10-05 21:49] andrewtavis commented on #96
Assigned! Thank you 😊

[2022-10-05 22:36] andrewtavis commented on #211
Great! Before I assign it, let me give you a quick rundown of what this might entail and then you can confirm if you want to do it :)

Specifically what we're looking at is the following: https://github.com/scribe-org/Scribe-iOS/blob/561c2367d6a7b679747e8fb1dafc0cfbf1886c52/Keyboards/KeyboardsBase/KeyboardViewController.swift#L581

In that function you'll see where `conjugateShiftLeft` and `conjug

[2022-10-06 03:25] SaurabhJamadagni commented on #197
Yes @andrewtavis, something like this. I honestly didn't notice it the first time I saw the code so I am not any better when drowsy either haha. Making the changes. Will have a PR soon 😊

[2022-10-06 07:01] andrewtavis commented on #197
Looking forward, @SaurabhJamadagni!! 😊

[2022-10-06 20:03] andrewtavis commented on #221
Closing this now that #223 is merged :) Thanks for the efforts here, @japanese-goblinn! Really have been hoping for someone to come along and help with the Russian localizations. All of this has been very helpful! 🚀

[2022-10-06 20:03] #221 closed

[2022-10-06 21:33] andrewtavis commented on #194
@SaurabhJamadagni, what [fcc9fdb](https://github.com/scribe-org/Scribe-iOS/commit/fcc9fdb7798271620bbd80a1d929a2b1f0c23dbd) did was the following:
- Updates the changelog 🚀
- Updates the privacy policy for the repo and the app
- Allows for words that aren't pronouns (or German nouns) to be be suggested as lower case even if they're capitalized in the autosuggestions dict
- Adds the autosuggestion

[2022-10-06 21:33] #194 closed

[2022-10-07 06:26] SaurabhJamadagni commented on #194
Thanks @andrewtavis! So happy to finish this feature finally! Thanks for your work and help as well 😊 🚀

[2022-10-07 06:39] andrewtavis opened #225 "Add iPhone 6.7" designs to App Store files"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Screens are needed for the iPhone 6.7" at this point as without them the 6.5" screens will just be stretche

[2022-10-07 06:44] andrewtavis commented on #194
It's by no means perfect, @SaurabhJamadagni, but it's definitely good enough to get it out, especially with all the improvements that autocomplete and the preposition-case annotation interface is bringing 😊

I'm working on all the design elements that we need for v2.0.0. Get to the task that you have in #197 when you can, and then I'll work on the rest for getting this out! 🚀

[2022-10-07 09:46] SaurabhJamadagni commented on #194
Yeah @andrewtavis, I'm actually done with the changes. I have a presentation in a bit so I was holding off the PR till evening. Will issue it asap. 😊

[2022-10-07 10:34] andrewtavis commented on #194
Sounds good! I think a bit of extra coding will be necessary for the preposition case conjugation interface, but generally I think that early next week is a reasonable release date at this point. From there we can work on small issues again, finally 😅😅😊

[2022-10-07 17:43] andrewtavis commented on #197
Further work for annotations:
- [ ] Adding screens to the preposition annotation display for pronouns using the 2x2 conjugation view
- [ ] German annotations are firing even if we type the word lowercased

[2022-10-07 20:45] andrewtavis commented on #222
For this issue `conjugateAlternateView` needs to be made into an enum with the available layout options :)

[2022-10-07 22:18] andrewtavis commented on #197
@SaurabhJamadagni, ea54272 fixes the annotation screen that I'd forgotten to add some pronoun conjugations to that need the 2x2 conjugation display 😊 There's a lot of added code in there as well as I set the stage for #218 and #219 :) I decided that I do want to do these for at least German, with the idea being that we can shift between conjugation views as needed to allow a user to find the exact

[2022-10-07 22:18] #197 closed

[2022-10-07 22:44] andrewtavis commented on #218
MVP for this is just going to do the journey for German and not Russian, which can be added at a later time :)

[2022-10-07 22:54] andrewtavis commented on #218
For this issue `conjugateAlternateView` needs to be made into an enum with the available layout options :)

[2022-10-08 08:14] andrewtavis commented on #225
Closed in 5850464! All further work for this will be in #199 :)

[2022-10-08 08:14] #225 closed

[2022-10-08 09:04] SaurabhJamadagni commented on #194
Let's gooo @andrewtavis! 🚀

As much as I am looking forward to working on the smaller issues, can't deny that large feature additions are a different kind of joy haha 😊

[2022-10-08 09:16] SaurabhJamadagni commented on #197
Yeah @andrewtavis, features we ourselves would use are perfect additions. Could you explain with an example what you mean by providing a user with buttons that would insert word/another word seprated by a dash?

Sounds good! 🚀

[2022-10-08 09:38] andrewtavis commented on #197
Morning, @SaurabhJamadagni!

Lemme give you an example 😊 Also, I meant slash, not dash :)

So within the preposition-case conjugation display we see what pronouns the user should use given the case and what they'd like to talk about. In English again this is the "With `whom` are you going to the library?" example, which sadly is very much a thing in German (and Russian, but I'm not going to fully

[2022-10-08 21:23] andrewtavis commented on #222
Closed in the last few commits :)

[2022-10-08 21:23] #222 closed

[2022-10-09 00:09] japanese-goblinn commented on #211
@andrewtavis Oh, I not really getting what is need to be done here, so I think I'll pass on this. But thanks for trying to explain this.

[2022-10-09 08:31] andrewtavis commented on #211
All good, @japanese-goblinn! Glad I explained it at the very least as it'll make it easier fort he next person or myself :)

[2022-10-09 08:39] andrewtavis commented on #211
I have an issue for Russian localization that I'd like to check with you on as well :) I'm working on #218, which is the final feature for v2.0.0. In looking at it I'm realizing that there likely are many pronouns for Russian that aren't included in [RUCommandVariables.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Keyboards/LanguageKeyboards/Russian/RUCommandVariables.swift) because I

[2022-10-09 11:06] SaurabhJamadagni commented on #197
Ahh, I understand @andrewtavis. Trying to navigate through the cases you explained to me itself was a headache haha. I can definitely see how people would benefit from what you are planning to do. Thanks for the clarification! 😊

I am going to go browse the issues to figure out what to work on next right now. Is there any issue you had in mind for me to work on?

[2022-10-09 11:22] andrewtavis commented on #197
Am open to what you have interest in, @SaurabhJamadagni! I'm hoping to finished up #218 soonish, so maybe wait on starting something till those changes go through, as looking at my local copy there are lots of changes to variable names and other things to make all of this work properly :)

[2022-10-09 11:25] andrewtavis commented on #197
#211 is something that I spelled out to the contributor that helped with Russian localizations. Might be helpful for the UI going forward so that someone knows when pressing one of the navigation buttons in the conjugate UI won't do anything (IMO best to just disable the key all together if it's not gonna do anything). To me that should be pretty straightforward for you :) But again, hold off on t

[2022-10-09 11:31] SaurabhJamadagni commented on #208
Hey @andrewtavis, I would like to work on this issue. Seems like the extension of what I have already been doing haha. Just to clarify, as we did for placeholder text, we'd have to create a pronouns array for each language. Then if the word typed by the user is in the pronouns array, the correct conjugation of [have, be, can] should be suggested. I am unable to understand how the right conjugation

[2022-10-09 11:50] andrewtavis commented on #208
This seems like a reasonable one for me too :)

I'd say let's make use of the verbs we have, and if it can't work for a given language then we leave it. You can see in the German verbs file that we have the verbs "haben" (have), "sein" (to be) and "können" (to be able to), and in that way we can return the given conjugation based on what the pronoun is. We'd need to match the pronouns to their con

[2022-10-09 11:52] andrewtavis commented on #208
Plus if we need the conjugations for verbs in other languages, then I can also just go in and add the conjugations into Wikidata myself 😊

[2022-10-09 13:59] andrewtavis commented on #218
Closed in [c2bbf4a](https://github.com/scribe-org/Scribe-iOS/commit/c2bbf4a4254032ba47055806a41af7a78658f842) 🚀🙌

[2022-10-09 13:59] #218 closed

[2022-10-09 14:11] andrewtavis commented on #218
@SaurabhJamadagni, let me give you a run through of what happened in [c2bbf4a](https://github.com/scribe-org/Scribe-iOS/commit/c2bbf4a4254032ba47055806a41af7a78658f842). Sorry that I didn't do a PR on it, but then again I was just kind of changing things at will, and LOTS of things would have been needed to be looked at. Everything that was happening was within conjugation, which is still working

[2022-10-09 14:27] andrewtavis commented on #218
And @SaurabhJamadagni, just something that I'm realizing, it seems that `getDefaultAutosuggestions` is being called in cases when it shouldn't. I'm seeing them a lot more than I expect to, and specifically after I type a word with an annotation it's very regular that the first two defaults will be the ones that are shown after the annotation.

Example:
- Type `Mit` and press space and you'll see t

[2022-10-09 16:41] andrewtavis commented on #218
@SaurabhJamadagni, committing [1ff0c2a](https://github.com/scribe-org/Scribe-iOS/commit/1ff0c2a26918e0f399093adc941dbc2fc818701b) to try to fix the issue with `getDefaultAutosuggestions`. It seems to work at this point 😊

What that changed:
- I got rid of `secondaryPastStringOnDelete` as to me it seemed like we could more easily get the word we want by selecting the second to last word in the prox

[2022-10-09 18:46] SaurabhJamadagni commented on #197
Cool got it thanks! 😊

[2022-10-09 18:50] SaurabhJamadagni commented on #218
No worries @andrewtavis!

Sounds awesome! Yup I'll test a little bit too! Have a chill rest of the weekend 😊

[2022-10-09 18:54] SaurabhJamadagni commented on #218
Yes that's perfect. I planned to do that myself anyway. The seperating words by the space seperator into an array is a much better method.

All looks good @andrewtavis! Testing will be the key now I think. Thanks for fixing this one! Looking forward to v2.0.0!! 🚀 😊

[2022-10-09 19:03] SaurabhJamadagni commented on #208
Yup that sounds good @andrewtavis. I'll get started with this one then. Once I have something working I'll let you know and then we could discuss if the implementation I have is something we want to go ahead with or if we need to head in a different direction. I'll just use the above dictionary that you have given as reference for now.

[2022-10-09 19:20] andrewtavis commented on #208
Sounds great, @SaurabhJamadagni! Looking forward to this! I think this will finish up all the autosuggestions that we're doing by hand, and the best thing is that we'll be using this one, the one for numbers, and the baseline suggestions regardless of when we at one point add in ML models to this 😊

[2022-10-10 09:52] andrewtavis commented on #199
Closed in the commits above! 🚀

[2022-10-10 09:52] #199 closed

[2022-10-10 10:24] andrewtavis commented on #202
Closed in e8cd1ba :)

[2022-10-10 10:24] #202 closed

[2022-10-10 10:46] andrewtavis commented on #208
Will write to you in here, @SaurabhJamadagni 😊 I just send v2.0.0 along to Apple! 🚀 There likely will be some things we'll need to work out post release, but let's see how it works and react to it 💪 Thanks again so much for your hard and persistent work to get this out. A v2 is really something momentous 🎉

Will let you know when it's passed review!

[2022-10-10 13:08] andrewtavis commented on #216
There's also a 1x1 conjugation/declension view that could be used for the information icon button that you implemented in #166. The issue to add a message to the user when they click that is #214 :)

[2022-10-10 13:10] andrewtavis commented on #214
The variable `formKeySingle` is the 1x1 display that could be used to send messages to the user. Clicking the icon could change the keyboard to this display and present them with information on Wikidata so they know where the data's (not) coming from :)

[2022-10-10 15:11] SaurabhJamadagni commented on #208
Let's go @andrewtavis! This is awesome! I am so excited for Scribe! Thanks for all your help in making this happen! Can't wait to hear back from you post review!! 🚀😊

[2022-10-10 15:16] SaurabhJamadagni commented on #181
Let's keep hashtags to the minimum @andrewtavis. From what I have read, hashtags on twitter can sometimes negatively affect reach. Also I was wondering, what if we created a few Scribe intro tweets first before apple is done with the review so that people know what Scribe. Then the main v2.0.0 tweet could take place to make the real splash haha. Let me know what you think? Tweeting about v2.0.0 so

[2022-10-10 15:22] SaurabhJamadagni commented on #208
[code]

@andrewtavis, a dictionary like this will also be required for English pronouns in InterfaceVariables right? Example,

[code]

[2022-10-10 15:27] andrewtavis commented on #181
Suggestions for tweets are more than welcome, @SaurabhJamadagni! I can also send along the twitter PW to you as we discussed. Feel free to send along what it is that you're thinking for the various messages 😊

[2022-10-10 15:29] andrewtavis commented on #208
Yes, @SaurabhJamadagni :) We'd done a dictionary like this for each language and assign it to a base variable with all the other language specific ones :)

[2022-10-10 15:32] andrewtavis commented on #181
And let me know if you think social media buttons on the readme as discussed above would be useful. I was thinking that they could go in before the table of contents on the readme after the project description? 🤔 Also no need to add them if you don't see value in them though.

[2022-10-10 15:32] SaurabhJamadagni commented on #208
@andrewtavis are there any resources I can look at for these pronoun declensions? I am losing it looking around on the internet for various pronouns and their cases. Especially for foreign languages!! 😅

[2022-10-10 15:34] SaurabhJamadagni commented on #211
Hey @andrewtavis, I'll wrap this issue up if that's ok 😊

[2022-10-10 16:08] andrewtavis commented on #208
@SaurabhJamadagni, I'd say for right now just set it up for English and German, and we can talk about other languages later :) Plus we don't need to worry about the declensions anyway as that's more for I -> me -> my, but for thus we just want "I have" 😊 Plus let's not stress too much on what we don't understand from other languages, as it's open source, so get it out and hope someone corrects it

[2022-10-10 16:09] andrewtavis commented on #211
Great, thanks @SaurabhJamadagni! I think this'll be great to include now that that interface is being used so much. Assigning you, and let me know if any questions come up 😊

[2022-10-10 19:43] andrewtavis commented on #208
It’s already out, @SaurabhJamadagni!! :) Working really well :) I’m going to open an issue for a color change for dark mode as I think the conjugation labels are too dark.

Another thing, we’re one step closer on the issue of the keyboard randomly crashing sometimes, as I’ve noticed that it just stalls a bit sometimes now. Not perfect, but progress! 🚀

[2022-10-10 19:47] andrewtavis opened #227 "Make conjugation labels more apparent in dark mode"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This is a very simple issue 😊

The labels for the buttons in the conjugation and declination views in dark

[2022-10-10 19:56] andrewtavis commented on #227
The change would need to happen at the following part of the main view controller:
https://github.com/scribe-org/Scribe-iOS/blob/524146390ae65a92026e5d7e3130558535f16236/Keyboards/KeyboardsBase/KeyboardViewController.swift#L787

We’d need to switch the color to something more apparent conditionally on dark mode :)

[2022-10-11 17:29] misteu commented on #216
I created a PR for it, see https://github.com/scribe-org/Scribe-iOS/pull/228

It looks like a lot of changes but most of it are added color asset JSONs as you will see :)

[2022-10-11 19:39] helloITdepartment commented on #34
I'd like to work on this! I think I've nearly got it solved

[2022-10-11 21:13] andrewtavis commented on #34
Glad to hear, @helloITdepartment, and thanks for reaching out so I can assign you! 😊

[2022-10-11 21:14] andrewtavis commented on #216
Thank you, @misteu! I'll take a look at all of this tomorrow :) Really looking forward to these changes and learning more about the methods you're using 😊

[2022-10-12 15:35] japanese-goblinn commented on #96
@andrewtavis I've looked intro this crash and will soon describe here what I've found

[2022-10-12 20:03] andrewtavis commented on #96
Thanks so much, @japanese-goblinn! Really looking forward to what you’ve figured out :)

[2022-10-13 02:45] wkyoshida opened #229 "Regional keyboard variants"
### Terms

- [X] I have searched [open and closed issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Issue

Opening this issue to ask about regional keyboard variants for the same language.

As an example, some countries like France and Belgiu

[2022-10-13 07:06] andrewtavis commented on #229
Hi @wkyoshida! Thanks for the issue! I totally agree that regional variants would be really really important to include 😊 Hence the `priority` label.

I originally blocked this as I was thinking that #16 might be necessary to create a menu item for selecting the layout, but then normally these are selected as separate keyboards :) Let me check to see if it would work to create a separate French ke

[2022-10-13 13:32] SaurabhJamadagni commented on #208
Haha true! Will work on the English and German ones for now then. Thanks! 😊

[2022-10-13 13:39] SaurabhJamadagni commented on #181
Yeah sure that works @andrewtavis! I'll try to craft a few tweets, maybe even a thread about everything that's new.

Or I was also wondering, what about under the 'Download on the App Store' image? We could just have the socials logos that link to the respective pages.

[2022-10-13 16:52] andrewtavis commented on #181
I was thinking under “Download on the App Store” would be too many buttons tight next to each other, but then that might be where they belong?

[2022-10-13 16:55] andrewtavis commented on #208
Looking forward to the PR! We should also talk about what else to add into the autocompletions, as I think that they’re not including some words that we definitely could get from Wikidata. We have nouns, so far, and maybe we add in infinitives of verbs ant a couple other kinds? I think that all verb conjugations would be a bit much, but let me know what you think 🤔

[2022-10-13 18:10] andrewtavis commented on #96
@japanese-goblinn, note that I just checked and the new "lack of" behavior is reproducible on the Simulator, I just didn't check Russian after all these changes. Am looking into this as well now :)

[2022-10-13 18:26] japanese-goblinn commented on #96
Well, I managed to get this error while debugging, but not really sure how to reproduce it. I want to take a deeper look into this bug but unfortunately I don't have time for now.

This is what I found so far:

You sad that file is about `0.6 MB` when it's actually `15.1 MB`. Here's code how I measured it
[code]
It's not much but it's a measurement of raw data, so it's less that `Dictionary` will

[2022-10-13 18:39] andrewtavis commented on #211
@SaurabhJamadagni [14c098a](https://github.com/scribe-org/Scribe-iOS/commit/14c098a4fe13afb2ef18ded15fc6742991eb6ba2) was the final bit of this. I think that it looks better if we just change `shiftFormsDisplayLeft.isUserInteractionEnabled = false` rather than disable it completely, that way we have the button, but the arrow is greyed out 😊 Let me know what you think, and thanks for the work on th

[2022-10-13 18:39] #211 closed

[2022-10-13 18:48] andrewtavis commented on #227
Closed in 011b1b3 😊

[2022-10-13 18:48] #227 closed

[2022-10-13 19:22] wkyoshida commented on #229
:arrow_up: this is great! Thanks for sharing more of the vision for Scribe.

---
Concerning other notable variants, from what I understand:
- Within French, there is also the [QWERTZ](https://en.wikipedia.org/wiki/QWERTZ#Swiss_(German,_French,_Italian,_Romansh),_Liechtenstein,_Luxembourg) layout used in Switzerland and Luxembourg.
- Portugal and Brazil layouts for Portuguese have some differences,

[2022-10-13 19:29] wkyoshida commented on #229
To clarify some concepts in my previous comment, I believe there could be two types of "variants" that could be discussed:
- human language variants, e.g.
  - France French vs Canada French
  - Portugal Portuguese vs Brazil Portuguese
  - U.S. English vs Australia English
- keyboard layout variants, e.g.
  - French AZERTY vs French QWERTY
  - Portuguese QWERTY used in Portugal vs Portuguese QWERTY

[2022-10-13 20:02] andrewtavis commented on #229
Thanks for all this, @wkyoshida! I was actually thinking or researching the above points, and you were kind enough to do it for me 🙏 I'll again check to see what the restrictions of adding a keyboard that uses the same data is, and from there we can see if the we can quickly make versions that the user can choose. I'd say that naming them like `French AZERTY` and `French QWERTY` would be good so w

[2022-10-14 02:48] andrewtavis commented on #214
It should also be noted that this info button should also appear on conjugation fields with no data.

[2022-10-14 03:15] andrewtavis commented on #96
@japanese-goblinn, wanted to thank you for your contributions! #231 is an initial step towards working on this in my opinion, as we really should be leveraging a library for JSON loading. Hopefully this will make the read only batches you suggested or another solution for the data process easier going forward 😊

All the best!

[2022-10-14 08:31] andrewtavis commented on #229
@wkyoshida, just FYI on timing, I'll get to exploring this when I'm back from a weekend trip on Sunday evening/early next week 😊 Will first report back on whether the data sources can be shared, and if so we can plan on what the changes should be for the regional variants for the currently included languages 🚀

[2022-10-14 09:45] andrewtavis commented on #169
Generally their could also be a check when one of these keys is pressed where if there's a space before, then it's deleted. I don't really see the outlier of them wanting a space before to be too important to not include something that could be helpful :) But to make this more specific we could check whether `commandState == .suggest` :)

[2022-10-14 09:51] andrewtavis commented on #141
Something that could also be done for this is that the command options could be shown along with the annotation. The annotation could be shown over the translate button field if there is one, and aside from that the conjugate button and plural button could be shown. It doesn't seem reasonable that a person would want to do an autosuggestion at this time, so we could present the two other buttons w

[2022-10-14 15:24] SaurabhJamadagni commented on #211
Yes @andrewtavis, it looks better! That was my plan too! I just couldn't figure out how to turn user interaction off. That's why disabled it entirely. This is perfect thanks!! 😊🚀

[2022-10-14 15:51] SaurabhJamadagni opened #232 "No annotation on certain words for languages with capitalization"
### Terms

- [X] I have searched all [open bug reports](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aopen+is%3Aissue+label%3Abug)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Behavior

Hey @andrewtavis, I am not sure if this is a bug or not but I noticed this today. So when I type 'Buch' I get th

[2022-10-14 16:35] andrewtavis commented on #232
Hi @SaurabhJamadagni! No annotation for uncapitalized nouns is the expected behavior :) Autosuggest will suggest the capitalized version if the user doesn’t start capitalizing at the start, so if they want the annotation that’s what they’d do 😊It’s not like in English where sometimes you’d mistakenly not capitalize a name/proper noun and it’s all good, as uncapitalized nouns in German just look wr

[2022-10-14 16:35] #232 closed

[2022-10-14 17:34] SaurabhJamadagni commented on #232
Sounds good @andrewtavis. Thanks for the clarification 😊

[2022-10-16 14:57] andrewtavis commented on #216
Thanks for all your work here, @misteu! Let me know if you have interest in anything else :) Big thing we're focussing on is #96 at the moment, and with that reworking the we read in data. At this point the Russian keyboard is crashing from the outset, with the current theory being that the JSONs being loaded in are much too large. I'll be looking into Core Data as suggested by another contributor

[2022-10-16 14:57] #216 closed

[2022-10-16 15:08] andrewtavis opened #234 "Allow for autocomplete after punctuation"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Currently autocompletions require the word being entered to have no punctuation around it. For example,

[2022-10-16 16:15] andrewtavis commented on #208
@SaurabhJamadagni, sorry again for the confusing review :) Steps ahead for this issue:

- [ ] Documenting what should be presented for all other languages
- [ ] Allowing for suggestions that aren't conjugated verbs
- [ ] Adding any verb conjugations that are needed to Wikidata
- [ ] Adding all final suggestions

[2022-10-16 16:34] andrewtavis commented on #208
Let's just do this for French and Spanish for now, and we can append this as we go if there's a need 😊 For those languages the suggestions are:
- French: to be (être), to have (avoir), and ne
    - We have the conjugations for être and avoir
- Spanish: no, to be (ser) and and the reflexive pronoun for the pronoun (me, te, se nos, os)
    - Note that in Spanish we need to account for gender in firs

[2022-10-16 19:46] andrewtavis commented on #229
@wkyoshida, so as far as Canadian French we're going for the following? 😉

https://user-images.githubusercontent.com/24387426/196054404-2f60073d-5afa-46f6-97ff-d5ff1b3099aa.mp4

If this looks good, then I'd change the name of the original French keyboard to `Français (AZERTY)` and then we should be all good post some variable renaming 😊 How does this sound? I also fixed the accent character that w

[2022-10-16 20:22] andrewtavis commented on #182
As some keyboards have dramatically more keys than others, at this point I don't think that this issue makes sense to work on :)

[2022-10-16 20:22] #182 closed

[2022-10-16 20:28] andrewtavis commented on #13
Closing this as we'll be using either the information icon or the annotation button press feature for this :)

[2022-10-16 20:28] #13 closed

[2022-10-16 20:31] andrewtavis commented on #49
The UI for this feature was created in #222 :)

[2022-10-16 20:31] #49 closed

[2022-10-16 20:33] andrewtavis commented on #41
Reopened as this would be the issue where the translation feature is changed over from Hugging Face :)

[2022-10-16 21:33] andrewtavis commented on #96
We'll likely need to be using [Core Data](https://developer.apple.com/documentation/coredata) for this in the future, but a WIP step to help  the situation would be to remove the indentation from all JSON files to make them smaller in size.

[2022-10-17 07:20] SaurabhJamadagni commented on #208
Works @andrewtavis. I'll start of with French. Could you create the necessary dictionary for Spanish? Or how do you wanna proceed?

[2022-10-17 07:22] SaurabhJamadagni commented on #181
True @andrewtavis. Because I was thinking, once the reader starts reading the description and the rest of the texts, it would be a bit abrupt to put a Twitter button in between. We can just try out both positions actually. That should give us a better idea.

[2022-10-17 09:07] andrewtavis commented on #208
I can definitely make the dictionary for Spanish that maps pronouns to their reflexive counterparts, @SaurabhJamadagni  😊 Send along a PR for French when you can, and I can try to add things to it again 🤣

[2022-10-17 09:10] andrewtavis commented on #181
Sounds good, @SaurabhJamadagni! I’m actually warming to the idea of putting it by the download button anyway :) Anything else besides Twitter and Reddit as of now? And do you use Reddit so we can check that the example text works?

[2022-10-17 09:15] andrewtavis commented on #96
@SaurabhJamadagni, FYI for this issue, I have the JSON files formatted to remove spaces, which really does help as far as app size is concerned. Will push those with the QWERTY French keyboard for #229 :)

It sadly doesn’t seem to help to much with load times, as it’s likely the crazy number of lookups being done that’s problematic. I’m going to a Berlin Swift coding group on Thursday and will dis

[2022-10-17 14:44] wkyoshida commented on #229
That looks good! :raised_hands: Glad it was easy enough!

I believe the small differences would be in the locations of special characters. In iOS, for instance, Portugal has the `€` as the primary currency symbol, which Scribe uses for its [Portuguese keyboard](https://github.com/scribe-org/Scribe-iOS/blob/524146390ae65a92026e5d7e3130558535f16236/Keyboards/LanguageKeyboards/Portuguese/PTInterfaceV

[2022-10-17 15:41] andrewtavis commented on #229
Thanks for the feedback, @wkyoshida! I think that the currency symbol would be something that could be a menu option later on for if someone wants to change it. I could see a situation where someone uses the “France French” Scribe keyboard but is living in Canada and thus uses the dollar symbol a lot more often, in which case they could select it. One of the many things to include once #16 is done

[2022-10-17 16:12] wkyoshida commented on #229
Oh I see! Yeah, I think that makes sense. Along with the currency, keyboard layout, target language, etc that we've discussed already, it'll be interesting to think if there could be any other things that would make sense to make as options.

Sounds great! I can get that in today still :+1:

I think that makes sense! I think I might be on the same page as you - we could use #16 to flesh out what o

[2022-10-17 16:25] wkyoshida commented on #16
Like alluded to [here](https://github.com/scribe-org/Scribe-iOS/issues/229#issuecomment-1281118916), @andrewtavis , what do you think of potentially having the MVP for the menu be only the following?

- `Home`
- `Privacy Policy`
- `Contact Scribe`
- `Wikidata and Scribe`

I'm mostly thinking that these would be the easiest ones to implement, since they would mostly just be different views/pages. `

[2022-10-17 20:18] andrewtavis commented on #229
Ya there's so much waiting on the menu being finished, as you can see 😊

Makes sense to me as well, and I'll jump into #16 after this as I saw you wrote in there as well :)

Comin' up! 🚀 (in a bit 😅😊)

[2022-10-17 20:27] andrewtavis commented on #16
Your idea for the MVP makes total sense, @wkyoshida 😊 I think those as base views that are populated with text and simple icons is exactly what we should do, and then as you suggested adding further features would be separate issues. This isn't too hard, ultimately. Just need to jump in 👨‍💻

There are a few things that are more pressing than this now, specifically #96, but then I'm hoping to get s

[2022-10-17 21:31] andrewtavis commented on #229
@wkyoshida, you'll need to write something within 22dc867 for me to assign the review to you 😊

[2022-10-18 07:00] #229 closed

[2022-10-18 07:04] andrewtavis commented on #229
You're welcome to make an individual issue for changing the currency symbol, @wkyoshida 😊 I think that'd make sense so we keep it in mind and deal with that as a singular task, as it likely will be a bit involved when it comes to replacing the preset symbol in the keyboard interface :)

Thanks for your suggestion and all your help! Looking forward to the next issue! 🚀

[2022-10-18 07:30] andrewtavis commented on #34
Just checking in with you, @helloITdepartment :) :) Let me know if you have any questions on the code base that I can help with!

[2022-10-18 07:41] helloITdepartment commented on #34
Actually I do, is there somewhere we can chat for a minute so I can explain the issue I've run into?

[2022-10-18 10:25] SaurabhJamadagni commented on #96
That sounds good @andrewtavis! This should be a huge performance boost in that case. I'll try to see if I can find any answers as well 😊

[2022-10-18 11:05] andrewtavis commented on #34
Sure, we can do a mini call to discuss this! Do you want to send along an email to the one I have in my profile? We can then figure out a time for a call. Also let me know what your preferred video service is (Zoom, Google Meet or Jitsi are the ones I use most, but open to others).

[2022-10-18 11:07] andrewtavis commented on #96
I’ve already been watching some videos on all this after you suggested it, @SaurabhJamadagni :) Doesn’t seem like it’d be too much of a jump as it’s so well integrated into normal Swift workflows. Let’s be in touch!

[2022-10-18 11:09] andrewtavis commented on #208
😂😂 I hopefully will figure it out without toooo many auto-notifications, @SaurabhJamadagni 😊

Tomorrow or the next day is more than ok! Rest up and we’ll check in later when the PR comes through :)

[2022-10-18 11:25] helloITdepartment commented on #34
Wonderful! I'll do that now, thanks

[2022-10-19 17:37] wkyoshida commented on #229
I began writing up the issue details for the currency selection option, but then started thinking of some considerations.. :laughing: Some initial thoughts:

- Should there be a default currency per keyboard?
  - This could get interesting with languages spoken in multiple countries (i.e. which country's currency to use?)
  - Or perhaps, Scribe could potentially just quickly prompt the user for th

[2022-10-19 17:51] andrewtavis commented on #229
Very good point, especially for languages like French, Spanish and Portuguese. I'd say let's plan on making it prominent in the keyboard options, and if we do give them the option to choose on data download, then there needs to be a preset value so that we don't lose people in the download funnel because they don't figure out selecting something 🤦‍♂️ (An aside, it's important to note that doing tr

[2022-10-20 16:06] wkyoshida opened #238 "Allow for currency symbol selection"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

As touched on in this [discussion](https://github.com/scribe-org/Scribe-iOS/issues/229#issuecomment-128

[2022-10-20 16:13] wkyoshida commented on #229
Sounds good! I created it and aggregated some notes from what we already discussed and other points I thought of later :+1:

I see! I was under the impression that feature would showcase/walk-through some different Scribe details. Sounds great! I'll add some thoughts there later as well.

[2022-10-20 19:04] wkyoshida commented on #89
Hey @andrewtavis! I was wondering how this feature would eventually work in the back-end side. I know there's the [Scribe-Data](https://github.com/scribe-org/Scribe-Data) repo, which could be used as the download location for the data packs, but I was also wondering if the data pack hosting could be somewhere else even. For instance, could Scribe use Wikimedia's [Toolforge](https://wikitech.wikime

[2022-10-20 19:36] andrewtavis commented on #238
Thanks for making this, @wkyoshida!

- Currently blocked by #16, but will be high on the list to implement once that's done 😊

[2022-10-20 19:37] andrewtavis commented on #229
Thanks for the issue and the synthesis! 😊

[2022-10-20 20:28] andrewtavis commented on #89
A suggestion that I got from an Apple employee tonight was to use downloadable assets that could be hosted on the App Store, which I didn't even know existed. I think that Toolforge would likely be a better option though, as when Android gets up and running we'll need something that's platform agnostic :)

We could definitely provide an option for automatic updates in the settings, and maybe somet

[2022-10-20 20:31] andrewtavis commented on #181
@SaurabhJamadagni, FYI on the Twitter front, [Cocoaheads Berlin](https://twitter.com/cocoaheads_BER) will be sending out something soon as one of the co-organizers was nice enough to offer 😊 Will be Hacktoberfest themed as he's also a participant :)

[2022-10-21 02:44] cdmill commented on #234
I'm interested in this, but wouldn't be able to start working on it until next week.

Could you explain what you mean by this exactly? The way I am interpreting it is that some punctuation would not be allowed, like *!Buch* or *^Buch* etc. Could you let any punctuation be allowed but filter it out using `replacingOccurrences` or a similar function and then pass the filtered string as an input? The

[2022-10-21 07:27] andrewtavis commented on #234
Hi @cdmill, and thanks for reaching out! Next week would be totally fine for this :)

This is something we can definitely discuss, but my thinking was that those two examples would likely should lead to no results. What do you think about `(`, `"` and maybe some other [kinds of punctuation](https://en.wikipedia.org/wiki/Punctuation) that would be used in current or future keyboards? I don't think

[2022-10-21 16:59] cdmill commented on #234
I think that `(`, `"` would be fine – and you could maybe argue for including `#` or `/`. That sounds doable, yes you can assign me, Thanks!

[2022-10-21 17:02] SaurabhJamadagni commented on #96
That works too @andrewtavis. I was also interested in the alternatives as I used CoreData once and although powerful, it's showing a little age in my opinion. I could be wrong as there's so much more I didn't use the one time I gave it a shot. I'll go through the resources you have shared asap. Thanks for sharing these! The meetup seems to have had a very productive output I assume 😊

Also I am ba

[2022-10-21 17:03] SaurabhJamadagni commented on #181
Do we need LinkedIn @andrewtavis? Maybe we could find some students or academics over there. Not sure, what do you think? Also, yes I do use reddit.

[2022-10-21 17:04] SaurabhJamadagni commented on #181
That sounds awesome! Glad to hear that 😊

[2022-10-21 17:09] andrewtavis commented on #234
Great idea for `#` and `/`! Thanks for the thoughts on this 😊 Assigning you now :)

[2022-10-21 17:10] andrewtavis commented on #96
Looking forward to the PR and learning about all this, @SaurabhJamadagni! The meetups are quite fun, yes :) Really nice people go to the Berlin ones 😊

[2022-10-21 17:12] andrewtavis commented on #181
I'd limit it to discussion style platforms as of now :) Maybe Discord, but I have no clue how that one really works. I just know it's popular with coders.

Great! Just wanted to make sure we can check that the text is added. Let's think on what to include in the prompts then 🤔

[2022-10-21 17:27] SaurabhJamadagni commented on #181
Oh right right! Sorry @andrewtavis! Discord would be good too. But I think we could have it later. Based on the discussions we have on Twitter and Reddit, it would give us a better idea on what channels to have in the Discord server.

[2022-10-21 18:15] andrewtavis commented on #181
No need to apologize, @SaurabhJamadagni! :) Sounds great about Discord 😊 Thanks for your insights!

I’ll look how to do custom text for a Reddit button and post it here :) Can I do the PR and you can review so you can check that the buttons work?

[2022-10-21 18:22] SaurabhJamadagni commented on #208
@andrewtavis, we have the word 'pouvoir' (to be able to) in the french verbs. But it's conjugations are blank. Should I still include it in the array?

[2022-10-21 18:28] SaurabhJamadagni commented on #181
That sounds good @andrewtavis 😊

[2022-10-21 18:36] andrewtavis commented on #208
I'd switch it over and do `ne` there and have that be consistent for each pronoun, @SaurabhJamadagni :) We'd need to do a simple check to see if the word is in `verbs`, and if not just present the word itself :) I only took a bit of French, but "Je ne, il ne, etc..." is quite common 😊

[2022-10-21 19:37] andrewtavis commented on #181
[Tweet](https://twitter.com/cocoaheads_ber/status/1583536546304888832?s=21) just went out from Cocoaheads Berlin, btw :)

[2022-10-22 04:00] wkyoshida commented on #89
Completely agree! :+1:

Huh.. how interesting! :thinking::laughing: unexpected outcomes reflected in the data. They will surely happen, of course, but it's just interesting to see them.

You know, I think Scribe could be fine starting off with GitHub actually. The client-side mechanism on the apps to go check for available updates would need to be implemented, and that would be regardless if it's

[2022-10-22 09:47] andrewtavis commented on #89
We can definitely do a comparison between the offerings of Toolforge and GitHub for this 😊 I don't inherently have a preference for either, but do like to keep things kind of centralized so that we're not bouncing between platforms. GitHub actions will definitely be a major step for us going forward as far as testing :)

With that being said, keeping the Wikidata related processes in a Wikimedia f

[2022-10-23 04:07] wkyoshida commented on #89
Agreed! We can definitely compare both offerings and evaluate. However, whether it ends up being GitHub or Toolforge for the long-term, I am thinking _atm_ perhaps that the GitHub route could be the starting point, mostly since I believe that the level of effort would likely be smaller (the files are already being hosted via the git repository anyways). Scribe could then, at first, focus more on c

[2022-10-23 10:13] andrewtavis commented on #89
Makes sense to me as well :) For the initial offering on this we focus on GitHub, and then we go from there 🚀

Only downloading the new differences would be great! Having to wait what'd doubtless be a long download is definitely something we'd try to avoid, and this sounds like a great solution 😊 I agree that this would also point us a bit towards Toolforge ⚒️

I guess from here we work on #16 and

[2022-10-23 23:58] wkyoshida commented on #130
Leaving some notes here that started in [this discussion](https://github.com/scribe-org/Scribe-iOS/issues/229#issuecomment-1284356978):

...
The `Home` page could have a `Set my keyboard up` form-like walkthrough with the options, target language, source language, keyboard layout, currency, etc.

I wasn't sure at first what the onboarding would end up showcasing in reality, but @andrewtavis mentio

[2022-10-24 17:29] andrewtavis commented on #130
Yes we'd likely have to ask them what language they want to have the tutorial in, @wkyoshida 🤔 Definitely the above would be included, and it'd be great to remove the preposition-case relationships in case the language they select doesn't include them. Also putting in translation and conjugation would be good, as well as a reference to them changing things in settings.

The abbreviations are alrea

[2022-10-24 17:31] andrewtavis commented on #130
And just FYI, @wkyoshida, I'm slammed for another project through Thursday, but do have all this in mind :) Will also get some feedback from a senior iOS dev about how to do the database #89 hopefully by the end of the week 😊

[2022-10-24 18:27] adnanhz opened #241 "Use letter combinations to add German umlauts"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Since I like to type fast, I usually like to have all the keyboards on my phone in the same QWERTY layo

[2022-10-25 18:08] andrewtavis opened #242 "Add description of debugging the debugger to contributing and readme"
### Terms

- [X] I have searched [open and closed issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Issue

Something that's very problematic for new Scribe contributors is that it's hard to get the debugger to work properly. As keyboards are

[2022-10-25 18:11] andrewtavis commented on #242
@helloITdepartment, issue's here for you 😊 GitHub renders ⚠️ as `⚠️` but large in readmes, kind of like the up arrows for navigating back to the table of contents. I kind of like it, but am open to your suggestions on how to make it more apparent :)

Great talking to you!

[2022-10-25 18:14] andrewtavis commented on #34
Btw, feel free to add a little blurb about this into the [CHANGELOG.md](https://github.com/scribe-org/Scribe-iOS/blob/main/CHANGELOG.md) for v2.1.0 🚀 Thanks for all the hard work! Really glad we figured it out, and looking forward to seeing it animated!

[2022-10-25 19:08] adnanhz opened #243 "Add Swipe support for hold-to-select design"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

In #26, hold-to-select keys were implemented. I'm not sure if this could or should be implemented indep

[2022-10-25 19:10] adnanhz commented on #243
Update: I see this was mentioned in the original issue actually.

Not sure what is meant by that, is it that the difference options would be part of a menu option?

[2022-10-25 19:27] andrewtavis commented on #243
I had #150 for this, @adnanhz! 😝😊 I'll delete that one and we can work from here 😇 Honestly I'd love to have this as it's a major thing that's not what a user would expect. Issue is that I really am not sure how best to implement this, but with that being said there could be a library or a basic method? If you'd like to look into that or how best to implement hold swiping in Swift as some basic re

[2022-10-25 19:29] andrewtavis commented on #150
Deleting this as work will continue in #243 for this 😊

[2022-10-25 19:29] #150 closed

[2022-10-25 22:23] helloITdepartment commented on #242
Thanks! I'll get to work on it soon as I'm assigned. Gotta get those four hacktober requests in soon anyway 😉

[2022-10-25 23:27] andrewtavis commented on #242
Assigned, @helloITdepartment! I'll check the other PR Thursday evening after a presentation I have :) Thanks for it!

[2022-10-26 23:43] cdmill commented on #234
@andrewtavis for this do you mean if a user enters "(h" and the user clicks an autocomplete option, that the punctuation is not deleted from the keyboard in the view? Because if we just use `replaceOccurrences` to remove the punctuation from the input for getting the auto completions, then that works already without having to store the difference in lengths or correcting the deletion. Or, were you

[2022-10-27 14:42] andrewtavis commented on #234
This is exactly what I mean, @cdmill 😊 I think that your method makes total sense. I just have a tendency to extrapolate and write about possible issues when I'm writing it so I don't forget to check for them.

Sounds like you have a great grasp of what needs to happen, so feel free to send along a PR and we can work through it in there :) Really looking forward to adding this in!

[2022-10-27 15:29] cdmill commented on #234
No problem! I just like to clarify sometimes so there's no misunderstanding. I submitted the PR, thanks!

[2022-10-27 16:19] andrewtavis commented on #234
I realized when playing more that you you accidentally added slash escape before hashtags in the replace, @cdmill 😊 320ba7e fixes that and updates the changelog 🚀 Really great for a first contribution! Appreciate it lots :)

[2022-10-27 16:19] #234 closed

[2022-10-27 16:27] cdmill commented on #234
Thanks!

[2022-10-27 17:40] andrewtavis commented on #34
Thanks for your work on this, @helloITdepartment! As mentioned, might be good to check the GitHub docs on [pull requests](https://docs.github.com/en/get-started/quickstart/github-flow). Really was fine though! Really excited to have this in there now! 😊

[2022-10-27 17:40] #34 closed

[2022-10-27 17:41] andrewtavis commented on #242
I made some minor changes to the descriptions and added the section to the table of contents in the changelog, @helloITdepartment, but aside from that all of this was great 😊 Thanks for your efforts here, and looking forward to working with you on more issues! 🚀

[2022-10-27 17:41] #242 closed

[2022-10-27 21:36] andrewtavis commented on #208
Looking at the [Changelog](https://github.com/scribe-org/Scribe-iOS/blob/main/CHANGELOG.md), @SaurabhJamadagni, I think we'd be good to release v2.1 after this is closed, right? :) One massive update for v2 and another one soon after 🚀

[2022-10-28 21:54] andrewtavis commented on #201
Closed in 06eaf3b :)

[2022-10-28 21:54] #201 closed

[2022-10-28 22:44] andrewtavis commented on #147
@AE542, just wanted to let you know that I was able to figure this out 😊 You can check the commit [ca63c77](https://github.com/scribe-org/Scribe-iOS/commit/ca63c7720213e08c481d0aa07905253f181e8877) to see how it's done. I basically counted the number of deletes, and then set up some break points where after 20 deletes the `backspaceTimer` is invalidated and replaced with a faster one, and once 50

[2022-10-28 22:44] #147 closed

[2022-10-28 23:35] andrewtavis opened #248 "Data update for v2.1.0"
### Terms

- [X] I have searched [open and closed data issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adata+)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Languages

All languages

### Description

This issue is to track the data update for v2.1.0. The processes in Scribe-Data

[2022-10-29 03:25] SaurabhJamadagni commented on #208
Yes @andrewtavis, looks like it. I am a bit out of town so couldn't get back to you sooner. Else would have closed this issue earlier 😅

I am returning today so will get some work done for this. When should we meet to discuss how to proceed after this? I think the major part to be discussed is implementing the data querying changes. Anything else that comes to mind?

[2022-10-29 07:42] andrewtavis commented on #208
All good, @SaurabhJamadagni! There's no urgency for v2.1.0. I've also been super busy and wanted to fix #147 and #201 for some time, but just haven't had the chance 😊

We could do a call tomorrow morning if that'd work, or if not sometime in the evening next week :) I'd say let's keep the current focus for the data and have that be the goal for v2.2.0 🚀

[2022-10-29 12:38] andrewtavis commented on #96
Further feedback on from a coder from the iOS meetup here in Berlin is that the best option would be to go with [SQLite.swift](https://github.com/stephencelis/SQLite.swift). I still haven't had the time to go through the tutorials for that, but will start looking into them when we're done with #208 and #248 and v2.1.0 is released 😊

[2022-10-29 22:57] andrewtavis commented on #169
Closed in [ca85664](https://github.com/scribe-org/Scribe-iOS/commit/ca856643de6ef50a4254127260faa3b1075c436c) :)

[2022-10-29 22:57] #169 closed

[2022-10-30 10:42] andrewtavis commented on #104
Implemented in the above two commits :)

[2022-10-30 10:42] #104 closed

[2022-10-30 10:47] andrewtavis commented on #208
Also @SaurabhJamadagni, let me know what you think of the issue template I just wrote up in #104. I didn't want it to be toooo involved at this point, but we did get some PRs on main branches recently, so wanted to include that. The changelog has also already been updated with the expected changes for this issue, so no stress on that for the next PR 😎

Not too sure what else I'd add to it 🤔 I see

[2022-10-30 10:58] andrewtavis commented on #181
And a note on this front @SaurabhJamadagni, someone who was in an accelerator I was taking part in has a contact at the [Goethe-Institut](https://en.wikipedia.org/wiki/Goethe-Institut), so I'll hopefully be getting in contact with them soonish :) I think that the data issue should be solved before we do any major push into learning/culture institutions, but then we should have a solution for that

[2022-10-30 11:08] andrewtavis opened #249 "Add demonstrative pronouns to German case declination displays"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue would add declinations for demonstrative pronouns (this and these) into the display that use

[2022-10-30 13:36] AE542 commented on #147
Hi Andrew. This is awesome! I had a look at the commit and saw it was as simple as invalidating the timer with a var to hold the delete counts. Quite simple but it looks like it works! Sorry I couldn't be of much help. But thanks for reaching out about this! I'll have a look at other beginner issues and take a shot at them when I have time :). Thanks again

[2022-10-30 15:35] andrewtavis commented on #147
Happy to reach out, @AE542!! Let me know if you’d like a suggestion for an issue to try 😊

Hope you’re having a nice weekend :) :)

[2022-10-31 14:56] SaurabhJamadagni commented on #208
Hey @andrewtavis! Do you want me to work on a CLA (Contributor License Agreement)? I think as the contributor base grows, those would be necessary. I don't know much about them, but the few organisations I have contributed to in the past, all required to sign a CLA. Let me know what you think.

[2022-10-31 15:00] SaurabhJamadagni commented on #181
Yes absolutely. That sounds great @andrewtavis! I have an exam coming this weekend, so I may be a bit inactive the coming half of this week (not as if I have been very active currently 🤪. Sorry, I am a bit swamped with a few different things). Thought I'll inform you in case I am unable to communicate later. But I'll definitely join you in bringing the SQLite changes in. I am very curious about it

[2022-10-31 16:52] andrewtavis commented on #208
We can definitely look into one, @SaurabhJamadagni, but then again we don’t have a place to put it for people to sign as of now as we don’t have a website. I’d say this is something for later, and at the start it’d maybe be “suggested.” With that being said, you’re welcome to work on it! 😊 This could potentially live in [scribe-org/Organization](https://github.com/scribe-org/Organization)?

[2022-11-02 04:11] wkyoshida commented on #7
As mentioned in this [discussion](https://github.com/scribe-org/Scribe-Data/issues/14#issuecomment-1299537864), I would be curious to hear thoughts on where the English keyboard now fits into the roadmap. I feel that the need is definitely there :pray:

[2022-11-03 08:06] andrewtavis commented on #7
Glad to revisit this, @wkyoshida 😊

Big thing as I mentioned above is that we need to be able to choose which language to translate from. Listening to the interest here, I think it makes sense that we do something along the lines of translations being an option for any language pair that we can find a viable [🤗 Hugging Face](https://huggingface.co/) model for. This would mean that we can do Englis

[2022-11-03 08:22] andrewtavis commented on #7
Another thing we're hoping to do at some point, @wkyoshida, is to do a launch on [Product Hunt](https://www.producthunt.com/). I think that as soon as we have the above translation pairs in place we'd be ready to make a splash 😊

[2022-11-04 23:03] andrewtavis commented on #248
https://github.com/scribe-org/Scribe-Data/issues/21 allows for the full French verb data to be updated. There may be issues with the new versions of the script, with these being solved as a part of this issue :)

[2022-11-05 08:46] andrewtavis commented on #208
Hey @SaurabhJamadagni 👋 Firstly, I hope the test went well or goes well! [d24f25e](https://github.com/scribe-org/Scribe-iOS/commit/d24f25e0eb31c891c105ec3a1a3a53b539972032) adds the last part for this issue 😊 I figured it's easier for me to do this anyway as a Spanish speaker, and the big thing is that I think it's good that we get v2.1.0 out now before some meetings that I have next week, and als

[2022-11-05 08:46] #208 closed

[2022-11-05 09:16] andrewtavis commented on #248
Closed in 96537d7 :)

[2022-11-05 09:16] #248 closed

[2022-11-05 15:44] andrewtavis commented on #96
@SaurabhJamadagni, I added a roadmap to the readme contributors section - just FYI. Would be great to get your feedback on that! I've been having an extended discussion about it in https://github.com/scribe-org/Scribe-Data/issues/14 (summary of that: using the emoji package doesn't make sense, we're going directly from Unicode sources for the words we want emoji suggestions for, and the goal is to

[2022-11-05 22:35] andrewtavis commented on #181
Also trying to get Scribe featured on Tech blogs would be good :) The following could be considered:

- [ ] [TechCrunch](https://techcrunch.com/?guccounter=1)

[2022-11-06 03:13] wkyoshida commented on #7
Gotchu! Thanks - I think that what you shared makes sense, @andrewtavis! :+1:
I did notice as well the new issue created for the translation data, https://github.com/scribe-org/Scribe-Data/issues/23.

Oh - I see! That would be pretty exciting :raised_hands: I just noticed it also has been in the outreach plans, https://github.com/scribe-org/Scribe-iOS/issues/181

[2022-11-06 09:22] andrewtavis opened #250 "Highlight autocompletion if it is the word typed"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

This issue a a simple one to reflect system behavior where when the keyboard suggests the exact word th

[2022-11-06 09:28] andrewtavis opened #251 "Autocomplete to words given misspelled inputs"
### Terms

- [X] I have searched [open and closed feature requests](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Afeature)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

The goal of this issue is to allow Scribe to suggest proper spellings of words within autocomplete. For

[2022-11-07 12:21] SaurabhJamadagni commented on #208
Hey @andrewtavis! Thanks the easiest way I can describe this exam is that I have mixed feelings 😂

Awesome! Thank you so much for the addition. Let's do a call to discuss the changes that will have to be made. Let me know when you would be available and we can plan one accordingly. 😊

[2022-11-07 12:27] SaurabhJamadagni commented on #181
Yes absolutely @andrewtavis! We could also try to write a Medium or a developer blog (Ex: dev.to) article highlighting the features of Scribe. Maybe even I'll learn some new features of Scribe along the way. Let me know what you think.

[2022-11-07 12:52] SaurabhJamadagni commented on #96
The roadmap looks great @andrewtavis. I was wondering if adding the English keyboard should be done sooner, but it is best to keep it for a major version update. Although, is there a different place where we can move the bullet points for Scribe-Android and Scribe-Data instead of inside the Scribe-iOS repo? Just nitpicking, else the points look golden! 🚀

I tried to read through it. Can't say I un

[2022-11-07 17:37] Austinate commented on #16
Hi there!

I'd like to share some suggestions if you don't mind :)

1) Maybe we could consider using TabBar instead of hamburger menu? They cab be a bit more clear from the UX perspective to the user. So, for example, we might have 3 following tabs:
         1) Home
         2) Settings
         3) About (Privacy Policy,  Contact, Wikidata etc)

Or we could consider having just 2 tabs: Home and Se

[2022-11-07 19:07] andrewtavis commented on #181
Sounds really great! Do you know what the process would be to get published there? :)

[2022-11-07 19:14] andrewtavis commented on #96
The general idea now is to start using the new version of GitHub projects and just link to them that way :) Makes sense to me that it's the best way of organizing everything going forward, and that way we'd just link to the projects in order of their importance.

As far as a call, what day of the week would you be available? Wednesday or Thursday evening? I'm thinking I'm gonna get some designs fo

[2022-11-07 19:23] andrewtavis commented on #16
Ahhhhhh shittttttt 🙇‍♂️😊

Great to hear from you! I actually was just working on this yesterday, and totally agree that a TabBar would be the way to go. I also was thinking that three options with home, settings and about would be best too, as there will be enough going on for settings like options for specific keyboards that it'd be good to have it in its own tab. As far as SwiftUI is concerned,

[2022-11-07 19:51] Austinate commented on #16
Hey hey! Glad to hear back from you too! 👋 😄

I think that might be an interesting exercise and it will allow us to be more flexible with the designs, however if we decide to go that route it might be worth to bump the min required iOS version to at least 14.x or even 15.x — it's a common practice to support only 2 latest os versions.

 Maybe we could review the stats for iOS version usage from Ap

[2022-11-08 00:09] andrewtavis commented on #16
Happy to bump the minimum version up to 14.x if we'll get some worthwhile functionality from it and avoid some headaches 😊 I just checked, and there are users in 14.x range, but no one's on 13.x at this point :)

Looks great! Glad to have an example to work from too! Thanks for putting all that together 🙏

Hammered away at the design/prototype tonight and was able to get what I hope is a solid bas

[2022-11-08 04:05] SaurabhJamadagni commented on #181
Yeah, for these platforms I think it is as easy as just creating a new post and posting it. I don't think that should be a challenge.

[2022-11-08 04:10] SaurabhJamadagni commented on #96
Thursday works @andrewtavis. What time should we have the call? Would 17:00 UTC do?

[2022-11-08 04:24] SaurabhJamadagni commented on #16
Hi @andrewtavis! The design looks great to me. We should also probably add the large Scribe header to the `Installation` screen. It is missing from the mockups right now but I find it to be a nice touch haha.

This one
<img width="297" alt="image" src="https://user-images.githubusercontent.com/68957712/200473855-a8b5df3f-d083-4edc-8015-d331ddd8ceaf.png">

Super excited for all the new changes comi

[2022-11-08 04:33] wkyoshida commented on #16
Very nice, all! :raised_hands: This is awesome

My curiosity - what would `Wikimedia and Scribe` in the `About` page lead to? Would it be something like one of the articles/presentations on Scribe?

Also, we've already touched on some of these already in other discussions, but an interesting thing for later on, I think, could be the ability for the extended customization for all different combinat

[2022-11-08 08:29] andrewtavis commented on #181
Perfect :) Maybe post fixing the data issues, or that plus menu and then we can start reaching out?

[2022-11-08 08:30] andrewtavis commented on #96
17 UTC works, @SaurabhJamadagni 😊 Sending along an invite :)

[2022-11-08 08:33] andrewtavis commented on #16
I find it nice too and was kind of missing it :) Is a nice welcome to the app. Will play around a bit and add it in soon 😊

[2022-11-08 08:40] andrewtavis commented on #16
I'd say for now just a description of what Wikidata is with their logo and an explanation of how we're using it/working with them. Something short to explain it, but not necessarily take them out of the app :)

Really good point - that the way that it's set up now it's not being done on a per keyboard basis. I think from the start it makes sense to just have global settings for currency symbols an

[2022-11-08 13:40] techsandu commented on #250
Hey @andrewtavis can you please assign this in my name? I will look into this and come back.

[2022-11-08 13:50] andrewtavis commented on #250
Sure thing, @techsandu! Thanks for reaching out!

Would you like me to give you a detailed breakdown of where to look in the codes? Happy to send something along to contextualize this for you 😊

[2022-11-08 16:25] andrewtavis commented on #250
In case it would be helpful, the assignment of the word is within this function:
https://github.com/scribe-org/Scribe-iOS/blob/fb268f43383a0215dd74ddc8648ea35b493503f1/Keyboards/KeyboardsBase/KeyboardViewController.swift#L360

So basically we need to do a comparison of the word that's in the proxy with `completionWords[0]`, as naturally the first suggestion would be the one we want a slightly diff

[2022-11-08 18:28] andrewtavis commented on #16
[The designs](https://www.figma.com/file/c8945w2iyoPYVhsqW7vRn6/scribe_public_designs?node-id=405%3A393) have been updated and now include an app flow for most of what we've been talking about 😊 Let me know if anything else should be changed :) Generally I'm thinking that we can just blink the text for most fields when the user clicks on them.

![Scribe App Screen](https://user-images.githubuserco

[2022-11-09 05:02] wkyoshida commented on #16
Potentially, it could be dynamic sub-menus for each keyboard that the user has. Something like a `Your Keyboards` with each keyboard as an option, clicking on an option would lead to the settings sub-menu for that keyboard. By default, `Your Keyboards` would be empty, but would populate with each keyboard added? Brainstorming.. :brain::cloud_with_lightning:

I feel like that makes sense

Hmm.. per

[2022-11-09 09:07] SaurabhJamadagni commented on #16
I agree with keeping the user in the app itself for the privacy policy and licenses @andrewtavis. A scrollable window that shows the document would be a good idea. Something apple provides when they present the terms of agreement when updating OS.

Something of this sort.
<img width="435" alt="image" src="https://user-images.githubusercontent.com/68957712/200785056-2ddb305c-2865-472c-b17a-18c80ef1

[2022-11-12 03:15] wkyoshida commented on #16
Yea, perhaps it could. I guess I'm just considering how this bug-reporting workflow would look like for someone on iOS or Android. Desktop is a different case, but for mobile users, it will likely mean opening GitHub on whatever mobile browser they use and attempting to write a bug report there. I find mobile GitHub to be a bit _meh_ to use. Then there's even just the factors that a user would als

[2022-11-12 16:37] andrewtavis commented on #16
Yes I'd say for now linking to `Issues` is ok, and we can see where it goes from there :) I don't think that linking directly to the bug report issue template is necessary. Ultimately if they want to contact us, then they can via email as well, which will also be included 😊

[2022-11-15 20:52] andrewtavis commented on #16
Am feeling better from a nasty cold and am looking at all this now :) A minor note for documentation is that [this SO question](https://stackoverflow.com/questions/25675628/how-to-detect-whether-custom-keyboard-is-activated-from-the-keyboards-container) seems to have a method to detect if a custom keyboard has been installed. If so, and if it can be specific keyboards within the bundle rather than

[2022-11-15 22:43] andrewtavis commented on #16
I just finished up the baseline designs and changed the flow to one where the user can first select an installed keyboard in settings. My intuition would be that `Settings` would be a bit more greyed out if there's not a keyboard installed, and hitting it would trigger a hint to tell them to install a keyboard. Also now included is how the privacy policy and other `About` screens could look. They

[2022-11-16 05:03] wkyoshida commented on #16
Oh also, very minor comment - just felt that the font for the `About` pages seemed a tad small. Other than that though, I think the format for how they look seems good :grin::+1:

[2022-11-16 08:23] andrewtavis commented on #16
I agree on this :) Let me give another thought to this and we can edit it a bit. Initial impressions are that some form of your first option would be better, as having the per keyboard settings that deep in the menu as in the second version would likely hide this functionality from many. For now I've added an option for `All keyboards`, but that's just a placeholder for now until we figure out a b

[2022-11-16 18:45] andrewtavis commented on #96
@austinate, @SaurabhJamadagni and I have been discussing how to implement [SQLite.swift](https://github.com/stephencelis/SQLite.swift), and had a few questions 🙂 Where we're at is:

- We're going to write functions to create tables for each type of word (nouns, verbs, etc)
    - The function would delete the current version of the table and repopulate it from the JSON so that the tables are automa

[2022-11-16 19:45] andrewtavis opened #252 "Design update"
### Terms

- [X] I have searched [open and closed design issues](https://github.com/scribe-org/Scribe-iOS/issues?q=is%3Aissue+label%3Adesign)
- [X] I agree to follow Scribe-iOS' [Code of Conduct](https://github.com/scribe-org/Scribe-iOS/blob/main/.github/CODE_OF_CONDUCT.md)

### Description

Scribe needs a bit of an overhaul to make the app a bit more visually appealing. Specifically what needs to

[2022-11-21 15:45] andrewtavis commented on #252
Closed in 2932bb6 :)

[2022-11-21 15:45] #252 closed

[2022-11-23 23:14] andrewtavis commented on #51
@SaurabhJamadagni, FYI we have the data for emoji autosuggestions now via 1cc1ea5 🥳🙌

[2022-11-24 07:48] andrewtavis commented on #250
@techsandu, checking in with you on this :) Let me know if you need any assistance 😊

[2022-11-26 14:07] gmmoraes commented on #214
@andrewtavis

Heyy, is this taks still available? I would love to help.

I have added some ideas of design for the tooltip. Maybe it could be a modal with 3 pages overall (one for each of the bullet points listed in first post).

- What Wikidata is
- That Scribe gets its data from there
- That the user can contribute to improve Scribe data

![Screen Shot 2022-11-26 at 09 36 53](https://user-images

[2022-11-27 00:27] cameronslee23 commented on #250
Hi @andrewtavis, Could you assign this issue to me? This is my first contribution to an open source project and I have a pull request ready to submit. I'm still a little bit confused about the process of contributing so any guidance would be much appreciated!

[2022-11-27 10:01] andrewtavis commented on #214
Hey @gmmoraes! The task is still available 😊 Regarding your idea for the content:

I think this is perfect! 🚀

A note on the first screen: the location of elements within custom keyboard extensions is limited to the dimensions of the keyboard itself - i.e. we cannot have the tooltip extending above the height of the keyboard. We do have a 1x1 conjugation display that covers the keyboard and has le

[2022-11-27 10:43] andrewtavis commented on #250
Happy to assign it given you have a PR, @cameronslee23 :) I'll check the contribution later on today and get back to you! 😊

[2022-11-27 12:55] andrewtavis commented on #250
PR was exactly what we're looking for in contributions, @cameronslee23 😊 Thanks for updating the changelog as well. The only thing I added was a period at the end of the entry in there 🙃 Hope to work with you more in the future! 🚀

[2022-11-27 12:55] #250 closed

[2022-11-27 13:02] andrewtavis commented on #250
@cameronslee23, one thing to check is whether your email is set up correctly for GitHub. You're currently not listed [in the contributors](https://github.com/scribe-org/Scribe-iOS/graphs/contributors). This [Stack Overflow question](https://stackoverflow.com/questions/40644933/not-showing-as-a-contributor-on-github) talks about it :) Would be great if you could fix that as you'd be our 10th contri

[2022-11-27 16:26] gmmoraes commented on #214
@andrewtavis, I would love to take this issue.
Regarding your suggestion, i think that the idea is great!

The implementation of this idea would be to create a custom card view with a layout similar o image 3 (in my first post) and display it inside the 1x1 conjugation when info button is pressed?
The interaction with the left button would show the previous item inside the card view and the right

[2022-11-27 16:32] andrewtavis commented on #214
Yes, @gmmoraes, this sounds perfect to me 😊 Let me map this out a bit for you, as it is a `good first issue`, but definitely on the hard side. Would likely help if I show you how to get that 1x1 view up and running with the enum options for the keyboard :) Assigning you now, and I'll write something up for a more in depth explanation now 🙃

[2022-11-27 17:25] andrewtavis commented on #214
Typing this out as I eat 😋

So what we want to have happen is for the `loadKeys` function at this part of the keyboard view controller to be triggered and for the view we're discussing to be displayed to the user:
https://github.com/scribe-org/Scribe-iOS/blob/c1759b242ed8eda86f3a0463c9bd1d8158d79d1d/Keyboards/KeyboardsBase/KeyboardViewController.swift#L1085

1. To see if info button we have `comma

[2022-11-28 05:48] cameronslee23 commented on #250
@andrewtavis Thank you! I updated my email settings so hopefully I show up on the list soon! Hope to work with you in the future as well :)

[2022-11-28 08:25] andrewtavis commented on #250
You should be in there in a few days, @cameronslee23 :) Sometimes takes a bit for this setting to update 😊

Thanks again!

[2022-11-29 08:28] andrewtavis commented on #214
I'll get to writing something for these screens later today 😊 Thanks, @gmmoraes!

[2022-11-29 12:53] andrewtavis commented on #214
What I was thinking for the three screens is:

- Wikidata is a collaboratively edited knowledge graph that's maintained by the Wikimedia Foundation. It serves as a source of open data for projects like Wikipedia.
- Scribe uses Wikidata's language data for many of its core features. We get information like noun genders, verb conjugations and much more!
- You can make an account at wikidata.org to j

[2022-11-30 02:38] gmmoraes commented on #214
@andrewtavis Thanks! It's great, the amount of text fits well with the space available for the tootip.

Is there any place recommend to add these texts (like a localization file)?

[2022-11-30 10:18] andrewtavis commented on #214
Really good question, @gmmoraes :) We haven't worked out localization of the app really at all at this point except for making baseline English files that hopefully will the translated. I'd say that for now these strings can go in [ENAppText.swift](https://github.com/scribe-org/Scribe-iOS/blob/main/Scribe/AppTexts/English/ENAppText.swift) 😊